﻿@model QLQ.Core.CustomView.SotheoDoiModel

@{
    ViewBag.Title = "Số theo dõi lãi suất ngân hàng";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}
<script>
    function btn_InAnClick() {
        var NganHang = cbb_NganHang.GetValue();
        var ThoiGian = date_HieuLuc.GetValue();
        var loai = cbb_loaiLS.GetValue();
        var type = cbb_type.GetValue();
        LoadingPanel.Show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("fn_InAn", "SoTheoDoi")',
            data: {
                nganHang: NganHang,
                year: ThoiGian,
                cnTc: loai,
                type: type
            }
        }).done(function (result) {
            LoadingPanel.Hide();
            $("#SoTheoDoi_Report").html(result);
        });
    }
</script>
<div id="gridview" style="width:60%; margin:auto;">
    @Html.Action("SoTheoDoiPartial")
</div>
@Html.Partial("_Message")
@Html.Partial("_MessageSuccess")
@Html.Partial("LoadingPanel")
<div id="SoTheoDoi_Report"></div>