﻿@*@Html.DevExpress().GridView(
    settings =>
    {
        settings.Name = "gvPer";
        settings.KeyFieldName = "permission_id";
        settings.CallbackRouteValues = new { Controller = "RolePermission", Action = "ContentPartial" };
        settings.ControlStyle.CssClass = "grid";
        settings.Width = Unit.Percentage(70);
        settings.Columns.Add("Name");
        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowSelectCheckbox = true;
        settings.ClientSideEvents.SelectionChanged = "SelectionChanged";
    }).Bind(Model).GetHtml()*@

<table style="width:100%;text-align:center;">
    <tr>
        <td style="width:40%;">Danh sách quyền:</td>
        <td style="width:20%"></td>
        <td style="width:40%;">Chọn quyền:</td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().ListBox(
            settings =>
            {
                settings.Name = "lst_Per";
                settings.Width = 400;
                settings.Height = 150;
                settings.Properties.EnableClientSideAPI = true;
                settings.Properties.ValueField = "permission_id";
                settings.Properties.TextField = "name";
                settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s, e) { lastModifiedItem = e.index; btn_moi.SetEnabled(true); btn_xoa.SetEnabled(false)}";
            }).BindList(ViewBag.ListPer).GetHtml()
        </td>
        <td>
            @Html.DevExpress().FormLayout(s =>
       {
           s.Name = "FormBot";
           s.EncodeHtml = false;
           s.Width = Unit.Percentage(100); ;
           var group = s.Items.AddGroupItem(gi =>
           {
               gi.ShowCaption = DefaultBoolean.False;
               gi.HorizontalAlign = FormLayoutHorizontalAlign.Right;
               gi.ColCount = 2;
               gi.Width = Unit.Percentage(100);
               gi.GroupBoxDecoration = GroupBoxDecoration.None;
           });
           group.Items.Add(i =>
           {
               i.ShowCaption = DefaultBoolean.False;
               i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
               i.Name = "btn_moi";
               i.Height = 30;
               i.NestedExtension().Button(s2 =>
               {
                   s2.Name = "btn_moi";
                   s2.Width = Unit.Pixel(120);
                   s2.Text = "Thêm quyền";
                   s2.Height = 30;
                   s2.Images.Image.Url = Url.Content("~/Content/Images/Plus-16.png");
                   s2.ClientSideEvents.Click = "OnAddClick";
                   s2.ClientEnabled = false;
               });
           });
           group.Items.Add(i =>
           {
               i.ShowCaption = DefaultBoolean.False;
               i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
               i.Name = "btn_xoa";
               i.Height = 30;
               i.NestedExtension().Button(s2 =>
               {
                   s2.Name = "btn_xoa";
                   s2.Width = Unit.Pixel(120);
                   s2.Text = "Xóa quyền";
                   s2.Height = 30;
                   s2.Images.Image.IconID = IconID.ActionsEdit16x16devav;
                   s2.Images.Image.Url = Url.Content("~/Content/Images/Edit-16.png");
                   s2.ClientSideEvents.Click = "OnRemoveClick";
                   s2.ClientEnabled = false;
               });
           });

       }).GetHtml()
            @*<input type="button" class="btn" value="Thêm quyền" onclick="OnAddClick()" style="width:120px" />
                <br />
                <br />
                <input type="button" class="btn" value="Xóa quyền" onclick="OnRemoveClick()" style="width:120px" />*@
        </td>
        <td>
            @Html.DevExpress().ListBox(
            settings =>
            {
                settings.Name = "lst_RolerPer";
                settings.Width = 400;
                settings.Height = 150;
                settings.Properties.EnableClientSideAPI = true;
                settings.Properties.ValueField = "permission_id";
                settings.Properties.TextField = "permission_id";
                settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s, e) { lastModifiedItem = e.index; btn_xoa.SetEnabled(true); btn_moi.SetEnabled(false)}";
                settings.PreRender = (sender, e) =>
                {
                    if (ViewBag.ListRolePer != null)
                    {
                        var lb = (ASPxListBox)sender;
                        foreach (ListEditItem item in lb.Items)
                        {
                            foreach (var item1 in ViewBag.ListPer)
                            {
                                if (item.Value.ToString() == item1.permission_id.ToString())
                                    item.Text = item1.name;
                            }
                        }
                    }
                };
            }).BindList(ViewBag.ListRolePer).GetHtml()
        </td>
    </tr>
</table>