﻿@using QLQ.Core.Domain
@{
    ViewBag.Title = "Quản lý phân quyền";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

}
@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}

<style>
    #gvPer_DXMainTable {
        border-right: 1px solid #c0c0c0;
        border-bottom: 1px solid #c0c0c0;
    }

    /*.Font-weight-bold {
        font-weight: bold !important;
    }

    .Read-Only {
        background: azure;
        color: gray;
        font-weight: bold !important;
    }

    .formLayout {
        max-width: 1300px;
        margin: auto;
    }

    .checkboxclass {
        color: blue;
        width: 16px;
        height: 16px;
    }*/
</style>
<script type="text/javascript">
    //function SelectionChanged(s, e) {
    //    s.GetSelectedFieldValues("name", GetSelectedFieldValuesCallback);
    //}
    //function GetSelectedFieldValuesCallback(values) {
    //    SelectedRows.BeginUpdate();
    //    try {
    //        SelectedRows.ClearItems();
    //        for (var i = 0; i < values.length; i++) {
    //            SelectedRows.AddItem(values[i]);
    //        }
    //    } finally {
    //        SelectedRows.EndUpdate();
    //    }
    //    //$("#count").html(gvPer.GetSelectedRowCount());
    //}
    var lastModifiedItem = null;
    function OnAddClick() {
        if (lastModifiedItem != null)
        {
            var Role_ID = ComboBoxNhomQuyen.GetValue();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ActionAdd", "RolePermission")',
                data: { roleId: Role_ID, index: lastModifiedItem }
            }).done(function (result) {
                $("#content_Partial").html(result);
            });
        }
    }
    function OnRemoveClick() {
        if (lastModifiedItem != null) {
            var Role_ID = ComboBoxNhomQuyen.GetValue();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ActionRemoved", "RolePermission")',
                data: { roleId: Role_ID, index: lastModifiedItem }
            }).done(function (result) {
                $("#content_Partial").html(result);
            });
        }
    }
    function onCbbChange(s, e) {
        var obj_ID = ComboBoxObject.GetValue();
        var Role_ID = ComboBoxNhomQuyen.GetValue();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ContentPartial", "RolePermission")',
            data: { objId: obj_ID, roleId: Role_ID }
        }).done(function (result) {
            $("#content_Partial").html(result);
        });
    }
</script>
@using (Html.BeginForm())
{
    <div>
        <div>
            <ul class="ul-tieude">
                <li>
                    <span>Danh mục chức năng</span>
                </li>
            </ul>
        </div>
        @*<div class="col-xs-12 text-right btn-span" id="demo">
                <div class="img-span" style="padding-bottom:18px"><img src="~/Content/Images/icon_mo_rong.png" /></div>
            </div>*@
        <div class="col-sm-12 none-padding chitiet" style="padding-bottom:15px">
            @*@Html.Partial("FilterView")*@
        </div>
    </div>
    <div style="width:100%">
        <div style="width: 100%; vertical-align: top; margin-left:7%; margin-top:3%">
            <div style="width: 40%; float: left; padding-bottom: 15px; margin-left:30px">
                @Html.DevExpress().ComboBox(settings =>
           {
               settings.Name = "ComboBoxNhomQuyen";
               settings.Width = Unit.Percentage(96);
               settings.Properties.Caption = "Nhóm quyền";
               settings.SelectedIndex = 0;
               settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
               settings.Properties.DropDownStyle = DropDownStyle.DropDown;
               settings.Properties.ValueType = typeof(string);
               settings.Properties.ValueField = "role_id";
               settings.Properties.TextField = "name";
               settings.Properties.ClientSideEvents.SelectedIndexChanged = "onCbbChange";
           }).BindList(ViewData["Role"]).GetHtml()
            </div>
            <div style="width: 40%; float: left; padding-bottom: 15px;">
                @Html.DevExpress().ComboBox(settings =>
           {
               settings.Name = "ComboBoxObject";
               settings.Width = Unit.Percentage(96);
               settings.Properties.Caption = "Nhóm chức năng";
               settings.SelectedIndex = 0;
               settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
               settings.Properties.DropDownStyle = DropDownStyle.DropDown;
               settings.Properties.ValueType = typeof(string);
               settings.Properties.ValueField = "object_id";
               settings.Properties.TextField = "object_name";
               settings.Properties.ClientSideEvents.SelectedIndexChanged = "onCbbChange";
           }).BindList(ViewData["Object"]).GetHtml()
            </div>
        </div>
        <div id="content_Partial" style="float:left; width:100%">
            @Html.Action("ContentPartial");
        </div>
    </div>
    @*<div class="col-sm-12 none-padding footer">
        <div class="btm-toolbar">
            @Html.Partial("Footer")
        </div>
    </div>*@
}
@*@Html.DevExpress().RoundPanel(settings =>
       {
           settings.Name = "roundPanel";
           settings.AllowCollapsingByHeaderClick = true;
           settings.ShowCollapseButton = true;
           settings.EnableAnimation = true;
           settings.Width = Unit.Percentage(98);
           settings.HeaderText = "Quản lý phân quyển";
       }).GetHtml()
<div style="width:100%">
    <div style="width: 100%; vertical-align: top; margin-left:7%; margin-top:3%">
        <div style="width: 40%; float: left; padding-bottom: 15px; margin-left:30px">
            @Html.DevExpress().ComboBox(settings =>
           {
               settings.Name = "ComboBoxNhomQuyen";
               settings.Width = Unit.Percentage(96);
               settings.Properties.Caption = "Nhóm quyền";
               settings.SelectedIndex = 0;
               settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
               settings.Properties.DropDownStyle = DropDownStyle.DropDown;
               settings.Properties.ValueType = typeof(string);
               settings.Properties.ValueField = "role_id";
               settings.Properties.TextField = "name";
               settings.Properties.ClientSideEvents.SelectedIndexChanged = "onCbbChange";
           }).BindList(ViewData["Role"]).GetHtml()
        </div>
        <div style="width: 40%; float: left; padding-bottom: 15px;">
            @Html.DevExpress().ComboBox(settings =>
           {
               settings.Name = "ComboBoxObject";
               settings.Width = Unit.Percentage(96);
               settings.Properties.Caption = "Nhóm chức năng";
               settings.SelectedIndex = 0;
               settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
               settings.Properties.DropDownStyle = DropDownStyle.DropDown;
               settings.Properties.ValueType = typeof(string);
               settings.Properties.ValueField = "object_id";
               settings.Properties.TextField = "object_name";
               settings.Properties.ClientSideEvents.SelectedIndexChanged = "onCbbChange";
           }).BindList(ViewData["Object"]).GetHtml()
        </div>
    </div>
    <div id="content_Partial" style="float:left; width:100%">
       @Html.Action("ContentPartial");
    </div>
</div>*@
@Html.Partial("_Message")
@Html.Partial("_MessageSuccess")
@Html.Partial("PopupConfirmDelete")
