﻿<table style='margin:20px;'>
    <tr>
        <td style='line-height:25px; padding-left:20px;'><b>Loại lãi suất:</b></td>
        <td>
            @Html.DevExpress().ComboBox(cb =>
       {
           cb.Name = "cbb_loaiLS";
           cb.Width = 150;
           cb.SelectedIndex = 0;
           cb.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
           cb.Properties.DropDownStyle = DropDownStyle.DropDown;
           cb.Properties.Items.Add("Lãi suất cá nhân", 0);
           cb.Properties.Items.Add("Lãi suất tổ chức", 1);
       }).GetHtml()

        </td>
        <td style='padding-left:20px;'>
            @Html.DevExpress().ComboBox(cb =>
       {
           cb.Name = "cbb_type";
           cb.Width = 150;
           cb.SelectedIndex = 0;
           cb.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
           cb.Properties.DropDownStyle = DropDownStyle.DropDown;
           cb.Properties.Items.Add("Lãi suất cuối kì", 0);
           cb.Properties.Items.Add("Lãi suất hàng tháng", 1);
       }).GetHtml()
        </td>
    </tr>
    <tr>

        <td style='line-height:25px; padding-left:20px; width:100px;'><b>Thời gian:</b></td>
        <td>
            @Html.DevExpress().DateEdit(de =>
       {
           de.Name = "date_HieuLuc";
           de.Properties.DisplayFormatString = "D";
           de.Date = DateTime.Now;
           de.Width = 150;
       }).GetHtml()
        </td>

        <td colspan='3' style='text-align:center; padding-top:15px;'>
            @Html.DevExpress().Button(buttonSettings =>
       {
           buttonSettings.Name = "btn_search";
           buttonSettings.ControlStyle.CssClass = "button";
           buttonSettings.Width = 100;
           buttonSettings.Text = "Tìm kiếm";
           buttonSettings.UseSubmitBehavior = true;
           buttonSettings.ClientSideEvents.Click = "btn_SearchClick";
       }).GetHtml()
        </td>
        </tr>
</table>