﻿@{
    ViewBag.Title = "Sổ chi tiết lãi đầu tư quỹ BHXH";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
    var m = Model as QLQ.Core.CustomView.LaiSuatDauTuModel;
}

@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}
<script>

    function OnBeginCallback(s, e) {
        //thay đổi pagesize
    }

    function gvSoDauTuChiTiet_BatchEditStartEditing(s, e) {
        if (e.focusedColumn.fieldName == 'DienGiai') {
            e.cancel = true;
            gvSoDauTuChiTiet.batchEditApi.EndEdit();
        }
    }

    function showMessage(isSucess, text) {
        if (isSucess) {
            $('#noidung_success').text(text.toString());
            window.Message_Success.Show();
            setTimeout(function () { Message_Success.Hide(); }, 2000);
        }
        else {
            $('#noidung').text(text.toString());
            window.Message.Show();
        }
    }

    function OnEndCallback(s, e) {
        if (s.cpMessage != null) {
            showMessage(true, s.cpMessage);
            delete s.cpMessage;
        }
    }

    function gvSoDauTuChiTiet_CallbackError(s, e) {
        console.log(e.message);
    };

    function btn_InAnClick() {     
        LoadingPanel.Show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("fn_InAn", "SoChiTietLaiDauTu_01DTQ")',
            data: {}
        }).done(function (result) {
            LoadingPanel.Hide();
            $("#Report_Result").html(result);
        });
    }

    function btn_SearchClick() {
        var ThoiGian = document.getElementById("date_HieuLuc_I").value;
        LoadingPanel.Show();
        gvSoDauTuChiTiet.PerformCallback({
            date: ThoiGian
        });
        LoadingPanel.Hide();
    }

    function OnNewClick(s, e) {
        LoadingPanel.Show();
        gvSoDauTuChiTiet.UpdateEdit();
        LoadingPanel.Hide();
        showMessage(true, "Lưu thành công!");
    }

</script>

<div>
    <div>
        <ul class="ul-tieude">
            <li>
                <span>Sổ chi tiết lãi đầu tư quỹ BHXH</span>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 text-right btn-span" id="demo">
        <div class="img-span" style="padding-bottom:18px"><img src="~/Content/Images/icon_mo_rong.png" /></div>
    </div>
    <div class="col-sm-12 none-padding chitiet" style="padding-bottom:15px">
        @Html.Partial("DetailFilterView", m.ThongTinHopDong)
    </div>
</div>
<div id="gvDTCT">
    @Html.Action("SoDauTuChiTietPartial", m)
</div>
<div class="col-sm-12 none-padding footer">
    <div class="btm-toolbar">
        @Html.Partial("DetailFooter")
    </div>
</div>

@Html.Partial("_Message")
@Html.Partial("_MessageSuccess")
@Html.Partial("LoadingPanel")
<div id="Report_Result"></div>
