﻿<table style='margin:20px;'>
    <tr>
        <td style='line-height:25px; padding-left:20px; width:100px;'><b>Thời gian theo dõi:</b></td>
        <td>
            @Html.DevExpress().DateEdit(de =>
       {
           de.Name = "date_HieuLuc";
           de.Properties.DisplayFormatString = "D";
           //de.Date = DateTime.Now;
           de.Width = 150;
       }).GetHtml()
        </td>


        <td style="padding-right: 400px">
            @Html.DevExpress().Button(s =>
        {
            s.Name = "btn_search";
            s.Text = "Tìm kiếm";
            s.Images.Image.IconID = IconID.ActionsSearch16x16devav;
            s.ClientSideEvents.Click = "btn_SearchClick";
            s.AllowFocus = false;
            s.ToolTip = "Tìm kiếm";
            s.ControlStyle.Font.Size = 13;
        }).GetHtml()
        </td>
    </tr>
</table>

@Html.DevExpress().FormLayout(s =>
{
    QLQ.Core.CustomView.ThongTinHopDong m = Model as QLQ.Core.CustomView.ThongTinHopDong;
    s.Name = "FilterLayout";
    //s.EncodeHtml = false;
    s.Width = Unit.Percentage(50);
    var group = s.Items.AddGroupItem(gi =>
    {
        gi.ShowCaption = DefaultBoolean.False;
        gi.HorizontalAlign = FormLayoutHorizontalAlign.Right;
        gi.ColCount = 4;
        gi.Width = Unit.Percentage(100);
        gi.GroupBoxDecoration = GroupBoxDecoration.None;

    });

    group.Items.Add(i =>
    {
        i.Caption = "Tên đơn vị";
        i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
        i.CaptionSettings.VerticalAlign = FormLayoutVerticalAlign.Middle;
        i.Name = "txtTenDonVi";
        i.Height = 30;
        i.NestedExtension().Label(s2 =>
        {
            s2.Name = "TenDonVi";
            s2.Width = Unit.Pixel(120);
            s2.Height = 28;
            s2.Text = m.TenKhachHang;
        });
    });
    group.Items.Add(i =>
    {
        i.Caption = "Tên Hợp Đồng";
        i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
        i.CaptionSettings.VerticalAlign = FormLayoutVerticalAlign.Middle;
        i.Name = "txtTenHopDong";
        i.Height = 30;
        i.NestedExtension().Label(s2 =>
        {
            s2.Name = "TenHopDong";
            s2.Width = Unit.Pixel(120);
            s2.Height = 28;
            s2.Text = m.TenHopDong;
        });
    });

    group.Items.Add(i =>
    {
        i.Caption = "Thời hạn";
        i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
        i.CaptionSettings.VerticalAlign = FormLayoutVerticalAlign.Middle;
        i.Name = "txtThoiHan";
        i.Height = 30;
        i.NestedExtension().Label(s2 =>
        {
            s2.Name = "ThoiHan";
            s2.Width = Unit.Pixel(120);
            s2.Height = 28;
            s2.Text = m.ThoiHan;
        });
    });

    group.Items.Add(i =>
    {
        i.Caption = "Ngày HĐ";
        i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
        i.CaptionSettings.VerticalAlign = FormLayoutVerticalAlign.Middle;
        i.Name = "txtNgayHopDong";
        i.Height = 30;
        i.NestedExtension().DateEdit(s2 =>
        {
            s2.Name = "NgayHopDong";
            s2.Width = Unit.Pixel(120);
            s2.Height = 28;
            s2.Enabled = false;
            s2.Properties.EditFormat = EditFormat.Custom;
            s2.Properties.DisplayFormatInEditMode = true;
            s2.Properties.DisplayFormatString = "dd/MM/yyyy";
            s2.Properties.EditFormatString = "dd/MM/yyyy";
            s2.Properties.NullText = "Ngày hợp đồng";
            s2.Date = m.NgayLap;
        });
    });

    group.Items.Add(i =>
    {
        i.Caption = "Lãi suất";
        i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
        i.CaptionSettings.VerticalAlign = FormLayoutVerticalAlign.Middle;
        i.Name = "txtLaiSuat";
        i.Height = 30;
        i.NestedExtension().Label(s2 =>
        {
            s2.Name = "LaiSuat";
            s2.Width = Unit.Pixel(120);
            s2.Height = 28;
            s2.Text = m.LaiSuatStr;
        });
    });

}).GetHtml()

