﻿<table style='margin:20px;'>
    <tr>
        <td style='line-height:25px; padding-left:20px; width:100px;'><b>Thời gian theo dõi:</b></td>
        <td>
            @Html.DevExpress().DateEdit(de =>
       {
           de.Name = "date_HieuLuc";
           de.Properties.DisplayFormatString = "D";
           de.Date = DateTime.Now;
           de.Width = 150;
       }).GetHtml()
        </td>


        <td style="padding-right: 400px">
            @Html.DevExpress().Button(s =>
        {
            s.Name = "btn_search";
            s.Text = "Tìm kiếm";
            s.Images.Image.IconID = IconID.ActionsSearch16x16devav;
            s.ClientSideEvents.Click = "btn_SearchClick";
            s.AllowFocus = false;
            s.ToolTip = "Tìm kiếm";
            s.ControlStyle.Font.Size = 13;
        }).GetHtml()
        </td>
        </tr>
</table>