﻿@{
    ViewBag.Title = "Sổ chi tiết lãi đầu tư quỹ BHXH";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}
<script>

    function OnBeginCallback(s, e) {
        //thay đổi pagesize
        var pagesize = parseInt($("#gvSoDauTuChiTietHangThang_DXPagerBottom_PSI").val());
        e.customArgs["gvSoDauTuChiTietHangThang_PageSize"] = pagesize;
    }

    function showMessage(isSucess, text) {
        if (isSucess) {
            $('#noidung_success').text(text.toString());
            window.Message_Success.Show();
            setTimeout(function () { Message_Success.Hide(); }, 2000);
        }
        else {
            $('#noidung').text(text.toString());
            window.Message.Show();
        }
    }

    function OnEndCallback(s, e) {
        if (s.cpMessage != null) {
            showMessage(true, s.cpMessage);
            delete s.cpMessage;
        }
    }

    function gvSoDauTuChiTietHangThang_CallbackError(s, e) {
        console.log(e.message);
    };

    function btn_SearchClick() {
        var ThoiGian = document.getElementById("date_HieuLuc_I").value;
        LoadingPanel.Show();
        gvSoDauTuChiTietHangThang.PerformCallback({
            date: ThoiGian
        });
        LoadingPanel.Hide();
    }

    @*function btn_InAnClick() {
        LoadingPanel.Show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("fn_InAn", "SoChiTietLaiDauTu_01DTQ")',
            data: {}
        }).done(function (result) {
            LoadingPanel.Hide();
            $("#Report_Result").html(result);
        });
    }*@

</script>

<div>
    <div>
        <ul class="ul-tieude">
            <li>
                <span>Sổ chi tiết lãi đầu tư quỹ BHXH</span>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 text-right btn-span" id="demo">
        <div class="img-span" style="padding-bottom:18px"><img src="~/Content/Images/icon_mo_rong.png" /></div>
    </div>
    <div class="col-sm-12 none-padding chitiet" style="padding-bottom:15px">
        @Html.Partial("FilterView")
    </div>
</div>
<div id="gvDSHD">
    @Html.Action("SoDauTuChiTietHangThangPartial")
</div>
<div class="col-sm-12 none-padding footer">
    <div class="btm-toolbar">
        @Html.Partial("Footer")
    </div>
</div>
<div id="Report_Result"></div>

@Html.Partial("_Message")
@Html.Partial("_MessageSuccess")
@Html.Partial("LoadingPanel")
