﻿@{
    ViewBag.Title = "Tổng hợp số dư đầu tư chi tiết";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}
<script type="text/javascript">
    function cbDauTu_SelectedIndexChanged(s, e) {
        var dauTuParam = (s.GetValue());
        if (dauTuParam != null) {
            cbKhachHang.PerformCallback();
        }
    }
    function cbKhachHang_BeginCallback(s, e) {
        e.customArgs["cbDauTuId"] = cbDauTu.GetValue();
    }
    function cbKhachHang_EndCallback(s, e) {
        try {
            s.SetSelectedIndex(0);
        } catch (e) {
            console.log(e);
        }
    }
    function btnSearch_Click() {
        LoadingPanel.Show();
        gvSoDu.PerformCallback({
            DauTuIdStr: cbDauTu.GetValue(), FromDateStr: fromDateFilter.GetText(), ToDateStr: toDateFilter.GetText(), KhachHangIdStr: cbKhachHang.GetValue() 
        });
        LoadingPanel.Hide();
    }
</script>

<div>
    <div>
        <ul class="ul-tieude">
            <li>
                <span>@ViewBag.Title</span>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 text-right btn-span" id="demo">
        <div class="img-span" style="padding-bottom:18px"><img src="~/Content/Images/icon_mo_rong.png" /></div>
    </div>
    <div class="col-sm-12 none-padding chitiet" style="padding-bottom:15px">
        @Html.Partial("FilterView")
    </div>
</div>
<div id="gvSD">
    @Html.Action("SoDuDauTuChiTietPartial")
</div>

@Html.Partial("_Message")
@Html.Partial("LoadingPanel")

