﻿
@{
    ViewBag.Title = "QUẢN LÝ ĐẦU TƯ QUỸ BHXH";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}
<div class="row content-home-index none-margin">
    <div class="col-sm-12 col-md-12 col-lg-12 none-padding">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 none-padding height-contract">
            <ul class="nav-tabs tabs-qlq none-padding">
                <li class="active" data-toggle="tab" data-target="#menu0">
                    <div class="col-sm-12 none-padding">
                        <div class="col-sm-6 none-padding">
                            <img src="/Content/Images/images/anh1-01.png" alt="Tong_so_hop_dong_phat_sinh" />
                        </div>
                        <div class="col-sm-6 none-padding">
                            <p class="tieude">Tổng số hợp đồng phát sinh </p>
                            <p class="soluong">Tổng số: </p>
                        </div>
                    </div>
                </li>
                <li data-toggle="tab" data-target="#menu1">
                    <div class="col-sm-12 none-padding">
                        <div class="col-sm-6 none-padding">
                            <img src="/Content/Images/images/anh2-01.png" alt="Tong_so_hop_dong_phai_thu_goc" />
                        </div>
                        <div class="col-sm-6 none-padding">
                            <p class="tieude">Tổng số hợp đồng phải thu gốc</p>
                            <p class="soluong">Tổng số: </p>
                        </div>
                    </div>

                </li>
                <li data-toggle="tab" data-target="#menu2">
                    <div class="col-sm-12 none-padding">
                        <div class="col-sm-6 none-padding">
                            <img src="/Content/Images/images/anh3-01.png" alt="Tong_so_hop_dong_phai_thu_lai" />
                        </div>
                        <div class="col-sm-6 none-padding">
                            <p class="tieude">Tổng số hợp đồng phải thu lãi</p>
                            <p class="soluong">Tổng số:</p>
                        </div>
                    </div>

                </li>
                <li data-toggle="tab" data-target="#menu3">
                    <div class="col-sm-12 none-padding">
                        <div class="col-sm-6 none-padding">
                            <img src="/Content/Images/images/anh4-01.png" alt="Tong_so_hop_dong_qua_han" />
                        </div>
                        <div class="col-sm-6 none-padding">
                            <p class="tieude">Tổng số hợp đồng quá hạn</p>
                            <p class="soluong">Tổng số:</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 none-padding">
            <div class="tab-content height-report-index">
                <div id="menu0" class="tab-pane fade">
                    <img src="/Content/Images/images/bieudo-01.jpg" style="overflow:scroll;max-width:540px; min-width:200px; padding : 1px;">
                </div>
                <div id="menu1" class="tab-pane fade">
                    <img src="/Content/Images/images/bieudo-01.jpg" style="overflow:scroll;max-width:540px; min-width:200px; padding : auto;">
                </div>
                <div id="menu2" class="tab-pane fade">
                    <img src="/Content/Images/images/bieudo-01.jpg" style="overflow:scroll;max-width:540px; min-width:200px; padding : auto;">
                </div>
                <div id="menu3" class="tab-pane fade active in">
                    <img src="/Content/Images/images/bieudo-01.jpg" style="overflow:scroll;max-width:540px; min-width:200px; padding : auto;">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 none-padding padd-lef-15">
            <div class="col-xs-12 none-padding border-table">
                <p>Tháng 11</p>
                <ul>
                    <li>
                        Số hợp đồng quá hạn:<span class="blue">123</span>
                    </li>
                    <li>
                        Số hợp đồng phát sinh: <span class="blue">89</span>
                    </li>
                    <li>
                        Số hợp đồng phải thu gốc: <span class="blue">12</span>
                    </li>
                    <li>
                        Số hợp đồng phải thu lãi: <span class="blue">15</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>