﻿@*<table style="width:98%">
    <tr>
        <td style="width:30%; padding-left:20px;">
            @Html.DevExpress().TokenBox(s =>
        {
            s.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
            s.Name = "txtMA";
            s.Properties.NullText = "Nhập từ khóa tìm kiếm ...";
            s.ControlStyle.Font.Size = 13;
            //s.Properties.ClientSideEvents.KeyDown = "OnTextBoxKeyDown";
            s.Properties.DataSource = ViewData["List"];
            s.Properties.ShowDropDownOnFocus = ShowDropDownOnFocusMode.Never;
            s.Properties.ClientSideEvents.TokensChanged = "onTokensChanged";
            s.Width = Unit.Percentage(100);
            s.Height = Unit.Pixel(30);
            s.Properties.MaxLength = 50;
            s.ShowModelErrors = true;

        }).BindList(ViewData["List"]).GetHtml()
        </td>
        <td style="width:20%;">
            @Html.DevExpress().Button(s =>
        {
            s.Name = "buttonSearch";
            s.Text = @"Tìm kiếm";
            s.Images.Image.IconID = IconID.ActionsSearch16x16devav;
            s.ClientSideEvents.Click = "TimKiem";
            s.AllowFocus = false;
            s.RenderMode = ButtonRenderMode.Link;
            s.Images.Image.SpriteProperties.CssClass = "btnSearch";
            s.Images.Image.SpriteProperties.HottrackedCssClass = "btnSearchHottracked";
            s.Images.Image.SpriteProperties.PressedCssClass = "btnSearchPressed";
            s.ToolTip = "Tìm kiếm";
            s.ControlStyle.Font.Size = 13;
            s.Width = Unit.Percentage(20);
            //s.Styles.Style.HorizontalAlign = HorizontalAlign.Left;
        }).GetHtml()
        </td>
    </tr>
</table>*@
@*@Html.DevExpress().Button(
            settings =>
            {
                settings.Name = "btnLinkImageAndText";
                settings.Width = 100;
                settings.Height = 25;
                settings.RenderMode = ButtonRenderMode.Link;
                settings.Text = "Refresh";
                settings.ImagePosition = ImagePosition.Right;
                settings.Images.Image.IconID = IconID.ActionsRefresh16x16gray;
            }).GetHtml()*@

<table style="margin-top:10px">
    <tr>
        <td style="width:40%;">
            @Html.DevExpress().TokenBox(s =>
        {
            s.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
            s.Name = "txt_timkiem";
            s.Properties.NullText = "Nhập từ khóa tìm kiếm theo tên ngân hàng";
            s.ControlStyle.Font.Size = 13;
            s.Properties.ShowDropDownOnFocus = ShowDropDownOnFocusMode.Never;
            s.Properties.ClientSideEvents.TokensChanged = "onTokensChanged";
            s.Width = Unit.Percentage(100);
            s.Height = Unit.Pixel(30);
            s.Properties.MaxLength = 50;
            s.ShowModelErrors = true;

        }).GetHtml()
        </td>
        <td style="padding-right: 400px">
            @Html.DevExpress().Button(s =>
        {
            s.Name = "buttonSearch";
            s.Text = "Tìm kiếm";
            s.Images.Image.IconID = IconID.ActionsSearch16x16devav;
            s.ClientSideEvents.Click = "Search";
            s.AllowFocus = false;
            s.ToolTip = "Tìm kiếm";
            s.ControlStyle.Font.Size = 13;
        }).GetHtml()
        </td>
    </tr>
</table>