﻿


@model System.Collections.IEnumerable
@{
    ViewBag.Title = "Hồ sơ pháp lý";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}

<style>
    /*style lại popup edit gridview*/
    .dxgvPopupEditForm_EIS .dxeEditArea_EIS.dxeEditAreaSys {
        height: 18px;
    }

    .dxgvPopupEditForm_EIS .dxflHALSys.dxflVATSys.dxflCaptionCell_EIS.dxflCaptionCellSys {
        vertical-align: middle;
    }

    .dxgvPopupEditForm_EIS .dxflHARSys.dxflGroupCell_EIS {
        height: 30px;
    }
    /*--------------*/
    /*style image table*/
    #gvHOSO_DXMainTable .dxgv.dx-ac img {
        height: 100px;
    }
</style>

<script type="text/javascript">

    function OnEndCallback(s, e) {
        if (s.IsNewRowEditing()) {
            var form = s.GetPopupEditForm();
            form.PopUp.AddHandler(function (s, e) {
                var editor = gvHOSO.GetEditor('NGANHANG_ID');
                editor.Focus();
            });
        }
        if (s.cpMessage != null) {
            showMessage(true, s.cpMessage);
            delete s.cpMessage;
        }

        //script ấn enter thì chuyển focus sang trường bên cạnh
        $("#gvHOSO_DXPEForm_DXEFL").find(".dxeEditAreaSys,.dxichSys,.dxbButtonSys").each(function (i, obj) {
            $(this).keypress(function (event) {
                if (event.which == 13) {
                    $("#gvHOSO_DXPEForm_DXEFL").find(".dxeEditAreaSys,.dxichSys,.dxbButtonSys").each(function (j, obj) {
                        if (j == (i + 1)) {
                            ////j nhỏ nhất bằng trường textbox cuối cùng trước khi tới checkbox
                            //if (j == 14 || j == 15 || j == 16 || j == 17) { // index checkbox
                            //    $("#gvNganHang_DXPEForm_DXEFL_DXEditor" + j + "_S").focus();
                            //} else
                            if (j == 3) { // button cập nhật
                                $("#gvHOSO_DXPEForm_DXEFL_DXCBtn0").focus();
                            } else {
                                $(this).focus();
                            }
                        }
                    });
                }
            });
        });
    }

    function btnAdd_Click(s, e) {
        ShowProgressRing();
        $.ajax({
            type: "POST",
            url: '@Url.Action("PopupSaveData", "HOSO")',
            data: {
            },
            success: function (result) {
                HideProgressRing();
                $("#popup_addnew").html(result);
            },
            failure: function () {
                HideProgressRing();
                showMessage(false, "Có lỗi xảy ra trong quá trình xử lý dữ liệu!");
            }
        });
    }

    function btnEdit_Click() {
        var index = gvHOSO.GetFocusedRowIndex();
        var key = gvHOSO.GetRowKey(index);
        ShowProgressRing();
        $.ajax({
            type: "POST",
            url: '@Url.Action("SuaHoSo", "HOSO")',
            data: {
                hosoId: key
            },
            success: function (result) {
                HideProgressRing();
                if (result == "Fail") {
                    showMessage(false, "Có lỗi xảy ra trong quá trình xử lý dữ liệu!");
                    return;
                }
                $("#popup_addnew").html(result);
            },
            failure: function () {
                HideProgressRing();
                showMessage(false, "Có lỗi xảy ra trong quá trình xử lý dữ liệu!");
            }
        });
    }

    function ctrUpload_DLNH_FileUploadComplete(s, e) {
        if (e.isValid) {
            UPLOADS_DLNH.SetImageUrl("../../" + e.callbackData);
        }
    }

    function ctrUpload_GPKD_FileUploadComplete(s, e) {
        if (e.isValid) {
            UPLOADS_GPKD.SetImageUrl("../../" + e.callbackData);
        }
    }

    function ctrUpload_GUQ_FileUploadComplete(s, e) {
        if (e.isValid) {
            UPLOADS_GUQ.SetImageUrl("../../" + e.callbackData);

            //var fileName = e.callbackData.split('/').pop();
            //$("#GUQ_hidden").val(fileName);
        }
    }

    function ctrUpload_BCTC_FileUploadComplete(s, e) {
        if (e.isValid) {
            UPLOADS_BCTC.SetImageUrl("../../" + e.callbackData);
        }
    }

    function btnLuu_Click() {

        var dlnh = UPLOADS_DLNH.GetValue();
        if (dlnh != null) {
            dlnh = dlnh.split('/').pop();
        }
        var gpkd = UPLOADS_GPKD.GetValue();
        if (gpkd != null) {
            gpkd = gpkd.split('/').pop();
        }
        var guq = UPLOADS_GUQ.GetValue();
        if (guq != null) {
            guq = guq.split('/').pop();
        }
        var bctc = UPLOADS_BCTC.GetValue();
        if (bctc != null) {
            bctc = bctc.split('/').pop();
        }

        var formHoSo = $('#form-hoso');
        if (formHoSo.valid()) {
            //ShowprogressRing();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '@Url.Action("LuuHoSo", "HOSO")',
                data: formHoSo.serialize() + "&DLNH=" + dlnh + "&GPKD=" + gpkd + "&GUQ=" + guq + "&BCTC=" + bctc,
                success: function (data) {
                    //HideprogressRing();
                    if (data == "Success") {
                        showMessage(true, "Lưu thành công");
                        gvHOSO.PerformCallback();
                        $("#popup_addnew").hide();
                    } else {
                        showMessage(false, "Có lỗi xảy ra trong quá trình lưu dữ liệu");
                    }
                },
                failure: function () {
                    //HideprogressRing();
                    showMessage(false, "Có lỗi xảy ra trong quá trình lưu dữ liệu");
                }
            });
        }
    }

    function btnDelete_Click(s, e) {
        var index = gvHOSO.GetFocusedRowIndex();
        if (index == null || index == -1) {
            showMessage(false, "vui lòng chọn 1 bản ghi !");
            return;
        }
        $("#popup_Delete_Confirm").val('ConfirmDeleteHOSO');
        window.popup_Delete.Show();
    }

    function ConfirmDeleteHOSO() {
        var index = gvHOSO.GetFocusedRowIndex();
        gvHOSO.DeleteRow(index);
    }

    function btnInAn_Click() {

        @*$.ajax({
            cache: false,
            async: true,
            type: "POST",
            url: '@Url.Action("InAn", "HOSO")',
            data: {

            },
            success: function (data) {
                //HideprogressRing();
                if (data == "Success") {
                    showMessage(true, "Lưu thành công");
                    gvHOSO.PerformCallback();
                } else {
                    showMessage(false, "Có lỗi xảy ra trong quá trình lưu dữ liệu");
                }
            },
            failure: function () {
                //HideprogressRing();
                showMessage(false, "Có lỗi xảy ra trong quá trình lưu dữ liệu");
            }
        });*@
    }

    function showMessage(isSucess, text) {
        if (isSucess) {
            $('#noidung_success').text(text.toString());
            window.Message_Success.Show();
            setTimeout(function () { Message_Success.Hide(); }, 2000);
        }
        else {
            $('#noidung').text(text.toString());
            window.Message.Show();
        }
    }

    function ShowProgressRing() {
        window.LoadingPanel.Show();
    }

    function HideProgressRing() {
        window.LoadingPanel.Hide();
    }

</script>
@using (Html.BeginForm())
{
    <div>
        <div>
            <ul class="ul-tieude">
                <li>
                    <span>Hồ sơ pháp lý</span>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 text-right btn-span" id="demo">
            <div class="img-span" style="padding-bottom:18px"><img src="~/Content/Images/icon_mo_rong.png" /></div>
        </div>
        <div class="col-sm-12 none-padding chitiet" style="padding-bottom:15px">
            @*@Html.Partial("FilterView")*@
        </div>
    </div>
    <div id="HOSOPartial_div">
        @Html.Action("HOSOPartial")
    </div>
    <div class="col-sm-12 none-padding footer">
        <div class="btm-toolbar">
            @Html.Partial("Footer")
        </div>
    </div>
    <div id="popup_addnew"></div>
}

@Html.Partial("_Message")
@Html.Partial("_MessageSuccess")
@Html.Partial("PopupConfirmDelete")
@Html.Partial("LoadingPanel")