﻿<style type="text/css">
    .dx-overlay-wrapper {
        z-index: 100000 !important;
    }
</style>
<script type="text/javascript">
    function OnInit(s, e) {
        //var nodeKey = window.TreeList_NhomICD.GetFocusedNodeKey();
        //  window.popupReport19.PerformCallback();
        AdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function(evt) {
            AdjustSize();
        });
    }

    function OnEndCallback(s, e) {
        AdjustSize();
    }

    function AdjustSize() {
        window.MauS12_H_Report.SetWidth(document.documentElement.clientWidth);
        window.MauS12_H_Report.SetHeight(document.documentElement.clientHeight);

    }
</script>
@model DevExpress.XtraReports.UI.XtraReport
@*// chỉ cần khai báo lớp cha*@
@Html.DevExpress().PopupControl(
    settings =>
    {
        settings.Name = "BcBangDoiChieu";
        settings.ClientSideEvents.PopUp = "function(s, e) { s.SetWidth(document.documentElement.clientWidth); s.SetHeight(document.documentElement.clientHeight); }";
        settings.ShowOnPageLoad = true;
        settings.AllowDragging = false;
        settings.CloseAction = CloseAction.CloseButton;
        settings.CloseOnEscape = true;
        settings.PopupAnimationType = AnimationType.None;
        settings.ShowHeader = true;
        settings.Modal = true;
        settings.ScrollBars = System.Web.UI.WebControls.ScrollBars.Auto;
        settings.HeaderText = "Bảng đối chiếu";
        settings.ShowCloseButton = true;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.LeftSides;
        settings.PopupVerticalAlign = PopupVerticalAlign.TopSides;
        settings.SetContent(() =>
        {
            @Html.DevExpress().WebDocumentViewer(poper => //khai báo đối tượng nặc danh sử dụng luôn
                        {

                            poper.Name = "Bc_BangDoiChieu";


                        }).Bind(Model).GetHtml();
        });
    }).GetHtml()
