﻿

@{
    ViewBag.Title = "Bảng đối chiếu";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}
<script>
    function btn_InAnClick() {
        var nam = cbb_nam.GetValue();
        var thang = cbb_thang.GetValue();
        //var ThoiGian = date_HieuLuc.GetValue();
        //var loai = cbb_loaiLS.GetValue();
        //var type = cbb_type.GetValue();
        LoadingPanel.Show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("fn_InAn", "BC_BangDoiChieu")',
            data: {
                year: nam,
                month: thang
                //year: ThoiGian,
                //CN_TC: loai,
                //type: type
            }
        }).done(function (result) {
            LoadingPanel.Hide();
            $("#BC_BangDoiChieu").html(result);
        });
    }
</script>
<div id="gridview" style="width:60%; margin:auto;">
    @Html.Action("BC_BangDoiChieuPartial")
</div>
@Html.Partial("_Message")
@Html.Partial("_MessageSuccess")
@Html.Partial("LoadingPanel")
<div id="BC_BangDoiChieu"></div>