﻿@Html.DevExpress().PopupControl(
    settings =>
    {
        settings.Name = "ModalBC";
        settings.Width = 530;
        settings.HeaderText = "Báo cáo tình hình đầu tư tài chính";
        settings.Modal = true;
        settings.ShowCloseButton = false;
        settings.AllowDragging = false;
        settings.CloseAction = CloseAction.None;
        settings.ShowOnPageLoad = true;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;

        settings.SetContent(() =>
        {
            ViewContext.Writer.Write("<table style='margin:20px;'><tr><td style='line-height:25px; padding-left:20px; width:100px;'><b>Ngân hàng:</b></td><td>");
            Html.DevExpress().ComboBox(cb =>
            {
                cb.Name = "cbb_HTDauTu";
                cb.Width = 150;
                cb.SelectedIndex = 0;
                cb.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                cb.Properties.DropDownStyle = DropDownStyle.DropDown;
                cb.Properties.TextField = "ten_hinhthuc";
                cb.Properties.ValueField = "hinhthuc_id";
            }).BindList(ViewBag.Listhtdautu).GetHtml();

            //ViewContext.Writer.Write("</td><td></td></tr><tr><td style='line-height:25px; padding-left:20px; '><b>Thời gian:</b></td><td>");
            //Html.DevExpress().ComboBox(cb =>
            //{
            //    cb.Name = "date_HieuLuc";
            //    cb.Width = 150;
            //    cb.SelectedIndex = 0;
            //    cb.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
            //    cb.Properties.DropDownStyle = DropDownStyle.DropDown;
            //    int i;
            //    for (i = DateTime.Now.Year; i >= 2000; i--)
            //    {
            //        cb.Properties.Items.Add(i.ToString(), i);
            //    }
            //}).GetHtml();
            //ViewContext.Writer.Write("</td><td></td></tr><tr><td style='line-height:25px; padding-left:20px;'><b>Loại lãi suất:</b></td><td>");
            //Html.DevExpress().ComboBox(cb =>
            //{
            //    cb.Name = "cbb_loaiLS";
            //    cb.Width = 150;
            //    cb.SelectedIndex = 0;
            //    cb.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
            //    cb.Properties.DropDownStyle = DropDownStyle.DropDown;
            //    cb.Properties.Items.Add("Lãi suất cá nhân", 0);
            //    cb.Properties.Items.Add("Lãi suất tổ chức", 1);
            //}).GetHtml();

            //ViewContext.Writer.Write("</td><td style='padding-left:20px;'>");

            //Html.DevExpress().ComboBox(cb =>
            //{
            //    cb.Name = "cbb_type";
            //    cb.Width = 150;
            //    cb.SelectedIndex = 0;
            //    cb.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
            //    cb.Properties.DropDownStyle = DropDownStyle.DropDown;
            //    cb.Properties.Items.Add("Lãi suất cuối kì", 0);
            //    cb.Properties.Items.Add("Lãi suất hàng tháng", 1);
            //}).GetHtml();

            ViewContext.Writer.Write("</td></tr><tr><td colspan='3' style='text-align:center; padding-top:15px;'>");
            Html.DevExpress().Button(
                buttonSettings =>
                {
                    buttonSettings.Name = "btn_InAn";
                    buttonSettings.ControlStyle.CssClass = "button";
                    buttonSettings.Width = 100;
                    buttonSettings.Text = "In ấn";
                    buttonSettings.UseSubmitBehavior = true;
                    buttonSettings.ClientSideEvents.Click = "btn_InAnClick";
                }
            )
            .Render();
            ViewContext.Writer.Write(" &nbsp; &nbsp;");
            Html.DevExpress().Button(
                    buttonSettings =>
                    {
                        buttonSettings.Name = "btnCancel";
                        buttonSettings.ControlStyle.CssClass = "button";
                        buttonSettings.Width = 80;
                        buttonSettings.Text = "Hủy";
                        buttonSettings.ClientSideEvents.Click = "function(s, e){ window.location.href='/' }";
                    }
                )
                .Render();
            ViewContext.Writer.Write("</td></tr></table>");
        });
    }).GetHtml()