﻿

@{
    ViewBag.Title = "Báo cáo tình hình đầu tư tài chính";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}
<script>
    function btn_InAnClick() {
        var htdt = cbb_HTDauTu.GetValue();
        //var ThoiGian = date_HieuLuc.GetValue();
        //var loai = cbb_loaiLS.GetValue();
        //var type = cbb_type.GetValue();
        LoadingPanel.Show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("fn_InAn", "BC_TinhHinhDauTuTaiChinh")',
            data: {
                htDautu: htdt
                //year: ThoiGian,
                //CN_TC: loai,
                //type: type
            }
        }).done(function (result) {
            LoadingPanel.Hide();
            $("#BC_THDT_Report").html(result);
        });
    }
</script>
<div id="gridview" style="width:60%; margin:auto;">
    @Html.Action("BC_THDTTCPartial")
</div>
@Html.Partial("_Message")
@Html.Partial("_MessageSuccess")
@Html.Partial("LoadingPanel")
<div id="BC_THDT_Report"></div>