﻿html, body, form, div#mail 
{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Tahoma;
    font-size: 12px;
    color: #6E6E6E;
    overflow: auto;
    background: none;
}
div#mail 
{
    display:table;
    border-collapse: separate;
    border-spacing: 4px;
}
.feedForm .line 
{
    display: table-row;
    width: 100%;
    margin: 1px;
    height:24px;
}
.feedForm .cell 
{
    display:table-cell;
} 
.feedForm .label 
{
    width: 70px; 
    padding: 2px 0px;
    vertical-align: top;
}
.feedForm .editor 
{
    clear: both;
    float: left;
    width: 200px;
}
.feedForm .button 
{
    margin-top: 2px;
    float: right;
    width: 70px;
}
#SuccessText
{
    font-family: Tahoma;
    font-size: 8pt;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
