﻿@model System.Collections.IEnumerable

@{
    ViewBag.Title = "Quản lý hợp đồng";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}
<style type="text/css">
    .dxflCaption_EIS {
        margin-bottom: 0px;
    }

    .dxflVATSys {
        vertical-align: middle;
    }
</style>
<script type="text/javascript">
    var ma_kh, ma_hd;
    var so_tien;
    var lai_suat;
    var so_hdong;
    var hanhd;
    var laihinhthuc;
    var trangthai = false;
    var chon = 0;
    if (typeof ASPxClientSpinEdit != "undefined") {
        ASPxClientSpinEdit.prototype.OnPageOrArrowKeyDown = function () {
        };
    }
    $(document).ready(function () {
        $("#editMode").change(function () {
            GridBaoCao.PerformCallback({ editMode: $("#editMode").val() });
        });
    });
    function onTokensChanged(s, e) {
        //thay đổi giá trị txt_timkiem tự động gọi hàm Search()
        Search();
    }
    function Search() {

    }

    function gvHopDong_CallbackError(s, e) {
        console.log(e.message);
    };

    function OnComboBoxKeyDown(s, e) {
        //hành động thì ấn backspace hoặc enter
        if (e.htmlEvent.keyCode == 46)
            s.SetSelectedIndex(-1);
        if (e.htmlEvent.keyCode == 13)
            Search();
    }

    function OnNewClick(s, e) {
        trangthai = true;
        //mở form thêm mới
        gvHopDong.AddNewRow();
    }
    function OnEditClick(s, e) {
        trangthai = true;
        var index = gvHopDong.GetFocusedRowIndex();
        //gvHopDong_FocusedRowChanged();
        //kiểm tra chọn bản ghi trước khi mở form sửa
        if (index == null || index == -1) {
            showMessage(false, "vui lòng chọn 1 bản ghi !");
            return;
        }
        gvHopDong.StartEditRow(index);
    }
    function OnDeleteClick(s, e) {
        trangthai = false;
        var index = gvHopDong.GetFocusedRowIndex();
        //kiểm tra chọn bản ghi trước khi xóa
        if (index == null || index == -1) {
            showMessage(false, "vui lòng chọn 1 bản ghi !");
            return;
        }
        $("#popup_Delete_Confirm").val('ConfirmDeleteDM_NGANHANG');
        window.popup_Delete.Show();
    }
    function ConfirmDeleteDM_NGANHANG() {
        //gọi hàm xóa bản ghi
        var index = gvHopDong.GetFocusedRowIndex();
        gvHopDong.DeleteRow(index);
    }
    function showMessage(isSucess, text) {
        if (isSucess) {
            $('#noidung_success').text(text.toString());
            window.Message_Success.Show();
            setTimeout(function () { Message_Success.Hide(); }, 2000);
        }
        else {
            $('#noidung').text(text.toString());
            window.Message.Show();
        }
    }

    function OnBeginCallback(s, e) {
        //thay đổi pagesize
        var pagesize = parseInt($("#gvHopDong_DXPagerBottom_PSI").val());
        e.customArgs["gvHopDong_PageSize"] = pagesize;
    }

    function OnEndCallback(s, e) {
        if (s.IsNewRowEditing()) {
            var form = s.GetPopupEditForm();
            form.PopUp.AddHandler(function (s, e) {
                var editor = gvHopDong.GetEditor('hinhthuc_id');
                editor.Focus();
            });
        }
        if (s.cpMessage != null) {
            trangthai = false;
            showMessage(true, s.cpMessage);
            delete s.cpMessage;
        }
        if (trangthai) {
            var form = s.GetPopupEditForm();
            form.PopUp.AddHandler(function (s, e) {
                var editor = gvHopDong.GetEditor('NGAY_TRALAI_L2');
                var lai_ht = gvHopDong.GetEditor("lai_hinhthuc").GetValue();
                editor.SetVisible(false);
                console.log(lai_ht);
                if (lai_ht == "2 lần/năm" || lai_ht == null)
                    editor.SetVisible(true);
            });
        }

        //script ấn enter thì chuyển focus sang trường bên cạnh
        $("#gvHopDong_DXPEForm_DXEFL").find(".dxeEditAreaSys,.dxichSys,.dxbButtonSys").each(function (i, obj) {
            $(this).keypress(function (event) {
                if (event.which == 13) {
                    $("#gvHopDong_DXPEForm_DXEFL").find(".dxeEditAreaSys,.dxichSys,.dxbButtonSys").each(function (j, obj) {
                        if (j == (i + 1)) {                            
                            if (j == 3) {
                                $("#khachhang_id_I").focus();
                            }
                            else if (chon==1 && j == 10) {
                                $("#gvHopDong_DXPEForm_DXEFL_DXEditor11_I").focus();
                            }
                            else
                            { $(this).focus(); }
                        }
                    });
                }
            });
        });
    }
    function fn_InAn(s, e) {
        LoadingPanel.Show();
        $.ajax({
            type: "GET",
            url: '@Url.Action("ShowReport", "HopDong")',
            data: { khang_id: ma_kh, hdong_id: ma_hd, SoTien: so_tien, LaiSuat: lai_suat, So_HD: so_hdong, Han_HD: hanhd },
            success: function (result) {
                LoadingPanel.Hide();
                $('#Report_Result1').html(result);
            },
            failure: function () { showMessage(false, "Có lỗi xảy ra trong quá trình lấy dữ liệu!"); }
        });

    }
    function gvHopDong_FocusedRowChanged(s, e) {
        gvHopDong.GetRowValues(gvHopDong.GetFocusedRowIndex(), 'khachhang_id;hopdong_id;sotien;laisuat;so_hopdong;han_hopdong;lai_hinhthuc', OnGetRowValues);
    }
    function OnGetRowValues(values) {
        ma_kh = values[0];
        ma_hd = values[1];
        so_tien = values[2];
        lai_suat = values[3];
        so_hdong = values[4];
        hanhd = values[5].toUTCString();
        laihinhthuc = values[6];
        btn_in.SetEnabled(false);
        $("#btn_in").css({ "background-color": "#fff", "color": "#716a6a", "border-color": "#b8b8b8", "border-style": "ridge" });
        var chuoi = so_hdong.split('/');
        if (chuoi[2] == "HĐTG") {
            btn_in.SetEnabled(true);
            $("#btn_in").css({ "background-color": "#3B8AC9", "color": "white", "border-color": "#fff", "border-style": "groove" });
        }
    }
    function fn_Timkiem() {
        var cbhinhthuc = cbHinhThuc.GetValue();
        var cbdautu = cbDauTu.GetValue();
        var cbtenhd = cbTenHD.GetValue();
        //console.log(cbhinhthuc + '-' + cbdautu + '-' + cbtenhd);
        //gvHopDong.PerformCallback({ timkiem: { hinhthuc_id: cbhinhthuc, dautu_id: cbdautu, hopdong_id: cbtenhd } });
        LoadingPanel.Show();
        $.ajax({
            type: "GET",
            url: '@Url.Action("TimKiemHopDong", "HopDong")',
            data: { hinhthuc: cbhinhthuc, dautu: cbdautu, hopdong: cbtenhd },
            success: function (result) {
                LoadingPanel.Hide();
                if (result == "") {
                    showMessage(false, "Không tìm được dữ liệu khớp điều kiện tìm kiếm!");
                    NullReturnPartial();
                }
                else if (result == "TSNull") {
                    showMessage(false, "Chưa chọn điều kiện tìm kiếm!");
                    NullReturnPartial();
                }
                else
                    $('#gvDSHD').html(result);
            },
            failure: function () { showMessage(false, "Có lỗi xảy ra trong quá trình lấy dữ liệu!"); }
        });
    }
    function NullReturnPartial()
    {
        $.ajax({
            type: "GET",
            url: '@Url.Action("NullPartial", "HopDong")',
            data: {},
            success: function (result) {
                $('#gvDSHD').html(result);
            }
        });
    }
    function hopdong_id_SelectedIndexChanged(s, e) {
        debugger;
        var dt = "";
        var cp_sohd = "";
        var so_hd_edit = $("#gvHopDong_DXPEForm_DXEFL_DXEditor3_I").val();
        if (so_hd_edit != "") {
            cp_sohd = so_hd_edit;
        }
        console.log(so_hd_edit);
        $.ajax({
            type: "POST",
            url: '@Url.Action("HopDonghChangedValueUpdateLayout", "HopDong")',
            data: { hopdongId: s.GetValue() },
            success: function (data) {
                $("#gvHopDong_DXPEForm_DXEFL_DXEditor3_I").val(data);
            }
        });
    }
    function hinhthuc_SelectedIndexChanged(s, e) {
        DAUTU_ID.PerformCallback();
    }
    var isSelect = false;
    function dautu_BeginCallback(s, e) {
        e.customArgs['hinhthuc_id'] = window.gvHopDong.GetEditor('hinhthuc_id').GetValue();
    }
    var ma_dautu = "";
    function dautu_SelectedIndexChanged(s, e) {
        isSelect = false;
        khachhang_id.PerformCallback();
    }
    function dautu_EndCallback(s, e) {
        isSelect = true;
        khachhang_id.PerformCallback();
    }
    function khachhang_BeginCallback(s, e) {
        if (!isSelect)
            e.customArgs['dautu_ID'] = DAUTU_ID.GetValue();
    }
    function lai_hinhthuc_SelectedIndexChanged(s, e) {
        if (s.GetValue() == "2 lần/năm") {
            gvHopDong.GetEditor('NGAY_TRALAI_L2').SetVisible(true);
            chon = 0;
        }
        else {
            gvHopDong.GetEditor('NGAY_TRALAI_L2').SetVisible(false);
            chon = 1;
        }
    }
    function cbDauTu_BeginCallback(s, e) {
        var hinhthucid = cbHinhThuc.GetValue();
        e.customArgs["cbDauTu_hinthucid"] = window.cbHinhThuc.GetValue();
    }
    function cbDauTu_EndCallback(s, e) {
        try {
            s.SetSelectedIndex(0);
        } catch (e) {
            console.log(e);
        }

    }
    function cbHinhThuc_SelectedIndexChanged(s, e) {
        var cbHinhThuc = (s.GetValue());

        if (cbHinhThuc != null) {
            cbDauTu.PerformCallback();
        }
    }
</script>
<div>
    <div>
        <ul class="ul-tieude">
            <li>
                <span>Quản lý hợp đồng</span>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 text-right btn-span" id="demo">
        <div class="img-span" style="padding-bottom:18px"><img src="~/Content/Images/icon_mo_rong.png" /></div>
    </div>
    <div class="col-sm-12 none-padding chitiet" style="padding-bottom:15px">
        @Html.Partial("FilterView")
    </div>
</div>
<div id="GridBaoCao">
    @Html.Action("HopDongPartial")
</div>
<div class="col-sm-12 none-padding footer">
    <div class="btm-toolbar">
        @Html.Partial("Footer")
    </div>
</div>
@Html.Partial("LoadingPanel")
@Html.Partial("_Message")
@Html.Partial("_MessageSuccess")
@Html.Partial("PopupConfirmDelete")
<div id="Report_Result1"></div>