﻿@model QLQ.Core.CustomView.LaiSuatNHModel

@{
    ViewBag.Title = "Nhập lãi suất huy động của ngân hàng";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}
<script>
    function gvNhapLaiSuat_BatchEditStartEditing(s, e) {
        if (e.focusedColumn.fieldName == 'KYHAN') {
            e.cancel = true;
            gvChitietKiemKe.batchEditApi.EndEdit();
        }
    }
    function OnNewClick(s, e) {
        LoadingPanel.Show();     
        gvNhapLaiSuat.UpdateEdit();
        LoadingPanel.Hide();
        showMessage(true, "Lưu thành công!");
    }
    function OnSearchClick(s, e) {
        var ID_NganHang = cbNganHang.GetValue();
        var date_HieuLuc;
        var date_CVDen;
        var date_CV;
        var date_NH;
        if (window.date_HL.GetValue() != null) {
            date_HieuLuc = window.date_HL.GetValue().toUTCString();
        }
        var txt_CVDen = CVD.GetValue();
        if (window.date_CVB.GetValue() != null) {
            date_CVDen = window.date_CVB.GetValue().toUTCString();
        }
        var txt_CV = CV.GetValue();
        if (window.dateCV.GetValue() != null) {
            date_CV = window.dateCV.GetValue().toUTCString();
        }
        var txt_NH = TBNH.GetValue();
        if (window.date_TB.GetValue() != null) {
            date_NH = window.date_TB.GetValue().toUTCString();
        }
        LoadingPanel.Show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Search", "LaiSuatHuyDong")',
            data: {
                idNganhang: ID_NganHang,
                dateHieuLuc: date_HieuLuc,
                txtCvDen: txt_CVDen,
                dateCvDen: date_CVDen,
                txtCv: txt_CV,
                dateCv: date_CV,
                txtNh: txt_NH,
                dateNh: date_NH
            }
        }).done(function (result) {
            LoadingPanel.Hide();
            $('#gridview').html(result);
        });
    }
</script>
@using (Html.BeginForm())
{
    <div>
        <div>
            <ul class="ul-tieude">
                <li>
                    <span>Nhập lãi suất huy động ngân hàng</span>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 text-right btn-span" id="demo">
            <div class="img-span" style="padding-bottom:18px"><img src="~/Content/Images/icon_mo_rong.png" /></div>
        </div>
        <div class="col-sm-12 none-padding chitiet" style="padding-bottom:15px">
            @Html.Partial("FilterView", Model.laiSuat)
        </div>
    </div>
    <div>
        @Html.Action("NhapLaiSuatPartial", Model)
    </div>
    <div class="col-sm-12 none-padding footer">
        <div class="btm-toolbar">
            @Html.Partial("Footer")
        </div>
    </div>

    @*<div>
            @Html.DevExpress().RoundPanel(settings =>
            {
                settings.Name = "roundPanel";
                settings.AllowCollapsingByHeaderClick = true;
                settings.ShowCollapseButton = true;
                settings.EnableAnimation = true;
                settings.Width = Unit.Percentage(98);
                settings.HeaderText = "Nhập lãi suất huy động ngân hàng";
                settings.Height = Unit.Pixel(25);
                settings.SetContent(() => Html.RenderPartial("FilterView"));
            }).GetHtml()
        </div>

        <div id="gridview" style="width:60%; margin:auto;">
            @Html.Action("NhapLaiSuatPartial")
        </div>

        <div style="margin: auto; width: 200px">
            @Html.Partial("Footer")
        </div>*@
}
@Html.Partial("_Message")
@Html.Partial("_MessageSuccess")
@Html.Partial("LoadingPanel")