﻿@*<table>
    <tr>
        <td style="line-height:25px; padding-left:20px;">
            <b>Ngân hàng:</b>
        </td>
        <td>
            @Html.DevExpress().ComboBox(cb =>
       {
           cb.Name = "cbb_NganHang";
           cb.Width = 180;
           cb.SelectedIndex = 0;
           cb.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
           cb.Properties.DropDownStyle = DropDownStyle.DropDown;
           cb.Properties.TextField = "TEN_NGANHANG";
           cb.Properties.ValueField = "NGANHANG_ID";
       }).BindList(ViewBag.ListNganHang).GetHtml()
        </td>
        <td style="padding-left:20px;">
            <b style="float:left;">Ngày hiệu lực:</b><span style="float:left;">
    @Html.DevExpress().DateEdit(
                settings =>
                {
                    settings.Name = "date_HieuLuc";
                    settings.Properties.DisplayFormatString = "D";
                    settings.Width = Unit.Percentage(100);
                }
            ).GetHtml()
        </span>
        </td>
    </tr>
    <tr>
        <td style="line-height:25px; padding-left:20px;">
            <b>Công văn đến:</b>
        </td>
        <td>
            @Html.DevExpress().TextBox(
                settings =>
                {
                    settings.Name = "txt_CVDen";
                    settings.Width = 180;
                }
            ).GetHtml()
        </td>
        <td style="padding-left:20px;">
            @Html.DevExpress().DateEdit(
                settings =>
                {
                    settings.Name = "date_CVDen";
                    settings.Properties.DisplayFormatString = "D";
                    settings.Width = Unit.Percentage(100);
                }
            ).GetHtml()
        </td>
    </tr>
    <tr>
        <td style="line-height:25px; padding-left:20px;">
            <b>Công văn:</b>
        </td>
        <td>
            @Html.DevExpress().TextBox(
                settings =>
                {
                    settings.Name = "txt_CV";
                    settings.Width = 180;
                }
            ).GetHtml()
        </td>
        <td style="padding-left:20px;">
            @Html.DevExpress().DateEdit(
                settings =>
                {
                    settings.Name = "date_CV";
                    settings.Properties.DisplayFormatString = "D";
                    settings.Width = Unit.Percentage(100);
                }
            ).GetHtml()
        </td>
    </tr>
    <tr>
        <td style="line-height:25px;padding-left:20px;">
            <b>Thông báo của NH:&nbsp;&nbsp;</b>
        </td>
        <td>
            @Html.DevExpress().TextBox(
                settings =>
                {
                    settings.Name = "txt_NH";
                    settings.Width = 180;
                }
            ).GetHtml()
        </td>
        <td style="padding-left:20px;">
            @Html.DevExpress().DateEdit(
                settings =>
                {
                    settings.Name = "date_NH";
                    settings.Properties.DisplayFormatString = "D";
                    settings.Width = Unit.Percentage(100);
                }
            ).GetHtml()
        </td>
    </tr>
</table>*@
@Html.DevExpress().FormLayout(s =>
{
    QLQ.Core.Domain.QLQ_LAISUATNH_HDR m = Model as QLQ.Core.Domain.QLQ_LAISUATNH_HDR;
    s.Name = "FilterLayout";
    //s.EncodeHtml = false;
    s.Width = Unit.Percentage(50);
    var group = s.Items.AddGroupItem(gi =>
    {
        gi.ShowCaption = DefaultBoolean.False;
        gi.HorizontalAlign = FormLayoutHorizontalAlign.Right;
        gi.ColCount = 4;
        gi.Width = Unit.Percentage(100);
        gi.GroupBoxDecoration = GroupBoxDecoration.None;

    });

    var selectedIndex = 0;
    foreach (var item in (List<QLQ.Core.Domain.QLQ_DMNGANHANG>)ViewBag.ListNganHang)
    {
        if (item.NGANHANG_ID == m.NGANHANG_ID)
        {
            break;
        }
        selectedIndex++;
    }
    group.Items.Add(i =>
    {

        i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
        i.Name = "cbNganHang";
        i.Height = 30;
        i.Caption = "Ngân Hàng";
        i.CaptionSettings.VerticalAlign = FormLayoutVerticalAlign.Middle;
        i.NestedExtension().ComboBox(s2 =>
        {
            s2.Name = "cbNganHang";
            s2.Height = 28;
            s2.Width = Unit.Pixel(120);
            s2.Properties.DataSource = ViewBag.ListNganHang;
            s2.Properties.TextField = "TEN_NGANHANG";
            s2.Properties.ValueField = "NGANHANG_ID";
            s2.SelectedIndex = selectedIndex;
            s2.Properties.DropDownStyle = DropDownStyle.DropDown;
            //s2.Properties.ClientSideEvents.SelectedIndexChanged = "cbHinhThuc_SelectedIndexChanged";
        });
    });
    group.Items.Add(i =>
    {
        i.Caption = "Công văn đến";
        i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
        i.CaptionSettings.VerticalAlign = FormLayoutVerticalAlign.Middle;
        i.Name = "txtCvd";
        i.Height = 30;
        i.NestedExtension().TextBox(s2 =>
        {
            s2.Name = "CVD";
            s2.Width = Unit.Pixel(120);
            s2.Height = 28;
            s2.Text = m.SO_CVDEN;
        });
    });

    group.Items.Add(i =>
    {
        i.Caption = "Công văn ";
        i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
        i.CaptionSettings.VerticalAlign = FormLayoutVerticalAlign.Middle;
        i.Name = "txtCv";
        i.Height = 30;
        i.NestedExtension().TextBox(s2 =>
        {
            s2.Name = "CV";
            s2.Width = Unit.Pixel(120);
            s2.Height = 28;
            s2.Text = m.SO_CVNH;
        });
    });

    group.Items.Add(i =>
    {
        i.Caption = "Thông báo ngân hàng";
        i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
        i.CaptionSettings.VerticalAlign = FormLayoutVerticalAlign.Middle;
        i.Name = "txtTBNH";
        i.Height = 30;
        i.NestedExtension().TextBox(s2 =>
        {
            s2.Name = "TBNH";
            s2.Width = Unit.Pixel(120);
            s2.Height = 28;
            s2.Text = m.THONGBAO_NH;
        });
    });
    group.Items.Add(i =>
    {
        i.Caption = "Ngày hiệu lực";
        i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
        i.CaptionSettings.VerticalAlign = FormLayoutVerticalAlign.Middle;
        i.Name = "cbNgayHL";
        i.Height = 30;
        i.NestedExtensionType = FormLayoutNestedExtensionItemType.DateEdit;
        i.NestedExtension().DateEdit(s2 =>
        {
            s2.Name = "date_HL";
            s2.Width = Unit.Pixel(120);
            s2.Height = 28;
            s2.Properties.EditFormat = EditFormat.Custom;
            s2.Properties.DisplayFormatInEditMode = true;
            s2.Properties.DisplayFormatString = "dd/MM/yyyy";
            s2.Properties.EditFormatString = "dd/MM/yyyy";
            s2.Properties.NullText = "Ngày hiệu lực";
            if (m.NGAY_HIEULUC.HasValue)
                s2.Date = m.NGAY_HIEULUC.Value;
            //s2.Date = DateTime.Now;
        });
    });
    group.Items.Add(i =>
    {
        i.Caption = "Ngày công văn đến";
        i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
        i.CaptionSettings.VerticalAlign = FormLayoutVerticalAlign.Middle;
        i.Name = "cbNgayCVB";
        i.Height = 30;
        i.NestedExtensionType = FormLayoutNestedExtensionItemType.DateEdit;
        i.NestedExtension().DateEdit(s2 =>
        {
            s2.Name = "date_CVB";
            s2.Width = Unit.Pixel(120);
            s2.Height = 28;
            s2.Properties.EditFormat = EditFormat.Custom;
            s2.Properties.DisplayFormatInEditMode = true;
            s2.Properties.DisplayFormatString = "dd/MM/yyyy";
            s2.Properties.EditFormatString = "dd/MM/yyyy";
            s2.Properties.NullText = "Ngày công văn đến";
            if (m.NGAY_CVDEN.HasValue)
                s2.Date = m.NGAY_CVDEN.Value;
        });
    });
    group.Items.Add(i =>
    {
        i.Caption = "Ngày công văn";
        i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
        i.CaptionSettings.VerticalAlign = FormLayoutVerticalAlign.Middle;
        i.Name = "cbNgayCV";
        i.Height = 30;
        i.NestedExtensionType = FormLayoutNestedExtensionItemType.DateEdit;
        i.NestedExtension().DateEdit(s2 =>
        {
            s2.Name = "dateCV";
            s2.Width = Unit.Pixel(120);
            s2.Height = 28;
            s2.Properties.EditFormat = EditFormat.Custom;
            s2.Properties.DisplayFormatInEditMode = true;
            s2.Properties.DisplayFormatString = "dd/MM/yyyy";
            s2.Properties.EditFormatString = "dd/MM/yyyy";
            s2.Properties.NullText = "Ngày công văn";
            if (m.NGAY_CVNH.HasValue)
                s2.Date = m.NGAY_CVNH.Value;
        });
    });
    group.Items.Add(i =>
    {
        i.Caption = "Ngày thông báo";
        i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
        i.CaptionSettings.VerticalAlign = FormLayoutVerticalAlign.Middle;
        i.Name = "cbNgayTB";
        i.Height = 30;
        i.NestedExtensionType = FormLayoutNestedExtensionItemType.DateEdit;
        i.NestedExtension().DateEdit(s2 =>
        {
            s2.Name = "date_TB";
            s2.Width = Unit.Pixel(120);
            s2.Height = 28;
            s2.Properties.EditFormat = EditFormat.Custom;
            s2.Properties.DisplayFormatInEditMode = true;
            s2.Properties.DisplayFormatString = "dd/MM/yyyy";
            s2.Properties.EditFormatString = "dd/MM/yyyy";
            s2.Properties.NullText = "Ngày thông báo";
            if (m.NGAY_THONGBAO.HasValue)
                s2.Date = m.NGAY_THONGBAO.Value;
        });
    });
}).GetHtml()