﻿<table style="margin-top:10px">
    <tr>
        <td style="width:40%;">
            @Html.DevExpress().TokenBox(s =>
        {
            s.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
            s.Name = "txt_timkiem";
            s.Properties.NullText = "Nhập từ khóa tìm kiếm nhập theo số công văn đến, số công văn NH, thông báo";
            s.ControlStyle.Font.Size = 13;
            s.Properties.ShowDropDownOnFocus = ShowDropDownOnFocusMode.Never;
            s.Properties.ClientSideEvents.TokensChanged = "onTokensChanged";
            s.Width = Unit.Percentage(100);
            s.Height = Unit.Pixel(30);
            s.Properties.MaxLength = 50;
            s.ShowModelErrors = true;

        }).GetHtml()
        </td>
        <td style="padding-right: 400px">
            @Html.DevExpress().Button(s =>
        {
            s.Name = "buttonSearch";
            s.Text = "Tìm kiếm";
            s.Images.Image.IconID = IconID.ActionsSearch16x16devav;
            s.ClientSideEvents.Click = "Search";
            s.AllowFocus = false;
            s.ToolTip = "Tìm kiếm";
            s.ControlStyle.Font.Size = 13;
        }).GetHtml()
        </td>
    </tr>
</table>