﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/Content/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/Content/Images/logo.ico")" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content("/Content/Images/logo.ico")" rel="icon" type="image/x-icon" />
    <link href="@Url.Content("/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("/Scripts/ScriptDungChung.js")"></script>
    <script src="@Url.Action("ConstantsSession", "Home")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/jquery-1.12.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Content/bootstrap/js/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Content/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/js/menu.js")" type="text/javascript"></script>
    @RenderSection("HeadResources", false)
    @using QLQ.Core.CustomView
</head>
<body>
    <div class="container-fluid none-padding">
        @{
            string ipserver = "";
        }
        @if (Request.IsAuthenticated)
        {
            var host = Dns.GetHostEntry(Dns.GetHostName());
            foreach (var ip in host.AddressList)
            {
                if (ip.ToString().Contains("10."))
                {
                    ipserver += ip.ToString().Replace("10.0.", "");
                }
            }
        }
        <div id="contaier" class="row none-padding none-margin">
            <!--header-->
            <div id="header" class="row none-padding none-margin">
                <div class="container-fluid none-padding head-banner img-responsive">
                    <div class="col-sm-6 col-lg-4 img-txt-banner"></div>
                    <div class="col-sm-6 col-lg-8">
                        <div class="qlq-banner-right pull-right">
                            <div class="qlq-notification">
                                @{
                                    List<HopDongDenHanModel> HDDenHanNotification = (List<HopDongDenHanModel>)ViewData["HDDenHanNotification"];
                                    var curDate = Convert.ToDateTime(DateTime.Now.ToString("dd-MMM-yy"));
                                    if (HDDenHanNotification.Count > 0)
                                    {
                                        <a class="notification-link dropdown-toggle pull-right" data-toggle="dropdown"><span class="glyphicon glyphicon-bell"></span><span class="badge">@HDDenHanNotification.Count</span></a>
                                        <ul class="ul-notification">
                                            @foreach (HopDongDenHanModel hdObj in HDDenHanNotification)
                                            {
                                                <li>
                                                    <a href="/HopDong">
                                                        <span class="notification-timer">@DateTime.Now.ToString("dd/MM/yyyy")</span>
                                                        <span class="notification-info">
                                                            @hdObj.so_hopdong @if (hdObj.han_hopdong != null && (DateTime.Compare((DateTime)hdObj.han_hopdong, curDate) == 0))
                                                            {
                                                                string.Format(", đến ngày trả gốc");
                                                            }
                                                            @if (hdObj.ngayketthuc != null && (DateTime.Compare((DateTime)hdObj.ngayketthuc, curDate) == 0))
                                                            {
                                                                string.Format(", đến ngày trả lãi");
                                                            }
                                                        </span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <a class="notification-link pull-right"><span class="glyphicon glyphicon-bell"></span></a>
                                    }
                                }
                            </div>
                            <div class="qlq-auth">
                                <a class="dropdown-toggle pull-right user-name" data-toggle="dropdown"><img src="/Content/Images/images/user.svg" class="img-user" />&nbsp;@User.Identity.Name<span class="caret caret-color"></span></a>
                                <ul class="dropdown-menu none-margin pull-right">
                                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;Cá nhân</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-lock"></span>&nbsp;Đổi mật khẩu</a></li>
                                    <li><a href="/QLQount/LogOff"><span class="glyphicon glyphicon-off"></span>&nbsp;Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--menu-->
            <div class="row none-padding none-margin">
                @{ Html.RenderPartial("~/Views/Shared/HeaderPartialView.cshtml"); }
                @{
                    if (Session["MustChangePW"] != null)
                    {
                        if ((bool)Session["MustChangePW"])
                        {
                            if (@ViewBag.IsOnChangedPW != "True")
                            {
                                Response.Redirect("/DOIMATKHAU/Index");
                            }
                        }
                    }
                }
            </div>
            <!--content-->
            <div class="row main-content none-padding none-margin">
                @RenderBody()
            </div>
            <!--footer-->
            <div id="info" class="row none-padding none-margin ip-server">
                @ipserver
            </div>
        </div>
    </div>
</body>
</html>