﻿<script>
    function SuccessMessage2_Closing() {
        var func = document.getElementById("Success_Message2_function_closing").value;
        if (func == null || func == "") return;
        console.log(func);
        window[func]();
        $('#Success_Message2_function_closing').val("");
    }
    function SetActionAfterClose(func) {
        document.getElementById("Success_Message2_function_closing").value = func;
    }
</script>
<div id="Panel">
    @Html.DevExpress().PopupControl(
    settings =>
    {
        settings.Name = "Message_Success2";
        settings.Width = 100;
        settings.AllowDragging = true;
        settings.CloseAction = CloseAction.CloseButton;
        settings.CloseOnEscape = true;
        settings.PopupAnimationType = AnimationType.Fade;
        settings.HeaderText = "Thông báo";
        settings.ClientSideEvents.Shown = "function(s, e){btnOK_Success2.Focus();}";
        settings.ClientSideEvents.Closing = "SuccessMessage2_Closing";
        settings.Modal = true;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.SetContent(() =>
        {
            ViewContext.Writer.Write("<table style='width:260px'><tr><td style='padding : 5px; text-align: center;'>");
            ViewContext.Writer.Write("<img src=\"/Content/Images/Icon-flat/Check.png\" height=\"16\" width=\"16\"></td>");
            ViewContext.Writer.Write("<td style='padding : 5px; text-align: left;'><span id=\"noidung_success2\"></span></td></tr>");
            ViewContext.Writer.Write("<tr><td colspan='2' style='padding : 5px; text-align: right;'>");
            Html.DevExpress().Button(
                    buttonSettings =>
                    {
                        buttonSettings.Name = "btnOK_Success2";
                        buttonSettings.Width = 80;
                        buttonSettings.Text = "OK";
                        buttonSettings.ClientSideEvents.Click = "function(s, e){ Message_Success2.Hide(); }";
                    }
                ).Render();
            ViewContext.Writer.Write("</td></tr></table>");
        });
    }).GetHtml()
    <input type="hidden" value="" id="Success_Message2_function_closing" />
</div>

