﻿<script>
    function Message_Closing() {
        var func = document.getElementById("Message_function_closing").value;
        if (func == null || func == "") return;
        console.log(func);
        window[func]();
        $('#Message_function_closing').val("");
    }

    function ActionAfterClose(func) {
        document.getElementById("Message_function_closing").value = func;
    }

    function ShowPopupMessage(status, text, func) {     
        if (status) {
            $('#noidungTrue').text(text.toString());
            window.MessageTrue.Show();
            setTimeout(function () { MessageTrue.Hide(); }, 2000);
        }
        else {
            $('#noidung').text(text.toString());
            window.Message.Show();          
        }
        if (func != null) {
            document.getElementById("Message_function_closing").value = func;
        }
       
    }
</script>
<div id="Panel">
    @Html.DevExpress().PopupControl(
    settings =>
    {
        settings.Name = "Message";
        settings.Width = 100;
        settings.AllowDragging = true;
        settings.CloseAction = CloseAction.CloseButton;
        settings.CloseOnEscape = true;
        settings.PopupAnimationType = AnimationType.Fade;
        settings.HeaderText = "Thông báo";
        settings.Modal = true;
        settings.ClientSideEvents.Shown = "function(s, e){ btnOK.Focus();}";
        settings.ClientSideEvents.Closing = "Message_Closing";
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.SetContent(() =>
        {
            ViewContext.Writer.Write("<table style='width:260px'><tr><td style='padding : 5px; text-align: center;'>");
            ViewContext.Writer.Write("<img src=\"/Content/Images/Icon-flat/Stop32.png\" height=\"16\" width=\"16\"></td>");
            ViewContext.Writer.Write("<td style='padding : 5px; text-align: left; font-weight: bold;'><span id=\"noidung\"></span></td></tr>");
            ViewContext.Writer.Write("<tr><td colspan='2' style='padding : 5px; text-align: right;'>");
            Html.DevExpress().Button(
                    buttonSettings =>
                    {
                        buttonSettings.Name = "btnOK";
                        buttonSettings.Width = 80;
                        buttonSettings.Text = "OK";
                        buttonSettings.ControlStyle.Font.Bold = true;
                        buttonSettings.ClientSideEvents.Click = "function(s, e){ Message.Hide(); }";
                    }
                ).Render();
            ViewContext.Writer.Write("</td></tr></table>");
        });
    }).GetHtml()

    @Html.DevExpress().PopupControl(
    settings =>
    {
        settings.Name = "MessageTrue";
        settings.Width = 100;
        settings.AllowDragging = true;
        settings.CloseAction = CloseAction.CloseButton;
        settings.CloseOnEscape = true;
        settings.PopupAnimationType = AnimationType.Fade;
        settings.HeaderText = "Thông báo";
        settings.Modal = true;
        settings.ClientSideEvents.Shown = "function(s, e){ btnTrueOK.Focus();}";
        settings.ClientSideEvents.Closing = "Message_Closing";
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.SetContent(() =>
        {
            ViewContext.Writer.Write("<table style='width:260px'><tr><td style='padding : 5px; text-align: center;'>");
            ViewContext.Writer.Write("<img src=\"/Content/Images/Icon-flat/Check.png\" height=\"16\" width=\"16\"></td>");
            ViewContext.Writer.Write("<td style='padding : 5px; text-align: left; font-weight: bold;'><span id=\"noidungTrue\"></span></td></tr>");
            ViewContext.Writer.Write("<tr><td colspan='2' style='padding : 5px; text-align: right;'>");
            Html.DevExpress().Button(
                    buttonSettings =>
                    {
                        buttonSettings.Name = "btnTrueOK";
                        buttonSettings.Width = 80;
                        buttonSettings.Text = "OK";
                        buttonSettings.ControlStyle.Font.Bold = true;
                        buttonSettings.ClientSideEvents.Click = "function(s, e){ MessageTrue.Hide(); }";
                    }
                ).Render();
            ViewContext.Writer.Write("</td></tr></table>");
        });
    }).GetHtml()
    <input type="hidden" value="" id="Message_function_closing"/>
</div>

