﻿<script>
    function Message2_Closing() {
        var func = document.getElementById("Message2_function_closing").value;
        if (func == null || func == "") return;
        console.log(func);
        window[func]();
        $('#Message2_function_closing').val("");
    }

    function ActionAfterClose(func) {
        document.getElementById("Message2_function_closing").value = func;
    }

    function ShowPopupMessage2(status, text, func) {     
        if (status) {
            $('#noidungTrue2').text(text.toString());
            window.MessageTrue2.Show();
        }
        else {
            $('#noidung2').text(text.toString());
            window.Message2.Show();          
        }
        if (func != null) {
            document.getElementById("Message2_function_closing").value = func;
        }
       
    }
</script>
<div id="Panel">
    @Html.DevExpress().PopupControl(
    settings =>
    {
        settings.Name = "Message2";
        settings.Width = 100;
        settings.AllowDragging = true;
        settings.CloseAction = CloseAction.CloseButton;
        settings.CloseOnEscape = true;
        settings.PopupAnimationType = AnimationType.Fade;
        settings.HeaderText = "Thông báo";
        settings.Modal = true;
        settings.ClientSideEvents.Shown = "function(s, e){ btnOK2.Focus();}";
        settings.ClientSideEvents.Closing = "Message2_Closing";
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.SetContent(() =>
        {
            ViewContext.Writer.Write("<table style='width:260px'><tr><td style='padding : 5px; text-align: center;'>");
            ViewContext.Writer.Write("<img src=\"/Content/Images/Icon-flat/Stop32.png\" height=\"16\" width=\"16\"></td>");
            ViewContext.Writer.Write("<td style='padding : 5px; text-align: left;'><span id=\"noidung2\"></span></td></tr>");
            ViewContext.Writer.Write("<tr><td colspan='2' style='padding : 5px; text-align: right;'>");
            Html.DevExpress().Button(
                    buttonSettings =>
                    {
                        buttonSettings.Name = "btnOK2";
                        buttonSettings.Width = 80;
                        buttonSettings.Text = "OK";
                        buttonSettings.ClientSideEvents.Click = "function(s, e){ Message2.Hide(); }";
                    }
                ).Render();
            ViewContext.Writer.Write("</td></tr></table>");
        });
    }).GetHtml()

    @Html.DevExpress().PopupControl(
    settings =>
    {
        settings.Name = "MessageTrue2";
        settings.Width = 100;
        settings.AllowDragging = true;
        settings.CloseAction = CloseAction.CloseButton;
        settings.CloseOnEscape = true;
        settings.PopupAnimationType = AnimationType.Fade;
        settings.HeaderText = "Thông báo";
        settings.Modal = true;
        settings.ClientSideEvents.Shown = "function(s, e){ btnTrueOK2.Focus();}";
        settings.ClientSideEvents.Closing = "Message2_Closing";
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.SetContent(() =>
        {
            ViewContext.Writer.Write("<table style='width:260px'><tr><td style='padding : 5px; text-align: center;'>");
            ViewContext.Writer.Write("<img src=\"/Content/Images/Icon-flat/Check.png\" height=\"16\" width=\"16\"></td>");
            ViewContext.Writer.Write("<td style='padding : 5px; text-align: left;'><span id=\"noidungTrue2\"></span></td></tr>");
            ViewContext.Writer.Write("<tr><td colspan='2' style='padding : 5px; text-align: right;'>");
            Html.DevExpress().Button(
                    buttonSettings =>
                    {
                        buttonSettings.Name = "btnTrueOK2";
                        buttonSettings.Width = 80;
                        buttonSettings.Text = "OK";
                        buttonSettings.ClientSideEvents.Click = "function(s, e){ MessageTrue2.Hide(); }";
                    }
                ).Render();
            ViewContext.Writer.Write("</td></tr></table>");
        });
    }).GetHtml()
    <input type="hidden" value="" id="Message2_function_closing"/>
</div>

