﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/logo.ico")" type="image/x-icon" />
    <link rel="icon" href="@Url.Content("~/Content/Images/logo.ico")" type="image/x-icon" />
    @Html.DevExpress().GetStyleSheets(
    //new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
   // new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Office2003Olive" },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
 
    //new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker }
    new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
)
@Html.DevExpress().GetScripts( 
    //new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout }, 
    //new Script { ExtensionSuite = ExtensionSuite.HtmlEditor }, 
    new Script { ExtensionSuite = ExtensionSuite.GridView }, 
    //new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
    //new Script { ExtensionSuite = ExtensionSuite.Editors }, 
    //new Script { ExtensionSuite = ExtensionSuite.Chart },
   
    //new Script { ExtensionSuite = ExtensionSuite.Scheduler },
    //new Script { ExtensionSuite = ExtensionSuite.TreeList },
    //new Script { ExtensionSuite = ExtensionSuite.RichEdit },
    //new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
    //new Script { ExtensionSuite = ExtensionSuite.SpellChecker }
         new Script { ExtensionSuite = ExtensionSuite.Report }
)
</head>
<body>
    <script type="text/javascript">
        function updateHeaderMenuOrientation(){
            var orientation = HeaderPane.IsExpandable() ? 'Vertical' : 'Horizontal';
            if(orientation !== HeaderMenu.GetOrientation())
                HeaderMenu.SetOrientation(orientation);
        }
        var collection = ASPxClientControl.GetControlCollection();
        collection.ControlsInitialized.AddHandler(updateHeaderMenuOrientation);
        collection.BrowserWindowResized.AddHandler(updateHeaderMenuOrientation);
    </script>

    @Html.DevExpress().Panel(settings => {
        settings.Name = "MainPane";
        settings.ControlStyle.CssClass = "mainContentPane";
        settings.SetContent(RenderBody().ToHtmlString());
    }).GetHtml()
    @*@Html.DevExpress().Panel(settings =>
        {
            settings.Name = "FooterPane";
            settings.FixedPosition = PanelFixedPosition.WindowBottom;
            settings.SettingsAdaptivity.HideAtWindowInnerWidth = 500;
            settings.ControlStyle.CssClass = "footerPane";
            settings.Styles.Panel.CssClass = "panel";
            settings.SetContent(() =>
            {
                Html.RenderPartial("FooterPartialView");
         });
    }).GetHtml()*@

</body>
</html>