﻿@Html.DevExpress().PopupControl(
            settings =>
            {
                settings.Name = "popup_message";
                settings.HeaderText = "Thông báo";
                settings.Width = Unit.Pixel(350);
                settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
                settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
                settings.CloseOnEscape = true;
                settings.Modal = true;
                settings.AllowDragging = true;
                settings.CloseAction = CloseAction.CloseButton;
                settings.SetContent(() =>
                {
                    ViewContext.Writer.Write("<table style='width:300px'><tr><td style='padding : 5px; text-align: center;'>");
                    ViewContext.Writer.Write("<img src=\"/Content/Images/Icon/show_ndh.png\" height=\"24\" width=\"24\"></td>");

                    ViewContext.Writer.Write("<td style='padding : 5px; text-align: left;'><span id=\"noidung\"></span></td></tr>");
                    ViewContext.Writer.Write("<tr><td colspan='2' style='padding : 5px; text-align: right;'>");
                    ViewContext.Writer.Write("</td></tr></table>");


                });

            }).GetHtml()
