﻿<div class="footerMenu">
    
</div>
<div class="copyright">
    @Html.DevExpress().Label(settings => {
        settings.EncodeHtml = false;
        settings.Text = DateTime.Now.Year + " &copy; TRUNG TÂM CÔNG NGHỆ CAO";
    }).GetHtml()
</div>