﻿@*<style>
    .dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
</style>*@
<div class="navbar navbar-default navbar-qlq" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-qlq-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse navbar-qlq-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/Home"><img src="~/Content/Images/images/home.svg" class="home-icon" /></a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>HỆ THỐNG</span></a>
                <ul class="dropdown-menu">
                    @*<li><a href="/DoiMatKhau">Đổi mật khẩu</a></li>*@
                    <li><a href="/QuanLyNguoiDung">Quản lý người dùng</a></li>
                    <li><a href="/QLQ_Object">Quản lý chức năng</a></li>
                    <li><a href="/QLQ_PERMISSION">Danh mục quyền</a></li>
                    <li><a href="/RolePermission">Quản lý nhóm quyền</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>DANH MỤC</span></a>
                <ul class="dropdown-menu">
                    <li><a href="/DMHinhThucDTu">Danh mục hình thức đầu tư</a></li>
                    <li><a href="/DMDauTu">Danh mục đầu tư</a></li>
                    <li><a href="/DMChiTieu">Danh mục chỉ tiêu</a></li>
                    <li><a href="/DMHopDong">Danh mục hợp đồng</a></li>
                    <li><a href="/DMNGANHANG">Danh mục ngân hàng</a></li>
                    <li><a href="/DMChucDanh">Danh mục chức danh</a></li>
                    <li><a href="/DMCQBHXH">Danh mục cơ quan BHXH</a></li>
                    <li><a href="/DMKyHan">Danh mục kỳ hạn</a></li>
                    <li><a href="/DMToChucDauThau">Danh mục tổ chức đấu thầu</a></li>
                    <li><a href="/DMDangKyLuuKy">Danh mục đăng ký lưu ký</a></li>
                    <li><a href="/DMToChucCungCapDichVuDauThau">Danh mục tổ chức cung cấp dịch vụ đấu thầu</a></li>
                    <li><a href="/DMHinhThucDauThau">Danh mục hình thức đấu thầu</a></li>
                    @*<li class="dropdown-submenu">
                        <a tabindex="-1" href="#">DANH MỤC</a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="/DMHinhThucDTu">Danh mục hình thức đầu tư</a></li>
                            <li><a href="/DMDauTu">Danh mục đầu tư</a></li>
                            <li><a href="/DMChiTieu">Danh mục chỉ tiêu</a></li>
                            <li><a href="/DMHopDong">Danh mục hợp đồng</a></li>
                        </ul>
                    </li>*@
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>QUẢN LÝ HỒ SƠ</span></a>
                <ul class="dropdown-menu">
                    <li><a href="/HS_KHACHHANG">Quản lý thông tin khách hàng</a></li>
                    <li><a href="/HOSO">Quản lý hồ sơ pháp lý</a></li>
                    <li><a href="/HS_XEPLOAINH">Xếp loại ngân hàng</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>QUẢN LÝ HỢP ĐỒNG</span></a>
                <ul class="dropdown-menu">
                    <li><a href="/HopDong">Quản lý hợp đồng</a></li>
                    <li><a href="/HDQuaHan">Quản lý hợp đồng quá hạn</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>THEO DÕI TÍNH LÃI</span></a>
                <ul class="dropdown-menu">
                    <li><a href="/DieuChinhLaiSuat">Điều chỉnh lãi suất</a></li>
                    <li><a href="/PhieuC89">C89-HD: Phiếu tính lãi</a></li>
                    <li><a href="/SoChiTietLaiDauTu_01DTQ">Sổ 01_ĐTQ: Sổ chi tiết lãi đầu tư</a></li>
                    <li><a href="/So02DTQ">Sổ 02a_ĐTQ: Sổ theo dõi gốc và lãi đầu tư</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>THEO DÕI LÃI SUẤT</span></a>
                <ul class="dropdown-menu">
                    <li><a href="/LaiSuatHuyDong">Lãi suất huy động</a></li>
                    <li><a href="/SoTheoDoi">Sổ theo dõi</a></li>
                    <li><a href="/LaiSuatHDVBinhQuan">Lãi suất bình quân</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>BÁO CÁO</span></a>
                <ul class="dropdown-menu">
                    <li><a href="/BC_KeHoachDauTu">Kế hoạch đầu tư</a></li>
                    <li><a href="/BC_C90HD">C90_HD: Bảng đối chiếu số dư đầu tư, lãi đầu tư tài chính</a></li>
                    <li><a href="/BC_TinhHinhDauTuTaiChinh">B10a_BH: Báo cáo tình hình đầu tư tài chính</a></li>
                    <li><a href="/BC_ThuLaiDauTuTaiChinh">B10b_BH: Báo cáo thực hiện thu lãi đầu tư tài chính</a></li>
                    <li><a href="/BC_BangDoiChieu">Đối chiếu với vụ TCKT</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>TIỆN ÍCH</span></a>
                <ul class="dropdown-menu">
                    <li><a href="/SoDuDauTuChiTiet">TH số dư đầu tư chi tiết</a></li>
                    <li><a href="/SoDauTuMoi">TH số dư đầu tư mới</a></li>
                    <li><a href="/SoDuDauTuDenHan">TH số dư đầu tư đến hạn</a></li>
                    <li><a href="/TongHopSoDuDauTu">TH số dư đầu tư</a></li>
                    <li><a href="/TheoDoiLaiTongHop">Theo dõi lãi tổng hợp</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>TRÁI PHIẾU ĐẤU THẦU</span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Phiếu dự thầu</a></li>

                    
                </ul>
            </li>
        </ul>
    </div>
</div>