﻿@using FX.Context

@{
    var MustChangePW = "False";
    if (Session["MustChangePW"] != null)
    {
        if ((bool)Session["MustChangePW"])
        {
            MustChangePW = "True";

        }
    }
}
<style>
    #admin {
        position: absolute;
        white-space: nowrap;
        right: 10px;
    }
    .dxrd-designer-wrapper .dxrd-toolbar-wrapper {
        /*position: fixed;*/
        left: 64px;
        right: 375px;
        height: 64px;
        min-width: 800px;
        /*padding-top: 42px;*/
    }

    .dxrd-toolbar {
        position: fixed;
        background: #E5E5E5;
        z-index: 12008 !important;
    }


    .dxpc-content {
        padding-top: 0px !important;
    }
    .dx-overlay-wrapper {
        z-index: 100000 !important;
    }
</style>
<script>
    function ShowPhienLamViec() {
        window.popupPhienLamViec.Show();
    }

    function showMessage(isSucess, text) {
        if (isSucess) {
            $('#noidung_success').text(text.toString());
            window.Message_Success.Show();
        } else {
            $('#noidung').text(text.toString());
            window.Message.Show();
        }

    }

    function DY_PhienLamViec() {

        var madvql = window.DF_MA_DVQL.GetValue();
        var loaiTg = window.cbx_thoigian_session.GetValue();
        $.ajax({
            type: "POST",
            url: '@Url.Action("DY_PhienLamViec", "Account")',
            data: {
                madvql: window.DF_MA_DVQL.GetValue(),
                loaiTg: window.cbx_thoigian_session.GetValue(),
                thang: window.cbx_thang_session.GetValue(),
                quy: window.cbx_quy_session.GetValue(),
                nam: window.cbx_nam_session.GetValue()
            },
            success: function(data) {
                switch (data) {
                case "false":
                    showMessage(false, "Mất phiên người dùng");
                    window.location.href = '@Url.Action("Index", "Account")';
                    return;
                case "TimeNull":
                    showMessage(false, "Chưa chọn giá trị thời gian");
                    return;
                case "dvqlnull":
                    showMessage(false, "Chưa chọn đơn vị quản lý");
                    return;
                case "notExistCskcb":
                    showMessage(false, "Mã đơn vị quản lý không đúng");
                    return;
                case "true":
                    window.popupPhienLamViec.Hide();
                    window.location.href = '@Url.Action("Index", "Home")';
                    return;
                default:
                }

            }
        });
    }
</script>
@{
    string ipad = "";
}
@if (Request.IsAuthenticated)
{
    var host = Dns.GetHostEntry(Dns.GetHostName());
    foreach (var ip in host.AddressList)
    {
        if (ip.ToString().Contains("10."))
        {
            ipad += ip.ToString().Replace("10.0.", "");
        }
    }
    <div id="admin"> Xin chào <b>@User.Identity.Name</b>! |<a href="javascript:ShowPhienLamViec();">&nbsp;Phiên làm việc <b>"HaiPL"</b></a></div>
}
@Html.DevExpress().PopupControl(
    settings =>
    {
        settings.Name = "popupPhienLamViec";
        settings.Width = 450;settings.Height = 150;
        settings.ShowOnPageLoad = false;
        settings.AllowDragging = false;
        settings.CloseAction = CloseAction.CloseButton;
        settings.CloseOnEscape = true;
        settings.AutoUpdatePosition = true;
        settings.PopupAnimationType = AnimationType.None;
        settings.ShowHeader = true;
        settings.Modal = true;
        settings.HeaderText = "Thông tin phiên làm việc IP: " + ipad;
        settings.ShowCloseButton = true;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        //settings.SetContent(() => @Html.RenderPartial("PopupPhienLamViec", nguoidung));
    }).GetHtml()