﻿<script>
    function ShowConfirmPopup(acceptFunction) {
        window.popup_Delete.Show();
        document.getElementById("popup_Delete_Confirm").value = acceptFunction;
    }
    function DeleteConfirm() {
        window.popup_Delete.Hide();
        var func = document.getElementById("popup_Delete_Confirm").value;
        if (func == null || func == "") return;
        console.log(func);
        if (func == 'ShowPhienLamViec') {
            //var ma_dvql = document.getElementById("nguoidung_ma_dvql").value;
            //DF_MA_DVQL.SetValue(ma_dvql);
            popupPhienLamViec.Show();
          
        }
        else
        {
            window[func]();
        }

        $('#popup_Delete_Confirm').val("");
    }

    function popup_Delete_Closing(s,e) {
        label_ConfirmDelete.SetText("Bạn có muốn xóa dữ liệu hiện tại?");
    }
</script>
<style>
    .label {
        font-weight: bold;
        color: #222222;
    }
</style>
@Html.DevExpress().PopupControl(
        settings =>
        {
            settings.Name = "popup_Delete";
            settings.HeaderText = "Thông báo";
            settings.Width = Unit.Pixel(300);
            settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
            settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
            settings.CloseOnEscape = true;
            settings.Modal = true;
            settings.AllowDragging = true;
            settings.ClientSideEvents.Closing = "popup_Delete_Closing";
            settings.CloseAction = CloseAction.CloseButton;
            settings.SetContent(() =>
            {
                ViewContext.Writer.Write("<div style=\" padding : 10px; text-align: center;\">");
                Html.DevExpress().Label(
                labelSettings =>
                {
                    labelSettings.AssociatedControlName = "popup_Delete";
                    labelSettings.Name = "label_ConfirmDelete";
                    labelSettings.ControlStyle.CssClass = "label";
                    
                    labelSettings.Text = "Bạn có muốn xóa dữ liệu hiện tại?";

                }
                ).Render();

                ViewContext.Writer.Write("</div><div style=\" padding : 8px\"> <table><tr><td style=\"padding : 8px; margin:auto\">");

                Html.DevExpress().Button(
                buttonSettings =>
                {
                    buttonSettings.Name = "btDelete";
                    buttonSettings.ControlStyle.CssClass = "button";
                    buttonSettings.Width = 100;
                    buttonSettings.Text = "Đồng ý";
                    buttonSettings.Images.Image.Url = Url.Content("~/Content/Images/Checkmark-16.png");
                    buttonSettings.ClientSideEvents.Click = "DeleteConfirm";
                }).Render();
                ViewContext.Writer.Write(" </td><td style=\"padding : 10px; margin:auto\">");
                Html.DevExpress().Button(
                buttonSettings =>
                {
                    buttonSettings.Name = "btnCancel_Delete";
                    buttonSettings.ControlStyle.CssClass = "button";
                    buttonSettings.Width = 100;
                    buttonSettings.Text = "Hủy";
                    buttonSettings.Images.Image.Url = Url.Content("~/Content/Images/x-16.png");
                    buttonSettings.ClientSideEvents.Click = "function(s, e){ popup_Delete.Hide(); }";
                }
            )
            .Render();
                ViewContext.Writer.Write("</td></tr></table></div><b class=\"Clear\"></b>");
            });
        }).GetHtml()
<input type="hidden" value="" id="popup_Delete_Confirm" />