body{}
.none-padding{
	padding-left:0;
	padding-right:0
}
img.img-hidden{
	display:none;
}
img.img-show{
	display:block;
}
@font-face{
	 font-family: 'myFont';
	 src:url(UTM_Bebas.ttf);
}
@font-face{
	 font-family: 'Myriad';
	 src:url(MyriadPro_Regular.otf);
}

.header{
    background: #2791cf;
}
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
form{
	    margin-top: 60px;
	   
}

.footer{
	/* position: absolute;
	height:75px;
	color:#0A3A56;
	text-align:center;
	padding: 10px;
	background:#fff;
	width: 100%; */
	background:#fff;
	width:100%;
	height:75px;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
	padding: 10px;
}
.footer p{
	color: #0A3A56;
}
#header {
	background:#0a3a56;
	
}
#content {

}
body #login {
     border: 1px solid #fff;
     position: absolute;
     max-width: 100%;
     width: 490PX;
     left: 50%;
     /*margin-top: 140px;*/
     transform: translateX(-50%) translateY(-50%);
    top: 50%;
     /*    background-color: #3B5F76; */
     padding-bottom: 15px;
     border:1px solid #153677;
     padding-bottom:70px;
}
#form ul.ul-banner li{
	display:block
}
.banner{
	height: 70px;
    background: #0A3A56;
    padding: 0 0 0 15px;
}
.none-padding-right{
	padding-right:0px!important;
}
p.font-banner{
	 font-family: myFirstFont;
	    padding: 17px 0 0 0;
}
p.p-login{
	font-size:20px;
}
body #login .title {
	    height: 50px;
  border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: #2791cf;
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
    font-weight: bold;
}
body #login .title.tbl {
	 margin-bottom: 0;
}

.search-a{
	    background: #def1fa;
		margin-top:-30px;
}
.btn-login{
  font-family: 'Myriad';
  margin: 0 0 0 20px;
  height: 38px;
  color: #fff;
  background-color: #153677;
  border-color: #fff;
  float: right;
  padding: 0 15px;
  border-radius: 6px;
}
.btn-login:hover{
  font-family: 'Myriad';
  margin: 0 0 0 20px;
  height: 38px;
  color: #fff;
    text-underline: black;
  background-color: #0093DD;
  border-color: #fff;
  float: right;
  padding: 0 15px;
  border-radius: 6px;
}
#form .btn-login img{
	width:20px;
	margin-right: 5px;

}
#form p.font{
      margin: 3px 0 0 0;
    float: right;
    font-weight: bold;
    color: #2791cf;
    font-size: 14px;
}

input.form-control {
	 font-family: 'Myriad';
	width: 100%;
	outline: none;
	/* background-color: #3076a1; */
	border: 1px solid #3076a1;
	/* box-shadow: inset 0 1px 1px rgba(0,0,0,0); */
	/*height: 40px;*/
	border-radius: 5px!important;
	margin-top: -6px;
}
.input-group {
	width:70%;
       left: 15%;
    margin-bottom: 1.5em;
}
.input-group .form-control {
    width: 100%;
    border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.btn-close,.btn-close:hover{
	background:#3f9bb0
}
#login.pass{
	background:#fff;
	padding-bottom:0
}
.btn-red,.btn-red:hover{
	background:red;
	border:1px solid red
}
.btn-green,.btn-green:hover{
	border: 1px solid #0b1f40;
    background: #0b1f40;
}
#login.search{
	background:#fff;
	 transform: translateX(0);
	 position: static;
	margin-top:0;
	width:100%;
}
body #login.admin{
	 transform: translateX(0);
	 position: static;
	 padding: 50px 0 50px 0;
    margin-top: 25px;
    width:100%;
    background-color: #fff;
    border: 1px solid #ccc;
}
.header p.font-p{
	font-size:14px;
	color:black;
}
.right button.btn.btn-login{
	margin-right:15px;
}
.search1{
    
    transform: translateX(0);
    position: static;
    margin-top: 0;
    width: 100%;
}
.data-table{
	margin: 50px 0 0 0;
    font-weight: bold;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    height: 50px;
    padding: 12px;
    background: #def1fa;
    text-align: center;
}
#form ul{
	list-style-type:none;
	padding: 0 30px;
}
#form ul li{
	display: inline-block;
	/* margin-top: 10px; */
	margin: 10px 0;
}
#form ul li p{display: inline-block;font-size: 15px;margin: 0 5px 0 0;font-family: 'Myriad';color: #0A4A63;}
#form ul li input{
	display:inline-block;
}
#form ul li.check input{
	width: 100%;
	margin: 20px 0;
}

#form h5{/* font-weight: bold; */color: #fff;/* margin: 0 0 0 25px; */}
h5.font-login {
    font-family: myFirstFont;
	    font-size: 25px;
}
h5.font-login1{
    font-family: myFirstFont;
    font-size: 36px;
    font-family: 'myFont';
    text-align: right;
}
img.logo-img{
	     margin: -121px 0 0 17px;
	     width: 105px;
	     z-index: 1;
}
.form-top{
	    margin: 0 0 30px 0;
	    padding: 10px 0;
	    background:#153677;
}
ul.ul-line,ul.ul-capcha{
	    margin:  0;
   
}
ul.ul-capcha img{
	width:100%
}
ul.ul-line{
	
    border: 1px solid #fff;
}
#ip_info {
        height: 16px;
        position: fixed;
        bottom: 0%;
        width: 100%;
        background-color: #F1F1F1;
        opacity: 1;
        text-align: right;
        font-size: 14px;
    }
#form ul.ul-capcha li input.input-capcha{
	height: 61px;
	width: 199px;
	color:#93c6e6!important;
	padding:0 10px;
}
p.font-capcha{
	margin: 5px 0 0 0;
	color: #b1bec7;
	font-size: 16px;
}
ul.ul-user{
	padding:10px 30px!important;
}
div.col{
	margin-bottom:30px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #93c6e6;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #93c6e6;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #93c6e6;
}
:-moz-placeholder { /* Firefox 18- */
  color: #93c6e6;
}
button.load img{
	width: 30px;
    margin-right: 10px;
}
button.load{
	float: right;
    border: 0;
    background: #fff;
    margin-top: 20px;
}
#form ul.register{
	margin:0;
	padding:0
}
ul.register li.li-left,ul.register li{
	
	padding:0 5px
}
ul.register li.li-left{
	border-left:1px solid #0A4A63;
}
ul.register li a{
	    font-family: 'Myriad';
	    color: #0A4A63;
	    font-size: 15px;
}
@media screen and (max-width: 630px){
	#form ul.register li.li-left, #form ul.register li{
	display:inline-block
}
div.col {
   margin-bottom: 0px; 
}
	#form ul li {
   
    margin: 6px 0;
}

	input.form-control{
		width:100%;
	}
	body #login{
		width:100%;
	}
	#form ul li{
		display:block
	}
	img.img-hidden{
	display: block;
    width: 100px;
    margin: auto;
	padding: 10px 0;
}
img.img-show{
	display:none;
}
h5.font-login1{
	font-size: 49px;
	text-align: center;
}
}
@media screen and (max-width: 500px){
	h5.font-login1 {
    font-size: 39px;
    text-align: center;
}

button.load p{
	display:none!important
}
button.load {

	float:none
}
}

@media screen and (max-width: 410px){
	h5.font-login1 {
    font-size: 31px;
    text-align: center;
}
}
