﻿<table style="margin-top:10px">
    <tr>
        <td style="width:40%;font : 50px" > Danh mục đầu tư</td>
        <td style="width:40%;">
            @Html.DevExpress().DropDownEdit(s =>
       {

           s.Name = "dropdown";
           s.Properties.NullText = "Combobox";
           s.ControlStyle.Font.Size = 13;
          s.Properties .ClientSideEvents.DropDown = "dataList_DanhMucDauTu";
           s.Width = Unit.Percentage(100);
           s.Height = Unit.Pixel(30);
           s.Properties.MaxLength = 50;
           s.ShowModelErrors = true;

       }).GetHtml()
        </td>
    </tr>
    <tr>
        <td  style="width:40%;font : 50px"> Thời gian</td>
        <td style="width:40%;">
           <input id="party" type="datetime-local" name="partydate" value="2017-06-01T08:30">
        </td>
    </tr>
    @*<tr>
        <td  style="width:40%;font : 50px">Khách Hàng</td>
        <td style="width:40%;">
        <td style="width:40%;">
            @Html.DevExpress().TokenBox(s =>
       {
            s.Properties.ClientSideEvents.DropDown="dataList_KhachHang";
           s.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
           s.Name = "txt_timkiem";
           s.Properties.NullText = "Combobox";
           s.ControlStyle.Font.Size = 13;
           s.Properties.ShowDropDownOnFocus = ShowDropDownOnFocusMode.Never;
           s.Properties.ClientSideEvents.TokensChanged = "onTokensChanged";
           s.Width = Unit.Percentage(100);
           s.Height = Unit.Pixel(30);
           s.Properties.MaxLength = 50;
           s.ShowModelErrors = true;

       }).GetHtml()
        </td>
        </td>
    </tr>*@
</table>

<table style="margin-top:10px">
    <tr>
        <td style="width:40%;">
            @Html.DevExpress().TokenBox(s =>
        {
            s.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
            s.Name = "txt_timkiem";
            s.Properties.NullText = "Nhập từ khóa tìm kiếm theo mã đầu tư, tên đầu tư";
            s.ControlStyle.Font.Size = 13;
            s.Properties.ShowDropDownOnFocus = ShowDropDownOnFocusMode.Never;
            s.Properties.ClientSideEvents.TokensChanged = "onTokensChanged";
            s.Width = Unit.Percentage(100);
            s.Height = Unit.Pixel(30);
            s.Properties.MaxLength = 50;
            s.ShowModelErrors = true;

        }).GetHtml()
        </td>
        <td style="padding-right: 400px">
            @Html.DevExpress().Button(s =>
        {
            s.Name = "buttonSearch";
            s.Text = "Tìm kiếm";
            s.Images.Image.IconID = IconID.ActionsSearch16x16devav;
            s.ClientSideEvents.Click = "Search";
            s.AllowFocus = false;
            s.ToolTip = "Tìm kiếm";
            s.ControlStyle.Font.Size = 13;
        }).GetHtml()
        </td>
    </tr>
</table>
