﻿@{
    ViewBag.Title = "Tổng hợp số đâù tư mới ";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@*@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}*@

<script>
    function dataList_DanhMucDauTu() {
       
        return @ViewBag.ListdmDautu;
    }
    function dataList_HoSoKhachHang() {
        var dataList_HoSoKhachHang = new { Controller = "TongHopSoDauTuMoiController", Action = "GetHoSoKhachHang" }
    }
</script>
<div>
    <div>
        <ul class="ul-tieude">
            <li>
                <span>Bảng Tổng hợp số đâù tư mới</span>
            </li>
        </ul>
    </div>
    <ul>
    @foreach (var data in ViewBag["ListdmDautu"])
    {
        <li>data</li>
    }
        </ul>
    <div class="col-xs-12 text-right btn-span" id="demo">
        <div class="img-span" style="padding-bottom:18px"><img src="~/Content/Images/icon_mo_rong.png" /></div>
    </div>
    <div class="col-sm-12 none-padding chitiet" style="padding-bottom:15px">
        @Html.Partial("FilterView")
    </div>
</div>
