﻿<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")"></script>
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
    <link href="@Url.Content("~/Content/CSS/style_Login.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/bootstrap/owl.carousel.2.0.0-beta.2.4/owl.carousel.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap/owl.carousel.2.0.0-beta.2.4/owl.carousel.min.js")"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout }
    )
    @Html.DevExpress().GetScripts()
</head>
<body>
    <style>
        #ip_info {
            height: 16px;
            position: fixed;
            bottom: 0%;
            width: 100%;
            background-color: #F1F1F1;
            opacity: 1;
            text-align: right;
            font-size: 14px;
        }
    </style>
@model ACC.Core.Domain.NGUOIDUNG
@{
    string ipserver = "";
    var host = Dns.GetHostEntry(Dns.GetHostName());
    foreach (var ip in host.AddressList)
    {
        if (ip.ToString().Contains("10."))
        {
            ipserver += ip.ToString().Replace("10.0.", "");
        }
    }
}
<div class="container-fluid">
    <!--==============header=====================-->
    <div class="header">
        <div id="login">
            <div id="form">
                <img src="/Content/Images/logo.svg" class="img-hidden"/>
                <div class="form-top">

                    <ul class="ul-banner">

                        <li class="li-font">

                            <h5 class="font-login1">HỆ THỐNG QUẢN LÝ TÀI CHÍNH</h5>
                        </li>
                    </ul>
                </div>
                <img src="/Content/Images/logo.svg" class="logo-img img-show"/>
                <ul class="ul-user" style="margin-top: 40px;">
                    <li class="col-sm-2 col-xs-12 none-padding">
                        <p>Tài khoản:</p>
                    </li>
                    <li class="col-sm-10 col-xs-12 none-padding">
                        <input type="text" class="form-control" id="username">
                    </li>
                </ul>
                <ul class="ul-user">
                    <li class="col-sm-2 col-xs-12 none-padding">
                        <p>Mật khấu:</p>
                    </li>
                    <li class="col-sm-10 col-xs-12 none-padding">
                        <input type="password" class="form-control" id="password">
                    </li>
                    <ul class="ul-line"></ul>
                </ul>
                <ul class="ul-capcha">
                    <li class="col-sm-12 col-xs-12 none-padding">
                        <div id="Captcha_IMGD" class="col-sm-7 col-xs-7 none-padding">
                            @*<img src="/Content/Images/capcha.png">*@
                            @Html.Partial("PartialImgCaptcha", Model)
                        </div>
                        <div class="col-sm-5 col-xs-5 none-padding-right">
                            <button id="Captcha_RTS" class="load">
                                <img src="/Content/Images/hienthi.svg">
                                <p>Hiển thị mã khác</p>
                            </button>

                        </div>
                    </li>
                </ul>
                <ul class="ul-user">

                    <li class="check col-sm-12 col-xs-12 none-padding">
                        <input type="text" id="Captcha_TB_I" class="form-control" placeholder="Gõ mã hiển thị">
                    </li>
                </ul>
                <ul class="ul-capcha">
                    <div class="col-xs-12 col-sm-6 none-padding col">
                        <ul class="register">
                            <li>
                                <a href="#">Quên mật khẩu?</a>
                            </li>
                            <li class="li-left">
                                <a href="#">Đăng kí</a>
                            </li>
                        </ul>
                    </div>
                    <div class=" col-xs-12 col-sm-6  none-padding col">
                        <div class="form-group">
                            <button type="button" class="btn btn-login" onclick=" logOn() " id="submit_btn">Đăng nhập</button>
                        </div>
                    </div>
                    <!-- /input-group -->
                </ul>

            </div>
        </div>
    </div>
    <!--==============end header=====================-->
</div>
<script>

    $('input[type=text],input[type="password"]').on("change paste keyup", function() {
        $('#lblMessage').text('');
    });

    $(document).ready(function() {
        $("#username").keyup(function(event) {

            if (event.keyCode == 13) {
                event.preventDefault();
                console.log("Ok");
                logOn();
            }
        });
        $("#password").keyup(function(event) {
            event.preventDefault();
            if (event.keyCode == 13) {
                logOn();
            }
        });
        $("#Captcha_TB_I").keyup(function(event) {
            event.preventDefault();
            if (event.keyCode == 13) {
                logOn();
            }
        });
    });

    function logOn() {
        var strCaptcha = $('#Captcha_TB_I').val();
        var username = $('#username').val();
        if (username == null || username == "") {
            ShowPopupMessage(false, "Vui lòng nhập tên đăng nhập!");
            return;
        }
        if (strCaptcha == "") {
            ShowPopupMessage(false, "Bạn chưa nhập mã Captcha!");
            return;
        }

        LoadingPanel.Show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Login", "Account")',
            data: { username: $('#username').val(), password: $('#password').val(), captcha: strCaptcha },
            success: function(data) {
                LoadingPanel.Hide();
                switch (data.data) {
                case 1:
                    window.location.href = '@Url.Action("Index", "Home")';
                    return;
                case 2:
                    ShowPopupMessage(false, "Nhập sai tên đăng nhập hoặc mật khẩu. Vui lòng nhập lại!");
                    return;
                case 3:
                    ShowPopupMessage(false, "Nhập sai Captcha. Vui lòng nhập lại!");
                    return;
                case 4:
                    ShowPopupMessage(true, "Lần đầu đăng nhập vui lòng nhập mật khẩu!", "ChangedFirstPass");
                    return;
                case 5:
                    ShowPopupMessage(false, "Xảy ra lỗi hệ thống, liên hệ với quản trị!");
                    return;
                case 6:
                    ShowPopupMessage(false, "Xảy ra lỗi hệ thống, liên hệ với quản trị!");
                    return;
                default:
                    return;
                }
            }
        });
    }

    function EndCallBack_CskcbCombobox() {
        window.popupPhienLamViecCopy.Show();
    }

    function ChangedFirstPass() {
        window.location = '@Url.Action("Index", "DOIMATKHAU")';
    }

    $("#Captcha_RTS").click(function() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PartialImgCaptcha", "Account")',
            data: {},
            success: function(data) {
                $("#Captcha_IMGD").html(data);
            }
        });
    });

</script>
@Html.Partial("_Message")
@Html.Partial("LoadingPanel")
<div id="ip_info">@ipserver</div>
</body>

</html>



