﻿@model ACC.Core.Domain.NGUOIDUNG
@{
    ViewBag.Title = "ACC v" + ACC.FEW.RouteConfig.Version + " | Phiên làm việc";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/logo.ico")" type="image/x-icon" />
    <link rel="icon" href="@Url.Content("~/Content/Images/logo.ico")" type="image/x-icon" />
    <script src="@Url.Content("~/Scripts/ScriptDungChung.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery-1.12.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script>
        function DY_PhienLamViec() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DY_PhienLamViec", "Account")',
                data: {
                    cskcbId: window.DF_COSOKCB_ID.GetValue(), loaiTg: window.cbx_thoigian_session.GetValue(), thang: window.cbx_thang_session.GetValue()
                    , quy: window.cbx_quy_session.GetValue(), nam: window.cbx_nam_session.GetValue()
                },
                success: function (data) {
                    if (data == 'true') {
                        window.popupPhienLamViec.Hide();
                        return false;
                    }
                    else if (data == 'TimeNull') {
                        popup_message_phienlamviec.Show(); popup_message_phienlamviec.SetContentHtml(IDrawMessageTable("error", "Bạn phải chọn loại thời gian Tháng hoặc Quý!"));
                        return false;
                    }
                    else if (data == 'kcbnull') {
                        popup_message_phienlamviec.Show(); popup_message_phienlamviec.SetContentHtml(IDrawMessageTable("error", "Bạn phải chọn một cơ sở khám chữa bệnh!"));
                        return false;
                    }
                    else if (data == 'notExistCskcb') {
                        popup_message_phienlamviec.Show(); popup_message_phienlamviec.SetContentHtml(IDrawMessageTable("error", "Không tồn tại cơ sở khám chữa bệnh này, mời bạn chọn cơ sở khám chữa bệnh khác!"));
                        return false;
                    }
                    window.location.href = '@Url.Action("Index", "Account")';
                }
            });
        }
        function ClosePopup()
        { window.location.href = '@Url.Action("Index","Home")'; }
    </script>
    @Html.DevExpress().GetStyleSheets(
            //new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout }
            //  new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
)
    @Html.DevExpress().GetScripts(
            //new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            ////new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
            //new Script { ExtensionSuite = ExtensionSuite.GridView }
)
</head>
<body>

    @Html.DevExpress().PopupControl(
    settings =>
    {
        settings.Name = "PopupPhienLamViecCopy";
        settings.Width = 450;
        settings.Height = 150;
        settings.ShowOnPageLoad = true;
        settings.AllowDragging = false;
        settings.CloseAction = CloseAction.CloseButton;
        settings.ClientSideEvents.CloseUp = "ClosePopup";
        settings.CloseOnEscape = true;
        settings.AutoUpdatePosition = true;
        settings.PopupAnimationType = AnimationType.None;
        settings.ShowHeader = true;
        settings.Modal = true;
        settings.HeaderText = "Thông tin phiên làm việc";
        settings.ShowCloseButton = true;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.SetContent(() => @Html.RenderPartial("PopupPhienLamViec", Model));
    }).GetHtml()

    @Html.DevExpress().PopupControl(
settings =>
{
    settings.Name = "popup_message_phienlamviec";
    settings.HeaderText = "Thông báo";
    settings.Width = Unit.Pixel(600);
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.CloseOnEscape = true;
    settings.Modal = true;
    settings.AllowDragging = true;
    settings.CloseAction = CloseAction.OuterMouseClick;
}).GetHtml()






</body>
