﻿@model ACC.Core.Domain.NGUOIDUNG
<div class="" style=" border-width: 0px; width: 270px; line-height: 0px; font-size: 0px; text-align: center;">
    <img id="Captcha_image" src="@Model.CapImage" alt="Hình ảnh CAPTCHA" style="height: 70px; width: 260px; float: left;">
</div>
