﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/logo.ico")" type="image/x-icon" />
    <link rel="icon" href="@Url.Content("~/Content/Images/logo.ico")" type="image/x-icon" />
    <link href="@Url.Content("~/Content/Login.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/ScriptDungChung.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout }
    )
    @Html.DevExpress().GetScripts()

    <style>
        .ui-widget-header {
            border: 0px !important;
            background: #ffffff !important;
        }

        .ui-corner-all {
            border-bottom-right-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
            border-top-right-radius: 0px !important;
            border-top-left-radius: 0px !important;
        }

        .ui-widget-header {
            color: #0093DD !important;
        }

        .ui-button-text {
            padding: 0px !important;
        }
    </style>

    <style>
        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        a:active {
            text-decoration: none;
        }

        #popup_error_PWC-1 {
            color: red;
        }
    </style>
</head>

<body>
    @model ACC.Core.Domain.NGUOIDUNG
    <form id="login">
        <h1>ĐĂNG NHẬP</h1>
        <fieldset id="inputs">
            <input name="username" id="username" type="text" placeholder="Tài khoản" autofocus required>
            <input name="password" id="password" type="password" placeholder="Mật khẩu" required>
        </fieldset>
        <div class="dxcaControl_EIS" id="Captcha">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div id="Captcha_IMGD" class="" style="background-color: #153677; border-width: 0px; width: 270px; line-height: 0px; font-size: 0px; text-align: center;">
                                @Html.Partial("PartialImgCaptcha", Model)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="dxcaRefreshButtonCell_EIS" style="padding-top:3px;padding-bottom:4px;">
                            <a class="dxcaRefreshButton_EIS" id="Captcha_RB" href="javascript:;">
                                <img id="Captcha_RIMG" class="dx-vam dxEditors_caRefresh_EIS" src="/Content/Images/Refresh.jpg" alt="Hiển thị mã khác" style="margin-right:4px;">
                                <span id="Captcha_RTS" class="dxcaRefreshButtonText_EIS" style="vertical-align:middle;">Hiển thị mã khác</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="dxcaTextBoxCellNoIndent_EIS" style="padding-top:3px;padding-bottom:4px;">
                            <label class="dxcaTextBoxLabel_EIS" for="Captcha_TB_I">Gõ mã số hiển thị</label>
                            <table id="Captcha_TB_ET" class="dxeValidStEditorTable dxeRoot_EIS">
                                <tbody>
                                    <tr>
                                        <td id="Captcha_TB_CC" class="dxeErrorFrame_EIS dxeErrorFrameSys dxeNoBorderBottom dxeControlsCell_EIS">
                                            <table class="dxeTextBoxSys dxeTextBox_EIS" id="Captcha_TB" style="width:270px;height:25px;">
                                                <tbody>
                                                    <tr>
                                                        <td class="dxic" style="width:100%;">
                                                            <input class="dxeEditArea_EIS dxeEditAreaSys" id="Captcha_TB_I" style="height:25px;" name="Captcha$TB" type="text" autocomplete="off">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <fieldset id="actions">
            <input type="button" onclick="logOn()" id="submit" value="Đăng nhập" />
            <a href="#">Quên mật khẩu ?</a>
            <a href="#">Đăng ký</a>
        </fieldset>
    </form>
    @*<div id="PopupLogin" style="display: none; ">
            <p style="color:red;"> Sai tên đăng nhập hoặc mật khẩu </p>
        </div>
        <div id="PopupCaptchar" style="display: none; border-top: 1px solid #0093DD !important; margin-top: 10px;">
            <p style="color:red;"> Nhập sai Captcha. Vui lòng nhập lại! </p>
        </div>
        <div id="PopupCaptcharVali" style="display: none; border-top: 1px solid #0093DD !important; margin-top: 10px;">
            <p style="color:red;"> Vui lòng nhập mã kiểm tra! </p>
        </div>
        <div id="PopuErrSystem" style="display: none; border-top: 1px solid #0093DD !important; margin-top: 10px;">
            <p style="color:red;"> Lỗi hệ thống, liên hệ quản trị ! </p>
        </div>*@
    <script>


        $('input[type=text],input[type="password"]').on("change paste keyup", function () {
            $('#lblMessage').text('');
        });

        $(document).ready(function () {
            $("#username").keyup(function (event) {
                if (event.keyCode == 13) {
                    $("#submit").click();
                }
            });
            $("#password").keyup(function (event) {
                if (event.keyCode == 13) {
                    $("#submit").click();
                }
            });
            $("#Captcha_TB_I").keyup(function (event) {
                if (event.keyCode == 13) {
                    $("#submit").click();
                }
            });
        });
        function logOn() {
            var strCaptcha = $('#Captcha_TB_I').val();
            var username = $('#username').val();
            if (username == null || username == "") {
                ShowPopupMessage(false, "Vui lòng nhập tên đăng nhập!");
                return;
            }
            if (strCaptcha == "") {
                ShowPopupMessage(false, "Bạn chưa nhập mã Captcha!");
                return;
            }

            LoadingPanel.Show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("Login", "Account")',
                data: { username: $('#username').val(), password: $('#password').val(), captcha: strCaptcha },
                success: function (data) {
                    LoadingPanel.Hide();
                    switch (data.data) {
                        case 1:
                            window.location.href = '@Url.Action("Index","Home")';
                            return;
                        case 2:
                            ShowPopupMessage(false, "Nhập sai tên đăng nhập hoặc mật khẩu. Vui lòng nhập lại!");
                            return;
                        case 3:
                            ShowPopupMessage(false, "Nhập sai Captcha. Vui lòng nhập lại!");
                            return;
                        case 4:
                            ShowPopupMessage(true, "Lần đầu đăng nhập vui lòng nhập mật khẩu!", "ChangedFirstPass");
                            return;
                        case 5:
                            ShowPopupMessage(false, "Xảy ra lỗi hệ thống, liên hệ với quản trị!");
                            return;
                        case 6:
                            ShowPopupMessage(false, "Xảy ra lỗi hệ thống, liên hệ với quản trị!");
                            return;
                        default:
                            return;
                    }
                }
            });
        }
        $("#Captcha_RIMG, #Captcha_RTS").click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("PartialImgCaptcha", "Account")',
                data: {},
                success: function (data) {
                    $("#Captcha_IMGD").html(data);
                }
            });
        });
        function EndCallBack_CskcbCombobox() {
            window.popupPhienLamViecCopy.Show();
        }

        function ChangedFirstPass() {
            window.location = '@Url.Action("Index", "DOIMATKHAU")';
        }
    </script>

    @*@Html.DevExpress().PopupControl(
        settings =>
        {
            settings.Name = "popup_error";
            settings.HeaderText = "Thông báo";
            settings.Width = Unit.Pixel(400);
            settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
            settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
            settings.CloseOnEscape = true;
            settings.AllowDragging = true;
            settings.CloseAction = CloseAction.CloseButton;
            settings.ClientSideEvents.CloseButtonClick = "CloseMessage";
        }).GetHtml()*@
    @Html.Partial("_Message")

    @Html.Partial("LoadingPanel")
</body>
</html>
