body{
	color:#606060;
	font-family: Roboto_Regular;
}
/* font */
@font-face{
	font-family: Roboto_Bold;
	 src:url(../font/Roboto_Bold.ttf);
}
@font-face{
	font-family: Roboto_Regular;
	 src:url(../font/Roboto_Regular.ttf);
}
/* font */
.none-padding {
    padding-left: 0;
    padding-right: 0;
}
.padd-right-10{
	padding-right:10px;
}
.mar-top-30{
	margin-top:30px
}
.bg-login{
	background:#ECECEC;
}
body #login {
    width: 375px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-bottom: 0;
    /* box-shadow: 1px 1px 15px 2px grey; */
}
#form {
   
    background: #fff;
    padding: 0px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
}
.head-login{
	padding:15px 30px;
	background: url(../images/bg_login.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   border-bottom:5px solid #0095DA;
}
.input-group input{
	border-radius:0px;
}
.input-group p{
	font-family: Roboto_Bold;
}
.content-login{
	padding:50px 30px;
}
.content-login .input-group{
	margin-bottom:20px;
}
.content-login .input-group,.content-login .input-group input{
	width:100%
}
.capcha-img{
	background:#B2B2B2;
	padding:15px;
	height:60px;
	
}
.capcha-img img{
	width: 85%;
    display: block;
    margin: 0 auto;
}
.capcha-input,.capcha-input input,.capcha-input span{
	height:60px;	
}
.capcha-input input{
	width: 71%!important;
}
.capcha-input span{
	background:#B2B2B2;
	border-radius:0px;
}
.capcha-input span img{
	width: 20px;
}
.dangnhap{
	background:#0095DA;
	padding:10px 0px;
	text-align:center;
}
.dangnhap a{
	color:#fff;
	text-decoration:none;
		font-family: Roboto_Bold;
		font-size:15px;
}
/* checkbox */
input[type="checkbox"] + label {
    color:black;
   font-family: Roboto_Bold;
    font-size:14px;
	font-weight:normal;
	padding-left: 0px;
	color: #606060;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -19px top no-repeat;
}
input[type="checkbox"] {
    display:none;
}
.footer-login{
	font-family: Roboto_Bold;
}
.footer-login a{
	color:#606060;
	float:right;
	text-decoration:none;
	    margin-top: 10px;
		font-family: Roboto_Bold;
	
}
@media screen and (max-width:1367px){
	.head-login {
    padding: 5px 30px;
	}
	.content-login {
    padding: 20px 30px;
}
.capcha-img,.capcha-input, .capcha-input input, .capcha-input span {
    height: 50px;
}
body #login {
width: 350px;
}
.capcha-input input {
    width: 65%!important;
}
.content-login .input-group {
    margin-bottom: 15px;
}
input[type="checkbox"] + label {
    font-size: 12px;
}
.footer-login a {
    font-size: 12px;
}
}