﻿

@{
    ViewBag.Title = "Số chi tiết tiền lãi đầu tư quỹ BHXH";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}
<script>
    function btn_InAnClick() {
        var sohopdong = cbb_Hopdong.GetValue();
        //var ThoiGian = date_HieuLuc.GetValue();
        //var loai = cbb_loaiLS.GetValue();
        //var type = cbb_type.GetValue();
        LoadingPanel.Show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("fn_InAn", "SoChiTietTienLaiDauTuQuyBHXH")',
            data: {
                sohopdong: sohopdong
                //year: ThoiGian,
                //CN_TC: loai,
                //type: type
            }
        }).done(function (result) {
            LoadingPanel.Hide();
            $("#SoChiTietTienLaiDauTu_Report").html(result);
        });
    }
</script>
<div id="gridview" style="width:60%; margin:auto;">
    @Html.Action("SoChiTietTienLaiDauTuQuyBHXHPartial")
</div>
@Html.Partial("_Message")
@Html.Partial("_MessageSuccess")
@Html.Partial("LoadingPanel")
<div id="SoChiTietTienLaiDauTu_Report"></div>