body{
	font-family: 'Arial';
	color:#414042;
		font-size:15px;
		margin:0;
        padding:0;
        height:100%;
}
 
    
/* font */
@font-face{
	font-family: 'MyriadPro_Regular';
	 src:url(../font/MyriadPro_Regular.otf);
}
@font-face{
	font-family: 'MYRIADPRO_BOLD';
	 src:url(../font/MYRIADPRO_BOLD.OTF);
}
@font-face{
	font-family: 'Arial_bold';
	 src:url(../font/Arial_bold.ttf);
}
@font-face{
	font-family: 'Arial';
	 src:url(../font/Arial.ttf);
}
/* font */
a,a:link,a:visited,a:active,a:hover{
	text-decoration:none;
}
.none-padding{
	padding-left:0px;
	padding-right:0px;
}
.none-margin{
	margin-left:0px;
	margin-right:0px;
}
/* padding */
.padd-left-15{
	padding:0px 0px 0px 15px!important
}
.padd-right-15{
	padding:0px 15px 0px 0px!important
}
.padd-top-15{
	padding-top:15px;
}
.padd-top-40{
	padding-top:40px;
}

/*end padding */
/* margin */
.mar-left-15{
	margin-left:15px;
}
.mar-top-15{
	margin-top:15px;
}
.mar-top-30{
	margin-top:30px;
}
.mar-top-20{
	margin-top:20px;
}
.mar-top-10{
	margin-top:10px;
}
/* end margin */

/* color */
.color-red{
	color:red;
}
.color-blue{
	background:#3B8AC9;
}
/* end color */
/* width */
.width-15{
	width:15px;
}
/* end width */
/* btn */
.btn-red{
	background:red;
}
/* end color */
a,a:hover{
	text-decoration:none
}
.text-center{
	text-align:center;
}
.text-right{
	text-align:right;
}
.banner-top {
    background: url(../images/nen_bg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
    padding:5px 15px 5px 35px;
}
 .banner-left img{
	width:80%;
}
.banner-right{
	position:absolute;
	bottom:0px;
	right:25px;
	
}
.header-right{
	padding:0px;
	list-style-type:none;
	float:right;
	margin-bottom:0px;
}
.header-right li{
	display:inline-block;
}
.header-right li img{
	width:20px;
	margin-right:5px;
	display:inline-block;
}
.header-right li p{
	display:inline-block;
}
.header-right li a{
	color:#414042;
	
}
.header-right li:after {
       position: relative;
    height: 7px;
    width: 10px;
    content: "";
    color: #2d8fad;
    float: right;
    padding-right: 0;
    background-image: url(../images/muitendo.svg);
    top: 6px;
    margin-left: 8px;
}
.menu{
	background:#3B8AC9;
	height: 40px;
}
#contaier{
	position:relative;
	min-height:100%;
}
#content {
    /* padding-bottom: 100px; */
}
#footer {
    /* width: 100%; */
    /* height: 85px; */
    /* position: absolute; */
    /* bottom: 0px; */
    /* left: 0px; */
}
/* footer */
.footer{
	/* background:#3B8AC9; */
	/* color:#fff; */
	/* text-align:center; */
	/* padding:20px 0px; */
/* /* position:absolute; */ */
	/* bottom:0px; */
	/* z-index:9; */
}
.footer p{
	margin-bottom:0px;
	font-family: 'MYRIADPRO_BOLD';
	font-size:16px;
}
.footer p.diachi{
	font-size:14px;
	font-family: 'MyriadPro_Regular';
}
/* end footer */
.ul-tab{
	padding:0px;
	list-style-type:none;
	width:100%;
}
.ul-tab li{
	margin-bottom:15px;
	width:100%;
	position:relative;
}
.ul-tab li:last-child{
margin-bottom:0px;
}
.ul-tab li img{
	width:40%;
}
.ul-tab li span{
	position: absolute;
    top: 0px;
    left: 35%;
    padding: 10px 20px;
}
.ul-tab li span .tieude{
	font-family: 'MYRIADPRO_BOLD';
	color:#3B8AC9;
}
.ul-tab li span .soluong{
	color:#414042;
}
.ul-tab li.active{
	background:#D1D1D1;
	left: 15px;
    position: relative;
    padding: 0px;
}
.ul-tab li.active div{
	   
    left: -15px;
    position: relative;
    padding: 0px 0px 3px 0px;
}
.ul-tab li div{
	    background: #fff;
		border:1px solid #D1D1D1;
    
}
.content-left .tab-pane.fade img{
	width:100%;
/* height:100%; */
}
.content-left .tab-pane.fade.active.in{
	background:#D1D1D1; 
	/* padding:2px; */
}
/* menu bootatrap */
/* To Dropdown navbar dropdown on hover */
.menu .navbar-nav > li:hover > .dropdown-menu {
    display: block;
}
.menu .dropdown-submenu {
    position: relative;
	 background: #EBFCFF;
}

.menu .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0px;
	padding:0px;
}
.menu .navbar-fixed-top {
    top: auto;
	padding-left: 37px;
	    position: relative;
}
.menu .dropdown-submenu:hover>.dropdown-menu {
    display: block;
	background: #EBFCFF;
	border:0px;
}

.menu .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #58595B;
    margin-top: 5px;
    margin-right: -10px;
	 border-radius:0px;
}

.menu .dropdown-submenu:hover>a:after {
    /* border-left-color: #fff; */
}

.menu .dropdown-submenu.pull-left {
    float: none;
}

.menu .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
   border-radius:0px;
   
}
.menu .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
	color:#fff;
}
.menu .navbar-default .navbar-collapse,.menu .navbar-default .navbar-form {
    background: #3B8AC9;
}
.menu .navbar-nav > li:hover,.menu .navbar-nav>li:hover>a{
	background:#C3161C!important;

}
.menu .navbar-nav>li:hover>a{
	position: relative;
    bottom: 5px;
}
.menu .navbar-nav>li:hover>a>span{
	position: relative;
    top: 5px;
}
.menu li:hover .dropdown-submenu a{
	/* background:#fff; */
}
.menu .navbar-nav>li>.dropdown-menu{
	    background: #EBFCFF;
		padding:0px;
}
.dropdown-menu>li:hover>a{
	color:#3B8AC9;
	 background: #EBFCFF;
}
.menu .navbar-nav>li>.dropdown-menu>li{
	 background: #EBFCFF;
}
.menu .navbar-nav>li.active>a{
	background: #C3161C;
    padding-top: 15px;
    position: relative;
    bottom: 5px;
}
.menu img{
	width: 25px;
    position: relative;
    bottom: 2px;
}
.menu .navbar-nav>li:after {
        content: "|";
    color: #fff;
    position: absolute;
    top: 7px;
}
.menu .navbar-nav>li:first-child:after ,.menu .navbar-nav>li:nth-child(2):after{
        content: none;
   
}
/*end  menu bootatrap */
.content-left .tab-content{
   height: 544px;
}
.content-danhmuc{
	    padding: 15px 35px;
}
 .ul-tieude {
    border: 0px solid #3B8AC9;
    padding: 0;
    list-style-type: none;
    border-bottom: 2px solid #3B8AC9;
    margin-bottom: 0px;
}
.ul-tieude li span {
    background: #3B8AC9;
    border-top-right-radius: 35px!important;
    color: #fff;
    padding: 5px 20px;
    display: inline-block;
    font-size: 17px;
    font-family: 'MyriadPro_Regular';
    padding-right: 30px;
}
.ul-tieude li span img{
	width:25px;
	margin-right:8px;
}
/* .ul-tracuu{ */
	/* padding:0px; */
	/* list-style-type:none; */
/* } */
/* .ul-tracuu li,.ul-tracuu li input{ */
	/* display:inline-block!important; */
/* } */
/* .ul-tracuu li p{ */
	/* margin-bottom:0px; */
	/* display:inline-block; */
/* } */
/* .ul-tracuu li input{ */
	/* border:1px solid #808285; */
	/* padding:5px 10px; */
	/* height:28px; */
	/* margin-left:10px; */
/* } */
/* .ul-tracuu li button:first-child{ */
	/* margin-left:15px; */
/* } */
/* .ul-tracuu li button,.tbl-info button{ */
	/* height:29px; */
	/* border:0px; */
	/* margin-left:3px; */
	/* color:#fff; */
	    /* padding: 3px 10px; */
/* } */
/* .ul-tracuu li button:hover,.tbl-info button:hover{ */
	/* background:#006299; */
/* } */
/* .ul-tracuu li button img,.tbl-info button img{ */
	/* height:18px; */
	/* margin-right:5px; */
	/* position:relative; */
	/* bottom:2px; */
/* } */
.tbl-thongtin{
	    width: 100%;
}
.tbl-thongtin thead{
		/* border:1px solid #A6A8AB; */

}
.tbl-thongtin th{
	padding:5px 10px;
	background: -webkit-linear-gradient(white, rgba(205, 243, 255, 0.5));
    background: -o-linear-gradient(white, rgba(205, 243, 255, 0.5));
    background: -moz-linear-gradient(white, rgba(205, 243, 255, 0.5));
    background: linear-gradient(white, rgba(205, 243, 255, 0.5));
	text-align:center;
	font-family: 'Arial_bold';
	font-weight:100;
	border-left:1px solid #D1D3D4;
	white-space: nowrap;
}
.tbl-thongtin tr td{
	background:#F8F8F8;
	padding:7px 15px;
	border-left:1px solid #D1D3D4;
}
.tbl-thongtin tr td img{
	height:25px;
}
.tbl-thongtin tr td:hover img.img-show,.tbl-thongtin tr td img.img-hide{
	display:none;
}
.tbl-thongtin tr td:hover img.img-hide{
	display:inline-block;
}
.tbl-thongtin tr{
	border:1px solid #D1D3D4;
}
.tbl-thongtin tbody tr:first-child {
    border: 0px solid #D1D3D4;
}
.tbl-thongtin tr .btn{
	padding: 1px 12px 0px 12px;
}
.tbl-thongtin .input-group input{
	/* background:none; */
	height:28px;
	border-color:#58595B;
}
.tbl-thongtin .input-group .btn-default{
	border-color:#58595B;
	/* background:none; */
}
.tbl-pagination img{
	    height: 21px;
    padding: 4px 0px;
	
}
.tbl-pagination{
	    margin:  0px;
		
}
.tbl-pagination li a{
	border:0px;
	border-bottom:2px solid #D1D3D4;
	 margin-left: 5px;
 padding: 3px 8px;

}
.tbl-pagination li a{
	/* border-bottom:2px solid #D1D3D4; */
	margin-left:2px;
}
.tbl-pagination li.active a{
	color:#ED1C24;
	border-color:#ED1C24;
	background:none;
	
}
.tbl-pagination li.active:hover a{
	background-color: #fff;
    border-color: #ED1C24;
	color:#ED1C24;
}
.tbl-pagination li:hover a{
	background:#fff;
}
.page-footer label{
	font-weight:100;
}
.page-footer{
padding:15px 0px;
}
.pop-up .modal-content{
	/* width: 580px; */
    border-radius: 0px;
    
}
/* .pop-up .modal-content table{ */
/* width:100%;	 */
/* } */
/* .pop-up .modal-content table select{ */
	/* width:100%; */
	/* height:28px; */
/* } */
/* .pop-up .modal-content table tr td:first-child{ */
	    /* width: 90px; */
/* } */

/* .pop-up .modal-content table tr td{ */
	/* padding:5px 0px; */
/* } */
/* .pop-up .modal-content table p{ */
	/* margin-bottom:0px; */
/* } */
.pop-up .modal-content  button{
	color:#fff;
	padding:6px 15px;
	border:0px;
	margin-left:10px;
}
.pop-up .modal-content  button img{
	display:inline-block;
	    height: 20px;
    margin-right: 10px;
}
.pop-up .modal-content .modal-footer{
	text-align:center;
	background:#EBFCFF;
	background: linear-gradient(rgba(205, 243, 255, 0.2), #cdf3ff);
}
.pop-up .modal-content .modal-title{
	font-family: 'MYRIADPRO_BOLD';
	font-size:17px;
}
.pop-up .modal-content .modal-header{
padding:10px 15px;	
background: linear-gradient(rgba(205, 243, 255, 0.2), #cdf3ff);
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.pop-up .modal-header .close {
       background: url(../images/remove-icon-small.svg) no-repeat center center !important;
    opacity: 1;
    width: 15px;
    height: 18px;
    position: relative;
    top: 5px;
    left: 5px;
}
/* table scroll */
table.scroll {
    width: 100%; /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    /* border: 2px solid black; */
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th { 
    height: 30px;
    line-height: 30px;
    /*text-align: left;*/
}

table.scroll tbody {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* tbody { border-top: 2px solid black; } */

tbody td, thead th {
    /* border-right: 1px solid black; */
}

.tbl-thongtin tbody td:last-child,.tbl-thongtin thead th:last-child {
   border-right: 1px solid #D1D3D4;
}
/* end table scroll */
.content-index{
	padding:0px 5%;
}
.border-table{
	border:1px solid #D1D1D1;
	background:#EBFCFF;
	height:547.5px;
	padding:10px;
}
.border-table p{
	color:#C3161C;
	font-size:20px;
	font-family: 'MYRIADPRO_BOLD';
	text-align:center;
}
.border-table ul{
	padding:10px 0px 0px 20px;
	list-style-type:none;
	border-top:1px dotted #BCBEC0;
}
.border-table ul li{
	padding-top:10px;
}
.border-table ul .blue{
	color:#3B8AC9;
}
.content-index{
	padding:0px 200px;
}
.index-left,.index-right{
	width:25%;
}
.index-center{
	width:50%;
	    /* border: 3px solid #d1d1d1; */
}
/* menu */
		

nav ul {
  font-size: 0;
  margin: 0;
  padding: 0 0 0 30px;
}
nav ul img{
width:20px}
nav ul li {
  display: inline-block;
}

nav ul li a {
  clear: both;
  color: #fff;
  display: block;
  font-size: 14px;
  padding: 10px 15px;
  /* transition: 0.3s linear; */
  height: 40px;
  /* font-family:Arial_bold; */
}

nav ul li:hover a {color:#fff; background:#CD0F00 }
nav ul li:hover ul li a {color:#231F20; background:#EBFCFF }

nav ul li ul {padding: 0px;display: none;position: absolute;width: auto;z-index: 9999;border: 1px solid #D1D3D4;border-top:0px;background: #EBFCFF;white-space: nowrap;/* display: block; */}

nav ul li ul li {
  /* border-top: 1px solid #fff; */
  display: block;
  /* width: 100%; */
  white-space: nowrap;
}

nav ul li ul li:first-child { border-top: none; }

nav ul li ul li a {
    /* background: #115f25; */
    display: block;
    padding: 5px 14px;
    height: 34px;
    /* width: 100%; */
    white-space: nowrap;
    clear: both;
    min-width: 200px;
}

nav ul li ul li a:hover,nav ul li.active ul li:hover  a { 
color:#fff; 
background:#3B8AC9; 
}
nav ul li.active a{
	color:#fff; background:#CD0F00 
}
nav ul li.active  ul li a{
	color:#231F20; background:#EBFCFF
}
nav ul li.active ul li.active a{
	background:#3B8AC9;
	color:#fff;
	
}
nav .fa.fa-angle-down { margin-left: 6px; }
.btn-left img{
	display:inline-block;
	width:53px;
}
nav ul li span:before{
	    content: "|";
    color: #fff;
    position: relative;
    top: 0px;
    left: -15px;
}
nav ul li:first-child span:before{
	content: "";
    
}

/* end menu */
/* check */
/* checkbox */
.input-change input[type="checkbox"] + label {
    color:black;
 
    font-size:14px;
	font-weight:normal;
	padding-left: 0px;
	color: #606060;
	margin-bottom: 0;
}

.input-change input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

.input-change input[type="checkbox"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -19px top no-repeat;
}
.input-change input[type="checkbox"] {
    display:none;
}
/*end check */
/* footer */
.ul-footer	{
	padding:0px;
	list-style-type:none;
	text-align:center;
}	 
.ul-footer li{
	display:inline-block;
	background:#3B8AC9;
	padding:5px 10px;
	margin-left:3px;
	
}	
.ul-footer li:hover{
	background:#006299;
}
.ul-footer li:first-child{
	margin-left:0px;
}
.ul-footer li a{
	color:#fff;
	outline:none;
}	 
.ul-footer li img{
	height:20px;
	margin-right:5px;
}	
.btm-toolbar {
    position: fixed;
    bottom: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: #3B8AC9 #3B8AC9 transparent #3B8AC9;
    /* background-color: #FCFCFC 0.8; */
    padding: 10px 10px 0px 10px;
    border-radius: 13px 13px 0px 0px;
	transform: translateX(-50%);
    left: 50%;
    bottom: 0px;
	background:#fff;
	    z-index: 9;
}	
/* end footer */
.form-nhap label {
    font-weight: 100;
    text-align: right;
    position: relative;
   top: 2px; 
}
.form-nhap .form-group {
    margin-bottom: 10px;
}
.form-nhap input {
    border-radius: 0px;
    border: 1px solid #9d9d9d;
	    height: 28px;
}
.img-span img {
    width: 25px;
    position: absolute;
    right: 0px;
    top: 10px;
	z-index:99;
}
.btn-span {
    /* margin-top: 10px; */
	margin-bottom: 10px;
}
.styled-select select {
    background: url(../images/mui_ten_select.svg) no-repeat right center;
    border: 0.5px solid #9d9d9d;
    /* font-size: 14px; */
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    /* border-radius: 4px; */
    padding: 4px 24px 5px 5px;
    /* margin-left: 5px; */
    outline: none;
    color: #333333;
    min-width: 220px;
    height:29px;
}
 .tbl-info td{
	 padding-bottom:10px;
	 padding-left: 20px;
	}
	.tbl-info td:first-child{
	 padding-left: 0px;
	}
 .tbl-info td input{
	 height:29px;
	 padding: 0px 10px;
 }
.tbl-info td label{
	/* padding-left:30px; */
	/* padding-right:10px; */
	font-weight:100;
	margin-bottom: 5px;
	display: block;
}
.tbl-info td:first-child label{
	padding-left:0px;
	/* display: block; */
}
 .tbl-info td button:first-child{
	 margin-left:30px;
 }
.tbl-info button,.thongtin-nguoidung  button{
	height:29px;
	border:0px;
	margin-left:3px;
	color:#fff;
	    padding: 3px 10px;
}
.tbl-info button:hover,.thongtin-nguoidung button:hover{
	background:#006299;
}
.tbl-info button img,.thongtin-nguoidung button img{
	height:18px;
	margin-right:5px;
	position:relative;
	bottom:2px;
}
.tbl-thongtin{
	/* display: block; */
    /* overflow: scroll; */
}
.date img{
	height: 21px;
}
.date .input-group-addon {padding: 3px 10px;background:#fff;border: 0.5px solid #9d9d9d;border-left:0px;display: inline-block;position: relative;left: -4px;top: -1px;width: 40px;height: 28.5px;border-radius:0px;}
/* legen */
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0px 20px 0px 20px !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.scheduler-border {
          font-size: 17px !important;
        /* font-weight: bold !important; */
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
	.thongtin-nguoidung{
		padding-left:30px;
	}
	.thongtin-nguoidung{
		
	}
/* end legen */
 .tbl-thongtin{table-layout: auto; margin:0px auto 0px auto; }
    .search-table, td, th {
        border-collapse: collapse;
    }
.tbl-thongtin  th
{ font-size:15px;
 color:#444;
 } 
 .tbl-thongtin td{
	 padding:5px 10px;
	 height:35px;
	 } 
    .table-scroll {
		overflow-x: scroll;
		}
.tbl-thongtin th, .tbl-thongtin td { 
min-width: 200px; 
}
.styled-select,.date {
	display: inline-block;
	/* height: 29px; */
}
@media screen and (max-width:1780px){
	.content-index{
	padding:0px 5%;
}
.content-index .padd-top-40{
	padding-top:10px;
}
.index-left{
	width:30%;
}
.index-right{
	width:22%;
}
.index-center{
	width:48%;
}
body{
	
		font-size:13px;
}
.ul-tab li img {
    width: 35%;
}
.border-table {
  
    height: 70%;
   
}
.border-table p{
	font-size:16px;
}
.menu .navbar-nav>li:after {
  
    top: 10px;
}
.footer p {
    font-size: 14px;
}

}
@media screen and (max-width:1367px){

	.date .input-group-addon{
		height: 29px;
		top: 0px;
	}
	nav ul li a{
	padding:10px;
	    font-size: 13px;
		height:40px;
}
.menu img {
    width: 21px;
}
nav ul li span:before {
    left: -10px;
}
.tbl-pagination img{
	    height: 18px;
	
}
}
@media screen and (max-width:1280px){
	.date .input-group-addon{
		height: 29px;
		top: 0px;
	}
}
/* 28/08/2017 */
.content-left .tab-pane.fade.in img{
	        -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.content-left .tab-pane.fade.active.in img{
position: relative;
    bottom: 4px;
    left: 4px;
    padding: 5px 7px 0px 0px;
}
.ul-chart{
	padding:0px;
	list-style-type:none;
}
.ul-chart li{
	display:inline-block;
	margin-left:30px;
	width:calc(50% - 30px);
	-webkit-box-shadow: 4px -2px 3px -1px rgba(0,0,0,0.2);
-moz-box-shadow: 4px -2px 3px -1px rgba(0,0,0,0.2);
box-shadow: 4px -2px 3px -1px rgba(0,0,0,0.2);
border-bottom:4px solid #3B8AC9;
border-left:4px solid #3B8AC9;
padding:10px;

}
.ul-chart li:first-child{
	margin-left:0px;
}
.span-left{
	width:210px;
	padding-right: 10px;
}
.span-right{
width:calc(100% - 215px);	
}
.span-left,.span-right,.span-inline,.span-text{
	display:inline-block;
}
.span-right img{
	width:100%;
	    height: 195px;
}
.span-text{
	margin-left:20px;
}
.span-inline{	
	width:12px;
	height:12px;
	margin-bottom: 0px;
	    position: absolute;
		    margin-top: 5px;
}
.span-brown{
	background:#D1D1D1;
}
.span-green{
	background:#0FB202;
}
.span-blue{
	background:#468EC3;
}
.span-blue2{
	background:#50DAFF;
}
.span-red{
	background:#EF3821;
}
.span-orange{
	background:#FF9616;
}
.span-purple{
	background:#AD63AF;
}
.span-text strong,.span-left .p-dem strong{
	font-family: 'Arial_bold';
}
.span-left .p-dem{
	margin-left:15px;
}
.span-right p{
	text-align:center;
	color:#3B8AC9;
	font-size:17px;
	font-family: 'Arial_bold';
	margin-top:10px;
	margin-bottom:0px
}
/* end 28/08/2017 */