﻿@{
    ViewBag.Title = "C89-HD: Phiếu tính lãi";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@Html.DevExpress().GetStyleSheets(
    new StyleSheet() { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet() { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet() { ExtensionSuite = ExtensionSuite.Report }
);
@Html.DevExpress().GetScripts(
    new Script() { ExtensionSuite = ExtensionSuite.Report }
);
<style type="text/css">
    #btnSearch, #btnPrint, #btnBack {
        background: #3B8AC9 !important;
        font-weight: bold !important;
        color: white !important;
    }
</style>
<script type="text/javascript">
    var selectedId;
    function showMessage(isSucess, text) {
        if (isSucess) {
            $('#noidung_success').text(text.toString());
            window.Message_Success.Show();
            setTimeout(function () { Message_Success.Hide(); }, 2000);
        } else {
            $('#noidung').text(text.toString());
            window.Message.Show();
        }
    }
    function cbHinhThuc_SelectedIndexChanged() {
        DauTuId.PerformCallback();
    }
    function cbDauTu_BeginCallback(s, e) {
        e.customArgs["HinhThucDauTuId"] = HinhThucDauTuId.GetValue();
    }
    function cbTenHopDong_SelectedIndexChanged() {
        HopDongId.PerformCallback();
    }
    function cbSoHopDong_BeginCallback(s, e) {
        e.customArgs["DanhMucHopDongId"] = DanhMucHopDongId.GetValue();
    }
    function btnSearch_Click() {
        LoadingPanel.Show();
        $.ajax({
            type: "GET",
            url: '@Url.Action("Search", "PhieuC89")',
            data: {
                HinhThucDauTuId: HinhThucDauTuId.GetValue(),
                DauTuId: DauTuId.GetValue(),
                DanhMucHopDongId: DanhMucHopDongId.GetValue(),
                HopDongId: HopDongId.GetValue(),
                ThoiGian: ThoiGian.GetText()
            },
            success: function (result) {
                LoadingPanel.Hide();
                $('#gvC89Container').html(result);
            },
            failure: function () { showMessage(false, "Có lỗi xảy ra trong quá trình lấy dữ liệu!"); }
        });
    }
    function gvC89_FocusedRowChanged() {
        gvC89.GetRowValues(gvC89.GetFocusedRowIndex(), 'Id', function (value) {
            selectedId = value;
        });
    }
    function btnPrint_Click() {
        LoadingPanel.Show();
        $.ajax({
            type: "GET",
            url: '@Url.Action("Print", "PhieuC89")',
            data: { id: selectedId },
            success: function (result) {
                LoadingPanel.Hide();
                if (result == '') {
                    showMessage(false, "Có lỗi xảy ra trong quá trình lấy dữ liệu!");
                } else {
                    $('#report').html(result);
                }
            },
            failure: function () { showMessage(false, "Có lỗi xảy ra trong quá trình lấy dữ liệu!"); }
        });
    }
    function gvC89_EndCallBack(s, e) {
        if (s.cpMessage != null) {
            showMessage(true, s.cpMessage);
            delete s.cpMessage;
        }
    }
</script>

<div>
    <div>
        <ul class="ul-tieude">
            <li>
                <span>@ViewBag.Title</span>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 text-right btn-span" id="demo">
        <div class="img-span" style="padding-bottom:18px"><img src="~/Content/Images/icon_mo_rong.png" /></div>
    </div>
    <div class="col-sm-12 none-padding chitiet" style="padding-bottom:15px">
        @Html.Partial("FilterView")
    </div>
</div>
<div id="gvC89Container">
    @Html.Action("C89GridViewPartial")
</div>
<div class="col-sm-12 none-padding footer">
    <div class="btm-toolbar">
        @Html.Partial("Footer")
    </div>
</div>
@Html.Partial("LoadingPanel")
@Html.Partial("_Message")
@Html.Partial("_MessageSuccess")
<div id="report"></div>


