﻿<style type="text/css">
    .dx-overlay-wrapper {
        z-index: 100000 !important;
    }
</style>
@*<script type="text/javascript">
    function OnInit(s, e) {
        AdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            AdjustSize();
        });
    }
    function OnEndCallback(s, e) {
        AdjustSize();
    }
    function AdjustSize() {
        window.MauS12_H_Report.SetWidth(document.documentElement.clientWidth);
        window.MauS12_H_Report.SetHeight(document.documentElement.clientHeight);
    }
</script>*@
@model XtraReport
@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "C89Report";
    settings.ClientSideEvents.PopUp = "function(s, e) { s.SetWidth(document.documentElement.clientWidth); s.SetHeight(document.documentElement.clientHeight); }";
    settings.ShowOnPageLoad = true;
    settings.AllowDragging = false;
    settings.CloseAction = CloseAction.CloseButton;
    settings.CloseOnEscape = true;
    settings.PopupAnimationType = AnimationType.None;
    settings.ShowHeader = true;
    settings.Modal = true;
    settings.ScrollBars = ScrollBars.Auto;
    settings.HeaderText = "PHIẾU TÍNH LÃI PHẢI THU PHÁT SINH TRONG NĂM";
    settings.ShowCloseButton = true;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.LeftSides;
    settings.PopupVerticalAlign = PopupVerticalAlign.TopSides;
    settings.SetContent(() =>
    {
        Html.DevExpress().WebDocumentViewer(poper => { poper.Name = "BHXH_THu1"; }).Bind(Model).GetHtml();
    });
}).GetHtml()
