/*$veriable size*/
/*$veriable position*/
/*@mixin*/
html,
body {
    width: 100%;
    height: 100%;
}

/*header*/
.head-banner {
    background: url(Images/images/nen_bg.png) no-repeat center center;
    background-size: 100% 100%;
    min-height: 85px !important;
}

.img-user {
    width: 20px;
    margin-right: 5px;
}

.img-txt-banner {
    background: url(/Content/Images/images/banner_chu.svg) no-repeat left center;
    height: 80px;
}

.user-name {
    padding-top: 30px;
    cursor: pointer;
}

/*menu*/
.navbar-qlq {
    min-height: 40px !important;
    margin-bottom: 0px !important;
    background-color: #3B8AC9 !important;
}

ul.navbar-nav > li:hover {
    background-color: #CD0F00 !important;
}

ul.navbar-nav > li.active {
    background-color: #CD0F00 !important;
}

    ul.navbar-nav > li.active > a {
        background-color: #CD0F00 !important;
    }

ul.navbar-nav > li > a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: #fff !important;
}

    ul.navbar-nav > li > a:hover {
        background-color: #CD0F00 !important;
    }

    ul.navbar-nav > li > a > span:before {
        content: "|";
        color: #fff;
        position: relative;
        top: 0px;
        left: -15px;
    }

@media screen and (max-width: 768px) {
    ul.navbar-nav > li > a > span:before {
        content: "";
    }
}

.home-icon {
    width: 20px;
    margin-top: -5px;
}

.dropdown-menu {
    background-color: #EBFCFF !important;
}

ul.navbar-nav > li > ul.dropdown-menu > li > a:hover {
    color: #fff !important;
    background-color: #3B8AC9 !important;
}

ul.navbar-nav > li > ul.dropdown-menu > li.active > a {
    color: #fff !important;
    background-color: #3B8AC9 !important;
}

ul.dropdown-menu > li > a {
    padding: 3px 10px !important;
}

    ul.dropdown-menu > li > a:hover {
        color: #fff !important;
        background-color: #3B8AC9 !important;
    }

        ul.dropdown-menu > li > a:hover > span {
            color: #fff;
        }

    ul.dropdown-menu > li > a > span {
        color: #3B8AC9;
    }

/*main-content*/
.main-content {
    padding-top: 10px;
}

.ip-server {
    height: 15px;
    position: fixed;
    bottom: 0;
    background-color: #F1F1F1;
    opacity: 1;
    text-align: right;
    font-size: 14px;
}

/*home/index*/
.content-home-index {
    padding: 0px 100px 0px 100px !important;
}

@media screen and (max-width: 1024px) {
    .content-home-index {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

ul.tabs-qlq {
    border-bottom: 0px !important;
}

    ul.tabs-qlq > li {
        width: 100%;
        cursor: pointer;
        margin-bottom: 10px;
        list-style: none;
        padding-right: 15px;
    }

        ul.tabs-qlq > li.active {
            background: #D1D1D1;
        }

        ul.tabs-qlq > li:hover {
            background: #D1D1D1;
        }

        ul.tabs-qlq > li > div {
            background: #fff;
            border: 1px solid #D1D1D1;
        }

            ul.tabs-qlq > li > div > div > img {
                width: 100%;
                height: 100%;
            }

            ul.tabs-qlq > li > div > div > p.tieude {
                color: #3B8AC9;
                font-family: Times, Times New Roman, Georgia, serif;
            }

            ul.tabs-qlq > li > div > div > p.soluong {
                color: #cd0f00;
                font-family: Times, Times New Roman, Georgia, serif;
            }

.tab-content {
    border: 3px solid #d1d1d1;
}

/*.height-report-index {
    height: 395px;
}*/
.padd-lef-15 {
    padding-left: 15px !important;
}

@media screen and (max-width: 768px) {
    .padd-lef-15 {
        margin-top: 10px;
        padding-left: 0px !important;
    }
}

.table-home-index {
    background-color: #EBFCFF;
}

    .table-home-index > tbody > tr:first-child {
        background-color: #dcedf1 !important;
    }

        .table-home-index > tbody > tr:first-child > td {
            height: 50px;
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            color: #cd0f00;
        }

    .table-home-index > tbody > tr > td {
        vertical-align: middle !important;
        font-family: Times, Times New Roman, Georgia, serif;
    }

        .table-home-index > tbody > tr > td:nth-child(2) {
            color: #3B8AC9;
        }

/*Fix css bootstrap*/
.navbar-inverse {
    background-color: #3B8AC9 !important;
    border-color: #fff !important;
}

.navbar {
    border-radius: 0px !important;
    border: 0px solid transparent !important;
}

.none-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/*# sourceMappingURL=main.css.map */
