﻿/*$veriable size*/
$all-percent: 100% 100%;
/*$veriable position*/
$mar-right-5: 5px;

/*@mixin*/
@mixin wh-100 {
    width: 100%;
    height: 100%;
}

@mixin non-pad-top-bot {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

@mixin pad-lef-15 {
    padding-left: 15px !important;
}

@mixin pad-lef-0 {
    padding-left: 0px !important;
}

@mixin pad-lef-right-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

@mixin font-report {
    font-family: Times, Times New Roman, Georgia, serif;
}

html,
body {
    @include wh-100;
}
/*header*/
.head-banner {
    background: url(Images/images/nen_bg.png) no-repeat center center;
    background-size: $all-percent;
    min-height: 85px !important;
}

.img-user {
    width: 20px;
    margin-right: $mar-right-5;
}

.img-txt-banner {
    background: url(/Content/Images/images/banner_chu.svg) no-repeat left center;
    height: 80px;
}

.user-name {
    padding-top: 30px;
    cursor: pointer;
}

/*menu*/
.navbar-qlq {
    min-height: 40px !important;
    margin-bottom: 0px !important;
    background-color: #3B8AC9 !important;
}

ul.navbar-nav {
    & > li {
        &:hover {
            background-color: #CD0F00 !important;
        }

        &.active {
            background-color: #CD0F00 !important;

            & > a {
                background-color: #CD0F00 !important;
            }
        }

        & > a {
            @include non-pad-top-bot;
            color: #fff !important;

            &:hover {
                background-color: #CD0F00 !important;
            }

            & > span {
                &:before {
                    content: "|";
                    color: #fff;
                    position: relative;
                    top: 0px;
                    left: -15px;

                    @media screen and (max-width: 768px ) {
                        content: "";
                    }
                }
            }
        }
    }
}


.home-icon {
    width: 20px;
    margin-top: -5px;
}

.dropdown-menu {
    background-color: #EBFCFF !important;
}

ul.navbar-nav {
    & > li {
        & > ul.dropdown-menu {
            & > li {
                & > a {
                    &:hover {
                        color: #fff !important;
                        background-color: #3B8AC9 !important;
                    }
                }

                &.active {
                    & > a {
                        color: #fff !important;
                        background-color: #3B8AC9 !important;
                    }
                }
            }
        }
    }
}

ul.dropdown-menu {
    & > li {

        & > a {
            padding: 3px 10px !important;

            &:hover {
                & > span {
                    color: #fff;
                }

                color: #fff !important;
                background-color: #3B8AC9 !important;
            }

            & > span {
                color: #3B8AC9;
            }
        }
    }
}

/*main-content*/
.main-content {
    padding-top: 10px;
}

.ip-server {
    height: 15px;
    position: fixed;
    bottom: 0;
    background-color: #F1F1F1;
    opacity: 1;
    text-align: right;
    font-size: 14px;
}

/*home/index*/
.content-home-index {
    padding: 0px 100px 0px 100px !important;

    @media screen and (max-width: 1024px ) {
        @include pad-lef-right-15;
    }
}

ul.tabs-qlq {
    border-bottom: 0px !important;

    & > li {
        width: 100%;
        cursor: pointer;
        margin-bottom: 10px;
        list-style: none;
        padding-right: 15px;

        &.active {
            background: #D1D1D1;
        }

        &:hover {
            background: #D1D1D1;
        }

        & > div {
            background: #fff;
            border: 1px solid #D1D1D1;

            & > div {
                & > img {
                    @include wh-100;
                }

                & > p.tieude {
                    color: #3B8AC9;
                    @include font-report;
                }

                & > p.soluong {
                    color: #cd0f00;
                    @include font-report;
                }
            }
        }
    }
}

.tab-content {
    border: 3px solid #d1d1d1;
}

/*.height-report-index {
    height: 395px;
}*/

.padd-lef-15 {
    @include pad-lef-15;

    @media screen and (max-width: 768px ) {
        margin-top: 10px;
        @include pad-lef-0;
    }
}

.table-home-index {
    background-color: #EBFCFF;

    & > tbody {
        & > tr:first-child {
            background-color: #dcedf1 !important;

            & > td {
                height: 50px;
                text-align: center;
                font-weight: bold;
                font-size: 16px;
                color: #cd0f00;
            }
        }

        & > tr {
            & > td {
                vertical-align: middle !important;
                @include font-report;
            }

            & > td:nth-child(2) {
                color: #3B8AC9;
            }
        }
    }
}

/*Fix css bootstrap*/
.navbar-inverse {
    background-color: #3B8AC9 !important;
    border-color: #fff !important;
}

.navbar {
    border-radius: 0px !important;
    border: 0px solid transparent !important;
}

.none-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
