﻿

/* Header */
.dxpnl-edge.t.headerPane {
    background-color: #EDEDED;
    background-position: left top;
    background-repeat: no-repeat;
}

    .dxpnl-edge.t.headerPane.panel {
        padding: 0;
    }

.headerMenu {
    border-width: 0 !important;
    border-top-width: 1px !important;
    background-color: #4dbdc7;
}

.expandedPanel {
    padding: 2px !important;
}

    .expandedPanel .headerMenu {
        border-top-width: 0 !important;
    }

    .expandedPanel .headerTop {
        display: none;
    }

.templateTitle {
    float: left;
    margin: 12px 12px 18px;
}

.dxpnl-edge.t.headerPane.bar .templateTitle {
    margin: 0;
}

.templateTitle a {
    text-decoration: none;
    font-size: x-large;
    color: black;
}

.loginControl {
    float: right;
    margin: -24px 25px -12px;
    font-size: 12px;
}

    .loginControl a {
        color: black;
        text-decoration: none;
        border-bottom: dashed 1px black;
        display: inline-block;
    }

.qlq-banner-right {
    display: table;
    position: relative;
}

.qlq-banner-right .qlq-notification, .qlq-banner-right .qlq-auth {
    display: table-cell;
    vertical-align: middle;
}

.qlq-banner-right .qlq-notification a.notification-link {
    padding-top: 35px;
    margin-right: 5px;
    font-size: 16px;
    position: relative;
}

.qlq-banner-right .qlq-notification a.notification-link span.badge {
    position: absolute;
    top: 25px;
    left: -14px;
    background-color: #C3161C;
    color: #fff;
}

.qlq-banner-right .qlq-notification .ul-notification {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1000;
    display: none;
    min-width: 200px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.qlq-banner-right .qlq-notification.open .ul-notification {
    display: block;
    background-color: #EBFCFF !important;
    margin: 0 !important;
}

.qlq-banner-right .qlq-notification .ul-notification li a {
    padding-top: 0 !important;
    margin-right: 0 !important;
    text-decoration: none;
}

.qlq-banner-right .qlq-notification .ul-notification li {
    padding: 5px 10px;
}

.qlq-banner-right .qlq-notification .ul-notification li:hover, .qlq-banner-right .qlq-notification .ul-notification li:focus {
    background-color:#3B8AC9 !important;
}

.qlq-banner-right .qlq-notification .ul-notification li:hover a, .qlq-banner-right .qlq-notification .ul-notification li:focus a {
    color: #fff;
}

.qlq-banner-right .qlq-notification .ul-notification li:not(:last-child) {
    border-bottom: solid 1px #ddd;
}

.qlq-banner-right .qlq-notification .ul-notification li a span {
    display: block;
    font-size: 13px;
}

.qlq-banner-right .qlq-notification .ul-notification li a span.notification-timer {
    color: #5d5b5b;
}

/* Footer */
.dxpnl-edge.b.footerPane {
    background-color: #EDEDED;
}

    .dxpnl-edge.b.footerPane.panel {
        padding: 0;
    }

.footerMenu {
    float: right;
    padding-top: 7px;
}

.copyright {
    text-align: center !important;
    margin: 10px 15px 11px;
}

.content {
    padding: 10px;
}

/* Left Panel */
.leftPane.panel {
    padding: 1px;
    width: 200px;
}

/* Right Panel */
.rightPane.panel {
    padding: 0;
    width: 250px;
}

/* Account */
.accountHeader h2 {
    margin: 10px 0 7px 0;
    font-size: 16px;
}

.accountHeader p {
    margin: 0;
    padding: 0;
}

.accountHeader {
    margin-bottom: 20px;
}

.form-field {
    margin-bottom: 8px;
}

.dxgv {
    height: 35px;
    font-size: 15px !important;
}

.dxic {
    height: 28px;
}

.dxgvHeader_EIS {
    font-size: 16px !important;
    height: 35px;
}

.dxflGroup_EIS {
    padding: 3px 0px !important;
    width: 100%;
}
.dxflGroupCell_EIS {
    padding: 0 4px !important;
}
/*.dxgvControl_EIS {
    border-color: white !important;
}*/
/* iOS */
.dxpnlControl_iOS.leftPane,
.dxpnlControl_iOS.rightPane,
.dxpnlControl_iOS.contentPane {
    border-width: 1px !important;
}

    .dxpnlControl_iOS.leftPane.panel {
        width: 300px;
    }

.dxpnlControl_iOS.rightPane {
    width: 450px;
}

.dxpnlControl_iOS .templateTitle {
    margin: 17px 25px;
}

    .dxpnlControl_iOS .templateTitle a {
        color: #00A69B;
        font-size: 26px;
        line-height: 1em;
        font-weight: bold;
    }

.dxpnlControl_iOS .loginControl a {
    color: #0160E7;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
}

.dxpnlControl_iOS.mainContentPane {
    border-width: 0px !important;
    box-shadow: initial;
    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
}

.dxpnlControl_iOS.dxpnl-edge.b.footerPane {
    border-width: 1px !important;
}

.dxpnlControl_iOS .accountHeader p {
    color: #303030;
}

.dxpnlControl_iOS .accountHeader h2 {
    color: #303030;
    font-size: 26px;
    margin-bottom: 10px;
}


/* Aqua */
.dxpnlControl_Aqua.dxpnl-edge.t.headerPane,
.dxpnlControl_Aqua.dxpnl-edge.b.footerPane,
.dxpnlControl_Aqua .footerMenu li {
    background-color: #BFDBFF;
}

.dxpnlControl_Aqua.dxpnl-edge.t.headerPane {
    background-image: url('images/AquaHeader.jpg');
}

.dxpnlControl_Aqua .accountHeader h2 {
    color: #5689C5;
}

.dxpnlControl_Aqua .loginControl a,
.dxpnlControl_Aqua .templateTitle a {
    color: White;
    border-color: White;
}


/* DevEx */
.dxpnlControl_DevEx.dxpnl-edge.t.headerPane,
.dxpnlControl_DevEx.dxpnl-edge.b.footerPane,
.dxpnlControl_DevEx .footerMenu li {
    background-color: #F2F3F4;
}

.dxpnlControl_DevEx .templateTitle a,
.dxpnlControl_DevEx .loginControl,
.dxpnlControl_DevEx .loginControl a {
    color: #4B4B57;
}

    .dxpnlControl_DevEx .loginControl a {
        border-bottom-color: #4B4B57;
    }


/* BlackGlass */
.dxpnlControl_BlackGlass.dxpnl-edge.t.headerPane,
.dxpnlControl_BlackGlass.dxpnl-edge.b.footerPane,
.dxpnlControl_BlackGlass .footerMenu li {
    background-color: #2A2A2A;
    color: white;
}

.dxpnlControl_BlackGlass.dxpnl-edge.t.headerPane {
    background-image: url('images/BlackGlassHeader.jpg');
}

.dxpnlControl_BlackGlass .leftPanel li[class$="dxnb-last"] ul {
    border-bottom: 1px solid black;
}

.dxpnlControl_BlackGlass .accountHeader p {
    color: #585858;
}

.dxpnlControl_BlackGlass .loginControl a,
.dxpnlControl_BlackGlass .templateTitle a {
    color: White;
    border-color: White;
}


/* Glass */
.dxpnlControl_Glass.dxpnl-edge.t.headerPane,
.dxpnlControl_Glass.dxpnl-edge.b.footerPane,
.dxpnlControl_Glass .footerMenu li {
    background-color: #CFE0E7;
}

.dxpnlControl_Glass.dxpnl-edge.t.headerPane {
    background-image: url('images/GlassHeader.jpg');
}

.dxpnlControl_Glass .footerMenu * {
    background-image: none !important;
}

.dxpnlControl_Glass .templateTitle a,
.dxpnlControl_Glass .loginControl,
.dxpnlControl_Glass .loginControl a {
    color: #4B4B57;
}

    .dxpnlControl_Glass .loginControl a {
        border-bottom-color: #4B4B57;
    }

.dxpnlControl_Glass .accountHeader h2 {
    color: #387FA4;
}

.dxpnlControl_Glass .accountHeader p {
    color: #575757;
}



/* Office2003Blue */
.dxpnlControl_Office2003Blue.dxpnl-edge.t.headerPane,
.dxpnlControl_Office2003Blue.dxpnl-edge.b.footerPane,
.dxpnlControl_Office2003Blue .footerMenu li {
    background-color: #BCD4F6;
}

.dxpnlControl_Office2003Blue .footerMenu div {
    background: transparent none;
}

.dxpnlControl_Office2003Blue .leftPanel > ul {
    background: transparent none;
}

.dxpnlControl_Office2003Blue .templateTitle a,
.dxpnlControl_Office2003Blue .loginControl,
.dxpnlControl_Office2003Blue .loginControl a {
    color: #4B4B57;
}

    .dxpnlControl_Office2003Blue .loginControl a {
        border-bottom-color: #4B4B57;
    }

.dxpnlControl_Office2003Blue .accountHeader p {
    color: #424242;
}


/* Office2003Olive */
.dxpnlControl_Office2003Olive.dxpnl-edge.t.headerPane,
.dxpnlControl_Office2003Olive.dxpnl-edge.b.footerPane,
.dxpnlControl_Office2003Olive .footerMenu li {
    background-color: #D6DCBB;
}

.dxpnlControl_Office2003Olive .footerMenu div {
    background: transparent none;
}

.dxpnlControl_Office2003Olive .leftPanel > ul {
    background: transparent none;
}

.dxpnlControl_Office2003Olive .templateTitle a,
.dxpnlControl_Office2003Olive .loginControl,
.dxpnlControl_Office2003Olive .loginControl a {
    color: #4B4B57;
}

    .dxpnlControl_Office2003Olive .loginControl a {
        border-bottom-color: #4B4B57;
    }

.dxpnlControl_Office2003Olive .accountHeader p {
    color: #424242;
}

/* Office2003Silver */
.dxpnlControl_Office2003Silver.dxpnl-edge.t.headerPane,
.dxpnlControl_Office2003Silver.dxpnl-edge.b.footerPane,
.dxpnlControl_Office2003Silver .footerMenu li {
    background-color: #D0D0DE;
}

.dxpnlControl_Office2003Silver .footerMenu div {
    background: transparent none;
}

.dxpnlControl_Office2003Silver .leftPanel > ul {
    background: transparent none;
}

.dxpnlControl_Office2003Silver .templateTitle a,
.dxpnlControl_Office2003Silver .loginControl,
.dxpnlControl_Office2003Silver .loginControl a {
    color: #4B4B57;
}

    .dxpnlControl_Office2003Silver .loginControl a {
        border-bottom-color: #4B4B57;
    }

.dxpnlControl_Office2003Silver .accountHeader p {
    color: #424242;
}

/* Office2010Black */
.dxpnlControl_Office2010Black.dxpnl-edge.t.headerPane,
.dxpnlControl_Office2010Black.dxpnl-edge.b.footerPane,
.dxpnlControl_Office2010Black .footerMenu li {
    background-color: #393939;
    color: white;
}

.dxpnlControl_Office2010Black .footerMenu a {
    color: white !important;
}

.dxpnlControl_Office2010Black .accountHeader h2 {
    color: #3C3C3C;
}

.dxpnlControl_Office2010Black .loginControl a,
.dxpnlControl_Office2010Black .templateTitle a {
    color: White;
    border-color: White;
}


/* Office2010Blue */
.dxpnlControl_Office2010Blue.dxpnl-edge.t.headerPane,
.dxpnlControl_Office2010Blue.dxpnl-edge.b.footerPane,
.dxpnlControl_Office2010Blue .footerMenu li {
    background-color: #D3E4F6;
}

.dxpnlControl_Office2010Blue .templateTitle a,
.dxpnlControl_Office2010Blue .loginControl,
.dxpnlControl_Office2010Blue .loginControl a {
    color: Black;
}

    .dxpnlControl_Office2010Blue .loginControl a {
        border-bottom-color: Black;
    }

.dxpnlControl_Office2010Blue .accountHeader h2 {
    color: #498BC2;
}


/* Office2010Silver */
.dxpnlControl_Office2010Silver.dxpnl-edge.t.headerPane,
.dxpnlControl_Office2010Silver.dxpnl-edge.b.footerPane,
.dxpnlControl_Office2010Silver .footerMenu li {
    background-color: #A9ACB4;
    color: white;
}

.dxpnlControl_Office2010Silver .accountHeader h2 {
    color: #3B3B3B;
}

.dxpnlControl_Office2010Silver .loginControl a,
.dxpnlControl_Office2010Silver .templateTitle a {
    color: White;
    border-color: White;
}



/* PlasticBlue */
.dxpnlControl_PlasticBlue.dxpnl-edge.t.headerPane,
.dxpnlControl_PlasticBlue.dxpnl-edge.b.footerPane,
.dxpnlControl_PlasticBlue .footerMenu li {
    background-color: #3C4F8F;
    color: white;
}

.dxpnlControl_PlasticBlue.dxpnl-edge.t.headerPane {
    background-image: url('images/PlasticBlueHeader.jpg');
}

.dxpnlControl_PlasticBlue .accountHeader h2 {
    color: #5A83D0;
}

.dxpnlControl_PlasticBlue .accountHeader p {
    color: #575757;
}

.dxpnlControl_PlasticBlue .loginControl a,
.dxpnlControl_PlasticBlue .templateTitle a {
    color: White;
    border-color: White;
}


/* RedWine */
.dxpnlControl_RedWine.dxpnl-edge.t.headerPane,
.dxpnlControl_RedWine.dxpnl-edge.b.footerPane,
.dxpnlControl_RedWine .footerMenu li {
    background-color: #78002B;
    color: white;
}

.dxpnlControl_RedWine.dxpnl-edge.t.headerPane {
    background-image: url('images/RedWineHeader.jpg');
    background-position: top right;
}

.dxpnlControl_RedWine .footerMenu div {
    background: transparent none;
}

.dxpnlControl_RedWine .accountHeader h2 {
    color: #8A0A37;
}

.dxpnlControl_RedWine .loginControl a,
.dxpnlControl_RedWine .templateTitle a {
    color: White;
    border-color: White;
}


/* SoftOrange */
.dxpnlControl_SoftOrange.dxpnl-edge.t.headerPane,
.dxpnlControl_SoftOrange.dxpnl-edge.b.footerPane,
.dxpnlControl_SoftOrange .footerMenu li {
    background-color: #F9F9F9 !important;
    background-image: none !important;
}

.dxpnlControl_SoftOrange .templateTitle a,
.dxpnlControl_SoftOrange .loginControl,
.dxpnlControl_SoftOrange .loginControl a {
    color: Black;
}

    .dxpnlControl_SoftOrange .loginControl a {
        border-bottom-color: Black;
    }

.dxpnlControl_SoftOrange .accountHeader h2 {
    color: Black;
}

.dxpnlControl_SoftOrange .accountHeader p {
    color: #707070;
}


/* Youthful */
.dxpnlControl_Youthful.dxpnl-edge.t.headerPane,
.dxpnlControl_Youthful.dxpnl-edge.b.footerPane,
.dxpnlControl_Youthful .footerMenu li {
    background-color: #8AA150;
    color: white !important;
}

.dxpnlControl_Youthful .accountHeader h2 {
    color: #80A70E;
}

.dxpnlControl_Youthful .loginControl a,
.dxpnlControl_Youthful .templateTitle a {
    color: White;
    border-color: White;
}

/* Metropolis */
/*.headerMenu li{
    height:42px
}*/
.headerMenu .dx-vam {
    font-size: 13px;
}

.dxpnlControl_Metropolis.dxpnl-edge.t.headerPane,
.dxpnlControl_Metropolis .footerMenu li {
    background-color: White;
    color: Black;
}

.dxpnlControl_Metropolis.rightPane {
    width: 400px;
}

.dxpnlControl_Metropolis .accountHeader h2 {
    color: #3B3B3B;
}

.dxpnlControl_Metropolis .loginControl a,
.dxpnlControl_Metropolis .templateTitle a {
    color: Black;
    border-color: Black;
}

.dxpnlControl_Metropolis .templateTitle a {
    font-size: 28px;
}


/* MetropolisBlue */

.dxpnlControl_MetropolisBlue.dxpnl-edge.t.headerPane,
.dxpnlControl_MetropolisBlue .footerMenu li {
    background-color: White;
    color: Black;
}

.dxpnlControl_MetropolisBlue.rightPane {
    width: 400px;
}

.dxpnlControl_MetropolisBlue .accountHeader h2 {
    color: #3B3B3B;
}

.dxpnlControl_MetropolisBlue .loginControl a,
.dxpnlControl_MetropolisBlue .templateTitle a {
    color: Black;
    border-color: Black;
}

.dxpnlControl_MetropolisBlue .templateTitle a {
    font-size: 28px;
}

/* Moderno */
.dxpnlControl_Moderno.dxpnl-edge.t.headerPane,
.dxpnlControl_Moderno .footerMenu li {
    background-color: White;
    color: Black;
}

.dxpnlControl_Moderno.headerPane .headerMenu .dxm-main {
    border-color: #d1d1d1;
    border-style: solid;
}

.dxpnlControl_Moderno.leftPane {
    padding: 0px;
}

    .dxpnlControl_Moderno.leftPane .dxnbLite_Moderno .dxnb-gr:first-child .dxnb-header,
    .dxpnlControl_Moderno.leftPane .dxnbLite_Moderno .dxnb-gr:first-child .dxnb-headerCollapsed {
        border-top: 0px;
    }

.dxpnlControl_Moderno.rightPane {
    width: 350px;
}

.dxpnlControl_Moderno .accountHeader h2 {
    color: #3B3B3B;
}

.dxpnlControl_Moderno .loginControl a,
.dxpnlControl_Moderno .templateTitle a {
    font-size: 14px;
    color: #0072c6;
    border-color: #0072c6;
}

.dxpnlControl_Moderno .templateTitle a {
    font-size: 28px;
}

.dxpnlControl_Moderno .contentPane .dxgvControl_Moderno .dxgvTable_Moderno {
    border: 0 !important;
}

.dxpnlControl_Moderno .contentPane .dxgvControl_Moderno .dxgvHeader_Moderno {
    border-top: 0 !important;
    background-color: #cdd6a7;
}

.dxpnlControl_Moderno.dxpnl-edge.b.footerPane {
    background: #EDEDED;
}

/* Mulberry */
.dxpnlControl_Mulberry .footerMenu li {
    background-color: White;
    color: Black;
}

.dxpnlControl_Mulberry .accountHeader h2 {
    color: #3B3B3B;
}

.dxpnlControl_Mulberry .loginControl a,
.dxpnlControl_Mulberry .templateTitle a {
    color: #BF4E6A;
    border-color: #BF4E6A;
    font-size: 14px;
}

.dxpnlControl_Mulberry .templateTitle a {
    font-size: 28px;
}

.dxpnlControl_Mulberry.dxpnl-edge.t.headerPane,
.dxpnlControl_Mulberry.dxpnl-edge.b.footerPane {
    background: #F1F2F5;
}

.dxpnlControl_Mulberry .contentPane .dxgvControl_Mulberry .dxgvTable_Mulberry {
    border: 0 !important;
}

.dxpnlControl_Mulberry .contentPane .dxgvControl_Mulberry .dxgvHeader_Mulberry {
    border-top: 0 !important;
}
/*TrieuLQ custom CSS Devexpress*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    /*width: 1000px;*/
    margin: 0 auto;
}

.dxgvSearchPanel_Moderno {
    background: #cfd9a3 none repeat scroll 0 0;
    border-bottom: 1px solid #a4b26d;
    padding: 7px 4px 7px 6px;
}

.dxgvDataRow_Moderno {
    border-bottom-width: 1px;
    border-bottom-color: #cdd6a7;
    border-bottom-style: solid;
    border-right-color: #cdd6a7;
    border-right-style: solid;
    border-width: 0 1px 1px 0;
    overflow: hidden;
    padding: 2px 6px 5px;
}

.dxgvControl_Moderno {
    border: 1px solid #a4b26d;
    font: 12px Tahoma,Geneva,sans-serif;
}

.Spacing {
    padding-top: 10px;
}

.logocenter {
    text-align: center;
    padding-top: 170px;
}

.dxgvHeader_EIS a {
    color: #FFFFFF !important;
}

.roundPanel {
    font-size: 12px;
}
/*
    Creation : 04/07/2016
    Creation by : HaiPL
    */
/*.dxrpControl td.dxrpHeader{
    background-color:white !important;
}
.dxrpControl td.dxrpHeader {
    border-bottom: 1px solid #0093DD !important;
}
.dxrpControl > tbody > tr > .dxrpcontent {
    background-image: none !important;
    background-color: #ffffff !important;
}
.dxrpControl td.dxrpHeader, .dxrpControl > tbody > tr > .dxrpcontent {
     border-left: 0px solid #ffffff !important;
     border-right: 0px solid #ffffff !important;
     border-bottom: 0px solid #ffffff !important;
}
.dxrpControl:not(.dxrp-hasDefaultImages) .dxrpHeader {
     border-radius: 0px 0px 0px 0px !important; 
}
.dxrpControl td.dxrpHeader, .dxrpControl > tbody > tr:first-child > .dxrpcontent {
     border-top: 0px solid #ffffff !important; 
}
.dxWeb_rpCollapseButton {
    background-position: -225px -192px !important;
    width: 24px !important;
    height: 24px !important;
}
.dxrpControl .dxWeb_rpCollapseButton {
    background: url(Images/Icon/hide_ndh.png) !important;
}

.dxrpCollapsed .dxWeb_rpCollapseButton {
    background: url(Images/Icon/show_ndh.png) !important;
}
.dxrpControl td.dxrpHeader {
    color: #0093DD !important;
    font-size: 13px !important;
    font-weight: bold !important;
    border-bottom: 1px solid #0093DD !important;
}
.dxgvHeader {
    cursor: pointer !important;
    white-space: nowrap !important;
    padding: 4px 6px 5px !important;
    border: 1px Solid Silver !important;
    background: #0093DD !important;
    overflow: hidden !important;
    text-align: left !important;
    color: White !important;
    font-size: 13px !important;
}
.dxgvFilterRow td.dxgv {
    border-bottom: 1px Solid #c0c0c0 !important;
    border-right: 1px Solid #c0c0c0 !important;
    border-top-width: 0 !important;
    border-left-width: 0 !important;
    padding: 2px !important;
    overflow: hidden !important;
}*/
