﻿body {
    background: #FFFFFF !important;
}

#HeaderMenu {
    background: #3B8AC9 !important;
}

    #HeaderMenu span {
        color: #fff !important;
    }

.filter {
    margin: 0 13px;
    padding: 10px 0;
    border: 0;
    background-color: #F0F0F0;
    width: 98%;
    text-align: left;
    float: left;
}

.tbFilter {
    margin: 0;
    padding: 10px;
    border: 0;
    width: 100%;
    text-align: left;
}

    .tbFilter td {
        padding: 3px 0;
    }

#table_filter {
    margin-bottom: 10px;
    width: 100%;
}

#HeaderMenu_DXI0_T {
    margin-left: 5px;
}

.marginleft {
    margin-left: -76px;
}

.footerPane {
    height: 30px !important;
    background-color: #002A54 !important;
    /*background-color: #0F5DB1 !important*/
}

.copyright {
    margin: 6px 15px 11px !important;
}

    .copyright span {
        color: #fff !important;
        font-family: Tahoma !important;
    }

.dxm-separator {
    display: none !important;
}

.headerMenu {
    /*background: url('Images/bg_header_tet.png') center !important*/
    /*background: #0F5DB1 !important;*/
    font-size: 15px;
    background: #3B8AC9 !important;
}

.dxeRoot_OneNETMetropolisBlue {
    margin-top: 15px;
}

.PrePage {
    background-image: url(Images/Icon-flat/Prev.png);
    width: 32px;
    height: 32px;
}

.PrePageHottracked {
    background-image: url(Images/Icon-flat/Prev-over.png);
}

.PrePagePressed {
}

.Pre {
    background-image: url(Images/Icon-flat/Left.png);
    width: 32px;
    height: 32px;
}

.PreHottracked {
    background-image: url(Images/Icon-flat/Left-over.png);
}

.PrePressed {
}

.btnSearch {
    background-image: url(Images/Icon-flat/Search.png);
    width: 32px;
    height: 32px;
}

.btnSearchHottracked {
    background-image: url(Images/Icon-flat/Search-over.png);
}

.btnSearchPressed {
}


.NextPage {
    background-image: url(Images/Icon-flat/Next.png);
    width: 32px;
    height: 32px;
}

.NextPageHottracked {
    background-image: url(Images/Icon-flat/Next-over.png);
}

.NextPagePressed {
}

.Next {
    background-image: url(Images/Icon-flat/Right.png);
    width: 32px;
    height: 32px;
}

.Print-Report {
    background-image: url(Images/print.png);
    width: 24px;
    height: 24px;
}

.NextHottracked {
    background-image: url(Images/Icon-flat/Right-over.png);
}

.NextPressed {
}

.bt_popup {
    padding-top: 10px !important;
}

#bt_thuchien {
}

.gropBT {
    padding: 0 !important;
}

.lb_hoso {
    font-weight: bold !important;
}

.btn_hsct {
    margin-right: 10px;
    margin-bottom: 20px;
}

.lb_help_text {
    width: 100%;
}

.divResult {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 110px;
    overflow: hidden;
}

.devTreeNhomVT {
    display: inline-block;
    float: left;
    width: 20%;
}

.devVT {
    float: right;
    display: inline-block;
    width: 50%;
}

#LeftPanel {
    padding: 0px !important;
    padding-top: 5px !important;
}

#RightPanel {
    padding: 2px !important;
}

#RightPanel1 {
    border: 1px solid #c0c0c0 !important;
}

#RightPanel2 {
    margin-top: 5px !important;
    border: 1px solid #c0c0c0 !important;
}

table#table_1 th {
    padding: 5px;
}

table#table_1 td {
    padding: 5px;
}

table#table_1 {
    border: 1px solid #F0F0F0;
}

table#table_2 th {
    padding: 2px;
}

table#table_2 td {
    padding: 2px;
}

table#table_2 {
    border: 1px solid #F0F0F0;
}

#formTTBN td {
    width: auto !important;
}

#formTTBN span {
    font-weight: bold !important;
}

#formKHAC span {
    color: #0f5db1 !important;
}

#lbTen {
    font-size: 14px !important;
    font-weight: bold !important;
    color: #0f5db1;
}

.btnDongY {
    background: url(Images/Icon-flat/Check.png);
    width: 32px;
    height: 32px;
}

.btnDongYHottracked {
    background: url(Images/Icon-flat/Check-over.png);
}

.btnKhoiPhuc {
    background: url(Images/Icon-flat/Reply.png);
    width: 32px;
    height: 32px;
}

.btnKhoiPhucHottracked {
    background: url(Images/Icon-flat/Reply-over.png);
}

.btnTuChoiAll {
    background: url(Images/Icon-flat/x.png);
    width: 32px;
    height: 32px;
}

.btnTuChoiAllHottracked {
    background: url(Images/Icon-flat/x-over.png);
}

.btnLichSuDT {
    background: url(Images/Icon-flat/History.png);
    width: 32px;
    height: 32px;
}

.btnLichSuDTHottracked {
    background: url(Images/Icon-flat/History-over.png);
}

.btnTuDien {
    background: url(Images/Icon-flat/Eye.png);
    width: 32px;
    height: 32px;
}

.btnTuDienHottracked {
    background: url(Images/Icon-flat/Eye-over.png);
}

.btnLichSu {
    background: url(Images/Icon-flat/HoSo.png);
    width: 32px;
    height: 32px;
}

.btnLichSuHottracked {
    background: url(Images/Icon-flat/HoSo-over.png);
}

.btnInKQ {
    background: url(Images/Icon-flat/Print.png);
    width: 32px;
    height: 32px;
}

.btnInKQHottracked {
    background: url(Images/Icon-flat/Print-over.png);
}

.btnHSCT {
    padding: 0 !important;
    /*background: #ff0000 !important;*/
}

.formTitle {
    padding-bottom: 10px !important;
}

    .formTitle span {
        font-size: 14px !important;
        font-weight: bold !important;
        color: #000000 !important;
    }

#formTTCTHS span {
    color: #2196F3;
}

#formLDTT_E1, #formLDTT_E2, #formLDTT_E3 {
    font-weight: bold !important;
}

#frmFilter {
    margin: 0 auto !important;
    padding: 0 !important;
}

.HiddenField {
    display: none;
}


.dxflRequired_ACC {
    color: red !important;
    font-weight: bold;
}

.dxtlIndentWithButton_ACC {
    padding: 5px 0 0 0 !important;
}

#content {
    width: 100%;
    height: auto;
    display: block;
    background: #fff;
    min-height: 500px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    color: #fff;
}

#content_left {
    position: absolute;
    width: 20px;
    height: 100%;
    background: #f0f0f0;
    border-right: 1px solid #cccedb;
    color: #0093DD;
}

    #content_left:hover {
        background: #0093DD;
        color: #fff;
    }

#content_right {
    display: block;
    margin-left: 20px;
    /*padding: 0 10px;*/
}

#title {
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: left 17px;
    text-align: center;
    /*padding-right: 33px;*/
}

#icon {
    margin-left: 2px;
    margin-top: 3px;
}

#left_content {
    display: block;
    width: 300px;
    background: #fff;
    position: absolute;
    min-height: 500px;
}

#grid_left {
    float: left;
    width: 50%;
}

#grid_right {
    float: right;
    width: 50%;
}

.dxrpHT dx-vam {
    color: #ff0000;
}

.grid_title {
    color: #0093DD;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: 14px;
    font-family: 'Segoe UI';
}

a.dxbButton_EIS {
    text-decoration: none !important;
}

.dxflRequired_EIS {
    color: red !important;
    font-weight: bold;
}

.dxIcon_actions_search_16x16devav {
    font-style: italic;
    font-weight: bold;
}

.dxbButtonSys {
    /*font-style: oblique;
    font-style: italic;
    font-weight: bold;*/
}

#buttonSearch {
    font-family: Arial;
    height: 30px;
    color: white;
    background: #3B8AC9;
    width: 120px !important;
    font-size: 13px !important;
}

#txt_MA {
    height: 30px !important;
    font-size: 13px !important;
    font-style: italic !important;
}

#btn_sodu {
    font-weight: bold !important;
    /*color:blue;*/
}

#btn_chitiet {
    font-weight: bold !important;
    /*color:blue;*/
}

#btn_moi {
    background: #3B8AC9;
    font-weight: bold !important;
    color: white;
}
#btn_timkiem {
    background: #3B8AC9;
    font-weight: bold !important;
    color: white;
}
#btn_Luu{
    background: #3B8AC9;
    font-weight: bold !important;
    color: white;
}

#btn_sua {
    background: #3B8AC9;
    font-weight: bold !important;
    color: white;
    font-size: 13px !important;
}
#btn_Lammoi {
    background: #3B8AC9;
    font-weight: bold !important;
    color: white;
    font-size: 13px !important;
}
#btn_in {
    font-family: Arial;
    height: 30px;
    color: white;
    background: #3B8AC9;
    width: 120px !important;
    font-size: 13px !important;
}

#btn_xoa {
    background: #3B8AC9;
    color: white;
    font-weight: bold !important;
    font-size: 13px !important;
}
#btn_Thoat {
    background: #3B8AC9;
    color: white;
    font-weight: bold !important;
    font-size: 13px !important;
}

#btn_tktg {
    font-weight: bold !important;
    /*color:blue;*/
    font-size: 12px !important;
}

#btn_bhxhnet {
    font-weight: bold !important;
    /*color:blue;*/
    font-size: 12px !important;
}

#btn_sms {
    font-weight: bold;
    /*color:blue;*/
    font-size: 12px !important;
}

#btn_luu {
    font-weight: bold;
    background: #3B8AC9;
    color: white;
    /*color:blue;*/
    font-size: 13px !important;
}

.btn_huy {
    text-align: center !important;
    background: #3B8AC9 !important;
    color: white !important;
    width: 100px !important;
    height: 25px !important;
}

#btn_xoadanhsach {
    font-weight: bold;
    /*color:blue;*/
    font-size: 13px !important;
}

#btn_updatemis {
    font-weight: bold;
    /*color:blue;*/
    font-size: 13px !important;
}

.btn_save {
    text-align: center !important;
    background: #3B8AC9 !important;
    color: white !important;
    width: 100px !important;
    height: 25px !important;
}

.hidden_Column {
    display: none;
}

.dxrd-designer-wrapper .dxrd-toolbar-wrapper {
    /*position: fixed;*/
    left: 64px;
    right: 375px;
    height: 64px;
    min-width: 800px;
    /*padding-top: 42px;*/
}

.dxrd-toolbar {
    position: fixed !important;
    background: #E5E5E5 !important;
    z-index: 12008 !important;
}


.dxpc-content {
    padding-top: 0px !important;
}

.dx-overlay-wrapper {
    z-index: 100000 !important;
}
