﻿<table style="margin-top:10px">
    <tr>
        <td style="width:30%;">
            @Html.DevExpress().TokenBox(s =>
        {
            s.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
            s.Name = "txtMA";
            s.Properties.NullText = "Nhập từ khóa tìm kiếm ...";
            s.ControlStyle.Font.Size = 13;
            //s.Properties.ClientSideEvents.KeyDown = "OnTextBoxKeyDown";
            s.Properties.DataSource = ViewData["List"];
            s.Properties.ShowDropDownOnFocus = ShowDropDownOnFocusMode.Never;
            s.Properties.ClientSideEvents.TokensChanged = "onTokensChanged";
            s.Width = Unit.Percentage(100);
            s.Height = Unit.Pixel(30);
            s.Properties.MaxLength = 50;
            s.ShowModelErrors = true;

        }).BindList(ViewData["List"]).GetHtml()
        </td>
        <td style="padding-right: 400px"">
            @Html.DevExpress().Button(s =>
        {
            s.Name = "buttonSearch";
            s.Text = @"Tìm kiếm";
            s.Images.Image.IconID = IconID.ActionsSearch16x16devav;
            s.ClientSideEvents.Click = "TimKiem";
            s.AllowFocus = false;
            s.Images.Image.SpriteProperties.CssClass = "btnSearch";
            s.Images.Image.SpriteProperties.HottrackedCssClass = "btnSearchHottracked";
            s.Images.Image.SpriteProperties.PressedCssClass = "btnSearchPressed";
            s.ToolTip = "Tìm kiếm";
            s.ControlStyle.Font.Size = 13;
            //s.Styles.Style.HorizontalAlign = HorizontalAlign.Left;
        }).GetHtml()
        </td>
    </tr>
</table>
