﻿@model System.Collections.IEnumerable
@{
    ViewBag.Title = "Thông tin khách hàng";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}

<style>
    /*style lại popup edit gridview*/
    .dxgvPopupEditForm_EIS .dxeEditArea_EIS.dxeEditAreaSys {
        height: 18px;
    }

    .dxgvPopupEditForm_EIS .dxflHALSys.dxflVATSys.dxflCaptionCell_EIS.dxflCaptionCellSys {
        vertical-align: middle;
    }

    .dxgvPopupEditForm_EIS .dxflHARSys.dxflGroupCell_EIS {
        height: 30px;
    }
    /*--------------*/
</style>

<script type="text/javascript">

    $(document).ready(function () {
    });

    function onTokensChanged() {
        TimKiem();
    }

    function TimKiem() {
        var timkiem = "";
        if (window.txtMA.GetValue() != null)
            timkiem = window.txtMA.GetValue();
        gvHS_KHACHHANG.PerformCallback({ 'timkiemS': timkiem });
    }

    function OnBeginCallback(s, e) {
        //e.customArgs["LOAI"] = window.txtMA.GetValue();
    }

    function OnEndCallback(s, e) {
        if (s.cpMessage != null) {
            showMessage(true, s.cpMessage);
            delete s.cpMessage;
        }

        if (s.IsNewRowEditing()) {
            var form = s.GetPopupEditForm();
            form.PopUp.AddHandler(function (s, e) {
                var editor = gvHS_KHACHHANG.GetEditor('TEN_KHACHHANG');
                editor.Focus();
            });
        }
        EnterFocus("gvTAIKHOAN");
    }

    function EnterFocus(nameGrid) {
        $("#" + nameGrid + "_DXPEForm_DXEFL").find(".dxeEditAreaSys,.dxichSys input,.dxbButtonSys").each(function (i, obj) {
            $(this).keypress(function (event) {
                if (event.which == 13) {
                    $("#" + nameGrid + "_DXPEForm_DXEFL").find(".dxeEditAreaSys,.dxichSys input,.dxbButtonSys").each(function (j, obj) {
                        if (j == (i + 1)) {
                            $(this).focus();
                            console.log(j);
                            if (j == 24) {
                                $("#gvTAIKHOAN_DXPEForm_DXEFL_DXCBtn0").focus();
                            }
                        }
                    });
                }
            });
        });
    }

    function OnNewClick(s, e) {
        gvHS_KHACHHANG.AddNewRow();
    }

    function OnEditClick(s, e) {
        var index = gvHS_KHACHHANG.GetFocusedRowIndex();
        gvHS_KHACHHANG.StartEditRow(index);
    }

    function OnDeleteClick(s, e) {
        var index = gvHS_KHACHHANG.GetFocusedRowIndex();
        if (index == null || index == -1) {
            showMessage(false, "vui lòng chọn 1 bản ghi !");
            return;
        }
        $("#popup_Delete_Confirm").val('ConfirmDeleteHS_KHACHHANG');
        window.popup_Delete.Show();
    }

    function ConfirmDeleteHS_KHACHHANG() {
        var index = gvHS_KHACHHANG.GetFocusedRowIndex();
        gvHS_KHACHHANG.DeleteRow(index);
    }

    function showMessage(isSucess, text) {
        if (isSucess) {
            $('#noidung_success').text(text.toString());
            window.Message_Success.Show();
            setTimeout(function () { Message_Success.Hide(); }, 2000);
        }
        else {
            $('#noidung').text(text.toString());
            window.Message.Show();
        }
    }

    function ShowProgressRing() {
        window.LoadingPanel.Show();
    }

    function HideProgressRing() {
        window.LoadingPanel.Hide();
    }

    var isSelect = false;
    function hinhthuc_SelectedIndexChanged(s, e) {
        DAUTU_ID.PerformCallback();
    }
    function dautu_BeginCallback(s, e) {
        e.customArgs['hinhthuc_id'] = HINHTHUC_ID.GetValue();
    }
    function dautu_EndCallback(s, e) {
        isSelect = true;
    }
    

</script>
<div>
    <div>
        <ul class="ul-tieude">
            <li>
                <span>Thông tin khách hàng</span>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 text-right btn-span" id="demo">
        <div class="img-span" style="padding-bottom:18px"><img src="~/Content/Images/icon_mo_rong.png" /></div>
    </div>
    <div class="col-sm-12 none-padding chitiet" style="padding-bottom:15px">
        @Html.Partial("FilterView")
    </div>
</div>
<div id="HS_KHACHHANGPartial_div">
    @Html.Action("HS_KHACHHANGPartial")
</div>
<div class="col-sm-12 none-padding footer" id="HS_KHACHHANG-Popup-Shared">
    <div class="btm-toolbar">
        @Html.Partial("Footer")
    </div>
</div>

@Html.Partial("_Message")
@Html.Partial("_MessageSuccess")
@Html.Partial("PopupConfirmDelete")
@Html.Partial("LoadingPanel")
