﻿@{
    ViewBag.Title = "Bảng tổng hợp số đầu tư mới";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}
<script>
    function cbdmdautu_SelectedIndexChanged(s, e) {
        var cbdmdautu = (s.GetValue());

        if (cbdmdautu != null) {
            KhachHang.PerformCallback();
        }
    }
    function DmDautu_BeginCallback(s, e) {
        var dmDautuid = DmDauTu.GetValue();
        e.customArgs["dmDauTu"] = window.DmDauTu.GetValue();
    }
    function DmDautu_EndCallback(s, e) {
        try {
            s.SetSelectedIndex(0);
        } catch (e) {
            console.log(e);
        }
    }

    function btnSearch_Click() {
        var from = datetime.GetText();
        var to = datetime2.GetText();
        LoadingPanel.Show();

        gvSoDu.PerformCallback({
             DautuId: DmDauTu.GetValue(), FromDate: from, ToDate: to, KhachHangId: KhachHang.GetValue() 
        });
        LoadingPanel.Hide();
    }

</script>
<div>
    <div>
        <ul class="ul-tieude">
            <li>
                <span>Bảng tổng hợp số đầu tư mới</span>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 text-right btn-span" id="demo">
        <div class="img-span" style="padding-bottom:18px"><img src="~/Content/Images/icon_mo_rong.png" /></div>
    </div>
    <div class="col-sm-12 none-padding chitiet" style="padding-bottom:15px">
        @Html.Partial("FilterView")
    </div>
</div>
<div id="gvDSHD">
    @Html.Action("SoDauTuMoiPartial")
</div>
@Html.Partial("_Message")
@Html.Partial("LoadingPanel")
