﻿@using System.Drawing
@using QLQ.Core.Domain
@model QLQ.Core.Domain.HS_XEPLOAINH

<style>
.dropZoneExternal > div,
.dropZoneExternal > img
{
    position: absolute;
}
.dropZoneExternal
{
    position: relative;
    border: 1px dashed #f17f21!important;
    cursor: pointer;
}
.dropZoneExternal,
.dragZoneText
{
    width: 150px;
    height: 150px;
}
.dropZoneText
{
    width: 300px;
    height: 150px;
    color: #fff;
    background-color: #888;
}
#dropZone
{
    top: 0;
    padding: 100px 25px; 
}
.uploadControlDropZone
{
    display: none;
}
.dropZoneText,
.dragZoneText
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 20pt;
}
.dragZoneText
{
    color: #808080;
}
.dxucInlineDropZoneSys span
{
    color: #fff!important;
    font-size: 10pt;
    font-weight: normal!important;
}
.uploadControlProgressBar
{
    width: 350px!important;
}
.validationMessage
{
    padding: 0 20px;
    text-align: center;
}
#ucDragAndDrop
{
    margin-top: 10px;
}
.Note
{
    width: 500px;
}
</style>

<script type="text/javascript">
    function onUploadControlFileUploadComplete2(s, e) {
        if (e.isValid) {
            //alert("OK");
            //$("#uploadedImage").attr("src", "~/Uploads/HoSo/SoDo53.JPG");
            $("#uploadedImage").attr("src",e.callbackData);
        }
        setElementVisible("uploadedImage", e.isValid);
    }
    function onImageLoad() {
        var externalDropZone = $("#externalDropZone");
        var uploadedImage = $("#uploadedImage");
        uploadedImage.css({
            left: (externalDropZone.width() - uploadedImage.width()) / 2,
            top: (externalDropZone.height() - uploadedImage.height()) / 2
        });
        setElementVisible("dragZone", false);
    }
    function setElementVisible(elementId, visible) {
        var el = $("#" + elementId);
        if (visible)
            el.show();
        else
            el.hide();
    }
</script>
@*<div id="externalDropZone" class="dropZoneExternal">
    <div id="dragZone">
        <span class="dragZoneText">Drag an image here</span>
    </div>
    <img id="uploadedImage" src="#" alt="" style="display: none" onload="onImageLoad()" />
    <div id="dropZone" style="display: none">
        <span class="dropZoneText">Drop an image here</span>
    </div>
</div>*@


<form id="form-xeploainh">

    <div id="formXepLoaiNH">
        @Html.DevExpress().FormLayout(settings =>
        {
            settings.Name = "frmXepLoaiNH";
            settings.EncodeHtml = false;
            settings.Width = Unit.Percentage(100);
            settings.SettingsItemCaptions.HorizontalAlign = FormLayoutHorizontalAlign.Left;
            settings.AlignItemCaptionsInAllGroups = false;
            settings.RequiredMarkDisplayMode = RequiredMarkMode.None;
            settings.Items.AddGroupItem(g =>
            {
                g.Caption = @"Năm";
                g.ColCount = 5;
                g.AlignItemCaptions = true;
                g.Name = "frmGroupChungTu";
                g.Width = Unit.Percentage(100);
                g.Items.Add(m => m.NAM, item =>
                {
                    item.FieldName = "NAM";
                    item.Name = "NAM";
                    item.Caption = @"Năm";
                    item.Width = Unit.Percentage(40);
                    item.ColSpan = 2;
                    item.NestedExtensionType = FormLayoutNestedExtensionItemType.ComboBox;
                    item.NestedExtension().ComboBox(cb =>
                    {
                        cb.Properties.ValidationSettings.Display = Display.Dynamic;
                        cb.ShowModelErrors = true;
                        cb.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                        cb.Width = Unit.Percentage(100);
                        cb.Properties.DropDownStyle = DropDownStyle.DropDownList;
                        //cb.Properties.TextField = "TEN_NGANHANG";
                        //cb.Properties.ValueField = "NGANHANG_ID";
                        cb.Properties.ValueType = typeof(int);
                        cb.Properties.DataSource = ViewData["NAM"];
                    });
                });
            });
            settings.Items.AddGroupItem(g =>
            {
                g.Caption = @"File đánh giá";
                g.ColCount = 5;
                g.AlignItemCaptions = true;
                g.Name = "frmGroupChungTu2";
                g.Width = Unit.Percentage(100);
                g.Items.Add(item =>
                {
                    item.Caption = @"File đánh giá";
                    //item.FieldName = @"UPLOAD";
                    item.Name = "ctrUploadFileDanhGia";
                    item.Width = Unit.Percentage(40);
                    item.ColSpan = 2;
                    item.NestedExtensionType = FormLayoutNestedExtensionItemType.UploadControl;
                    item.NestedExtension().UploadControl(uc =>
                    {
                        uc.Name = "ctrUploadFileDanhGia";
                        uc.ShowProgressPanel = true;
                        uc.CallbackRouteValues = new { Controller = "HS_XEPLOAINH", Action = "DragAndDropImageUpload_FileDanhGia" };
                        uc.UploadMode = UploadControlUploadMode.Auto;
                        uc.AutoStartUpload = true;
                        uc.Width = 150;
                        uc.DialogTriggerID = "externalDropZone";
                        uc.AdvancedModeSettings.EnableDragAndDrop = true;
                        uc.AdvancedModeSettings.EnableFileList = false;
                        uc.AdvancedModeSettings.EnableMultiSelect = false;
                        uc.AdvancedModeSettings.ExternalDropZoneID = "externalDropZone";
                        uc.AdvancedModeSettings.DropZoneText = "";
                        uc.ValidationSettings.MaxFileSize = 4194304;
                        uc.ValidationSettings.AllowedFileExtensions = new string[] { ".jpg", ".jpeg", ".gif", ".png" };
                        uc.ValidationSettings.ErrorStyle.CssClass = "validationMessage";
                        uc.BrowseButton.Text = "Chọn..";
                        uc.Styles.DropZone.CssClass = "uploadControlDropZone";
                        uc.Styles.ProgressBar.CssClass = "uploadControlProgressBar";
                        uc.ClientSideEvents.FileUploadComplete = "ctrUpload_FileUploadComplete";

                        uc.ShowAddRemoveButtons = true;
                        uc.ShowClearFileSelectionButton = true;
                        uc.ShowUploadButton = true;
                        //uc.Size = 30;
                    });
                });
                g.Items.Add(m => m.UPLOAD, item =>
                {
                    item.Caption = @"";
                    item.FieldName = "UPLOAD";
                    item.Name = "UPLOAD";
                    item.Width = Unit.Percentage(40);
                    item.ColSpan = 2;
                    item.NestedExtensionType = FormLayoutNestedExtensionItemType.Image;
                    item.NestedExtension().Image(uc =>
                    {
                        uc.Properties.ClientInstanceName = "UPLOAD";
                        uc.Height = Unit.Pixel(100);
                    });
                });
            });

        }).GetHtml()

        @Html.HiddenFor(x => x.XEPLOAINH_ID)
    </div>
</form>

<div>
    @Html.DevExpress().FormLayout(s =>
    {
        s.Name = "FormBotImage";
        s.EncodeHtml = false;
        s.Width = Unit.Percentage(100);
        var group = s.Items.AddGroupItem(gi =>
        {
            gi.ShowCaption = DefaultBoolean.False;
            gi.HorizontalAlign = FormLayoutHorizontalAlign.Right;
            gi.ColCount = 5;
            gi.Width = Unit.Percentage(100);
            //   gi.Height = Unit.Percentage(100);
            gi.GroupBoxDecoration = GroupBoxDecoration.None;
        });

        group.Items.Add(i =>
        {
            i.ShowCaption = DefaultBoolean.False;
            i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
            i.Width = Unit.Pixel(130);
            i.NestedExtension().Button(s2 =>
            {
                s2.Width = Unit.Percentage(100);
                s2.Name = "btnLuu";
                s2.Text = "Lưu";
                s2.ControlStyle.Font.Bold = true;
                s2.Images.Image.Url = Url.Content("~/Content/Images/Plus-16.png");
                s2.ClientSideEvents.Click = "function(s, e) { btnLuu_Click();Popup_XepLoaiNH.Hide(); }";
            });
        });

        group.Items.Add(i =>
        {
            i.ShowCaption = DefaultBoolean.False;
            i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
            i.Width = Unit.Pixel(130);
            i.NestedExtension().Button(s2 =>
            {
                s2.Width = Unit.Percentage(100);
                s2.Name = "btnHuy";
                s2.Text = "Hủy";
                s2.ControlStyle.Font.Bold = true;
                s2.Images.Image.Url = Url.Content("~/Content/Images/Delete-16.png");
                s2.ClientSideEvents.Click = "function(s, e) { Popup_XepLoaiNH.Hide(); }";
            });
        });

    }).GetHtml()
</div>