﻿


@model System.Collections.IEnumerable
@{
    ViewBag.Title = "Xếp loại ngân hàng";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}

<style>
    /*style lại popup edit gridview*/
    .dxgvPopupEditForm_EIS .dxeEditArea_EIS.dxeEditAreaSys {
        height: 18px;
    }

    .dxgvPopupEditForm_EIS .dxflHALSys.dxflVATSys.dxflCaptionCell_EIS.dxflCaptionCellSys {
        vertical-align: middle;
    }

    .dxgvPopupEditForm_EIS .dxflHARSys.dxflGroupCell_EIS {
        height: 30px;
    }
    /*--------------*/
    /*style image table*/
    #gvXepLoaiNH_DXMainTable .dxgv.dx-ac img {
        height: 100px;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
    });
    function OnEndCallback(s, e) {
       
    }
    function OnBeginCallback(s, e) {

    }
    function onTokensChanged(s, e) {
        //thay đổi giá trị txt_timkiem tự động gọi hàm Search()
        Search();
    }
    function Search() {
        var timkiem = "";
        //gán chuỗi tìm kiếm khi chuỗi có giá trị
        if (window.txtMa.GetValue() != null) {
            timkiem =window.txtMa.GetValue();
        }
        gvXepLoaiNH.PerformCallback({ timkiem: timkiem });
    }
    function btnAdd_Click(s, e) {
        ShowProgressRing();
        $.ajax({
            type: "POST",
            url: '@Url.Action("PopupSaveData", "HS_XEPLOAINH")',
            data: {
            },
            success: function (result) {
                HideProgressRing();
                $("#popup_addnew").html(result);
            },
            failure: function () {
                HideProgressRing();
                showMessage(false, "Có lỗi xảy ra trong quá trình xử lý dữ liệu!");
            }
        });
    }

    function btnEdit_Click() {
        var index = gvXepLoaiNH.GetFocusedRowIndex();
        var key = gvXepLoaiNH.GetRowKey(index);
        ShowProgressRing();
        $.ajax({
            type: "POST",
            url: '@Url.Action("SuaXepLoaiNH", "HS_XEPLOAINH")',
            data: {
                xeploainhId: key
            },
            success: function (result) {
                HideProgressRing();
                if (result == "Fail") {
                    showMessage(false, "Có lỗi xảy ra trong quá trình xử lý dữ liệu!");
                    return;
                }
                $("#popup_addnew").html(result);
            },
            failure: function () {
                HideProgressRing();
                showMessage(false, "Có lỗi xảy ra trong quá trình xử lý dữ liệu!");
            }
        });
    }
   

    function ctrUpload_FileUploadComplete(s, e) {
        if (e.isValid) {
            UPLOAD.SetImageUrl("../../" + e.callbackData);

            //var fileName = e.callbackData.split('/').pop();
            //$("#DLNH_hidden").val(fileName);
        }
    }

    function btnLuu_Click() {
        var upload = UPLOAD.GetValue();
        if (upload != null) {
            upload = upload.split('/').pop();
        }
        var formHoSo = $('#form-xeploainh');
        if (formHoSo.valid()) {
            //ShowprogressRing();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '@Url.Action("LuuXepLoaiNH", "HS_XEPLOAINH")',
                data: formHoSo.serialize() + "&upload=" + upload,
                success: function (data) {
                    //HideprogressRing();
                    if (data == "Fail") {
                        showMessage(false, "Có lỗi xảy ra trong quá trình lưu dữ liệu");
                    } else {
                        showMessage(true, "Lưu thành công");
                        $('#XepLoaiNHPartial_div').html(data);
                    }
                },
                failure: function () {
                    //HideprogressRing();
                    showMessage(false, "Có lỗi xảy ra trong quá trình lưu dữ liệu");
                }
            });
        }
    }
       
    function btnDelete_Click(s, e) {
        var index = gvXepLoaiNH.GetFocusedRowIndex();
        if (index == null || index == -1) {
            showMessage(false, "vui lòng chọn 1 bản ghi !");
            return;
        }
        $("#popup_Delete_Confirm").val('ConfirmDeleteHOSO');
        window.popup_Delete.Show();
    }

    function ConfirmDeleteHOSO() {
        var index = gvXepLoaiNH.GetFocusedRowIndex();
        gvXepLoaiNH.DeleteRow(index);
    }

    function showMessage(isSucess, text) {
        if (isSucess) {
            $('#noidung_success').text(text.toString());
            window.Message_Success.Show();
            setTimeout(function () { Message_Success.Hide(); }, 2000);
        }
        else {
            $('#noidung').text(text.toString());
            window.Message.Show();
        }
    }
</script>



@using (Html.BeginForm())
{
    <div>
        <div>
            <ul class="ul-tieude">
                <li>
                    <span>Xếp loại ngân hàng</span>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 text-right btn-span" id="demo">
                <div class="img-span" style="padding-bottom:18px"><img src="~/Content/Images/icon_mo_rong.png" /></div>
            </div>
        <div class="col-sm-12 none-padding chitiet" style="padding-bottom:15px">
            @Html.Partial("FilterView")
        </div>
    </div>
    <div id="XepLoaiNHPartial_div" style="align-content:center;">
        @Html.Action("HS_XEPLOAINHPartial")
    </div>
    <div class="col-sm-12 none-padding footer">
        <div class="btm-toolbar">
            @Html.Partial("Footer")
        </div>
    </div>
    <div id="popup_addnew"></div>
}

@Html.Partial("_Message")
@Html.Partial("_MessageSuccess")
@Html.Partial("PopupConfirmDelete")
@Html.Partial("LoadingPanel")