﻿@{
    ViewBag.Title = "Báo cáo kế hoạch đầu tư";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}
<style type="text/css">
    #btnSearch, #btnPrint, #btnBack {
        background: #3B8AC9 !important;
        font-weight: bold !important;
        color: white !important;
    }
</style>
<script>
    var selectedId = 0;
    function ThoiGian_OnInit(s, e) {
        var calendar = s.GetCalendar();
        calendar.owner = s;
        calendar.SetVisible(false);
    }

    function ThoiGian_OnDropDown(s, e) {
        var calendar = s.GetCalendar();
        var fastNav = calendar.fastNavigation;
        fastNav.activeView = calendar.GetView(0, 0);
        fastNav.Prepare();
        fastNav.GetPopup().popupVerticalAlign = "Below";
        fastNav.GetPopup().ShowAtElement(s.GetMainElement())
        fastNav.OnOkClick = function () {
            var parentDateEdit = this.calendar.owner;
            var currentDate = new Date(fastNav.activeYear, fastNav.activeMonth, 1);
            parentDateEdit.SetDate(currentDate);
            parentDateEdit.HideDropDown();
        }
        fastNav.OnCancelClick = function () {
            var parentDateEdit = this.calendar.owner;
            parentDateEdit.HideDropDown();
        }
    }
    function btnPrint_Click() {
        LoadingPanel.Show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("fn_InAn", "BC_KeHoachDauTu")',
            data: { id: selectedId }
        }).done(function (result) {
            LoadingPanel.Hide();
            if (result == null || result == '') {
                showMessage(false, "Có lỗi xảy ra trong quá trình lấy dữ liệu!");
            } else {
                $("#report").html(result);
            }
        });
    }
    function showMessage(isSucess, text) {
        if (isSucess) {
            $('#noidung_success').text(text.toString());
            window.Message_Success.Show();
            setTimeout(function () { Message_Success.Hide(); }, 2000);
        } else {
            $('#noidung').text(text.toString());
            window.Message.Show();
        }
    }
    function btnSearch_Click() {
        LoadingPanel.Show();
        $.ajax({
            type: "GET",
            url: '@Url.Action("Search", "BC_KeHoachDauTu")',
            data: {
                ThoiGian: ThoiGian.GetText()
            },
            success: function (result) {
                LoadingPanel.Hide();
                $('#bcKeHoachDauTuContainer').html(result);
            },
            failure: function () { showMessage(false, "Có lỗi xảy ra trong quá trình lấy dữ liệu!"); }
        });
    }
    function gvKeHoachDauTu_EndCallBack(s, e) {
        if (s.cpMessage != null) {
            showMessage(true, s.cpMessage);
            delete s.cpMessage;
        }
    }
    function btn_sua_Click() {
        gvKeHoachDauTu.StartEditRow(gvKeHoachDauTu.GetFocusedRowIndex());
    }
    function gvKeHoachDauTu_FocusedRowChanged() {
        gvKeHoachDauTu.GetRowValues(gvKeHoachDauTu.GetFocusedRowIndex(), 'Id', function (value) {
            selectedId = value;
        });
    }
</script>
<div>
    <div>
        <ul class="ul-tieude">
            <li>
                <span>@ViewBag.Title</span>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 text-right btn-span" id="demo">
        <div class="img-span" style="padding-bottom:18px"><img src="~/Content/Images/icon_mo_rong.png" /></div>
    </div>
    <div class="col-sm-12 none-padding chitiet" style="padding-bottom:15px">
        @Html.DevExpress().FormLayout(s =>
        {
            s.Name = "FormSearch";
            s.UseDefaultPaddings = false;
            s.AlignItemCaptions = true;
            s.Items.AddGroupItem(g =>
            {
                g.ShowCaption = DefaultBoolean.False;
                g.HorizontalAlign = FormLayoutHorizontalAlign.Left;
                g.ColCount = 2;
                g.Width = Unit.Percentage(50);
                g.GroupBoxDecoration = GroupBoxDecoration.None;
                g.Items.Add(i =>
                {
                    i.HorizontalAlign = FormLayoutHorizontalAlign.Center;
                    i.Name = "ThoiGian";
                    i.Height = 30;
                    i.Caption = "Tháng năm";
                    i.CaptionSettings.VerticalAlign = FormLayoutVerticalAlign.Middle;
                    i.NestedExtension().DateEdit(ns =>
                    {
                        ns.Name = "ThoiGian";
                        ns.Properties.DisplayFormatInEditMode = true;
                        ns.Properties.DisplayFormatString = "MM/yyyy";
                        ns.Properties.EditFormatString = "MM/yyyy";
                        ns.Properties.ClientSideEvents.DropDown = "ThoiGian_OnDropDown";
                        ns.Properties.ClientSideEvents.Init = "ThoiGian_OnInit";
                        ns.Properties.CalendarProperties.EnableYearNavigation = true;
                    });
                });
                g.Items.Add(i =>
                {
                    i.ShowCaption = DefaultBoolean.False;
                    i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
                    i.Name = "buttonSearch";
                    i.Height = 30;
                    i.NestedExtension().Button(ns =>
                    {
                        ns.Width = Unit.Pixel(120);
                        ns.Images.Image.IconID = IconID.ActionsSearch16x16devav;
                        ns.Text = "Tìm kiếm";
                        ns.Height = 30;
                        ns.ClientSideEvents.Click = "btnSearch_Click";
                        ns.ControlStyle.Font.Size = 13;
                    });
                });
            });


        }).GetHtml()
    </div>
</div>
<div id="bcKeHoachDauTuContainer">
    @Html.Action("BC_KeHoachDauTuPartial")
</div>
<div class="col-sm-12 none-padding footer">
    <div class="btm-toolbar">
        @Html.DevExpress().FormLayout(s =>
        {
            s.Name = "FormBot";
            s.EncodeHtml = false;
            s.Width = Unit.Percentage(100); ;
            s.Items.AddGroupItem(gi =>
            {
                gi.ShowCaption = DefaultBoolean.False;
                gi.HorizontalAlign = FormLayoutHorizontalAlign.Right;
                gi.ColCount = 2;
                gi.Width = Unit.Percentage(100);
                gi.GroupBoxDecoration = GroupBoxDecoration.None;
                gi.Items.Add(i =>
                {
                    i.ShowCaption = DefaultBoolean.False;
                    i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
                    i.Name = "btn_sua";
                    i.Height = 30;
                    i.NestedExtension().Button(ns =>
                    {
                        ns.Width = Unit.Pixel(120);
                        ns.Text = "Sửa";
                        ns.Height = 30;
                        ns.Images.Image.Url = Url.Content("~/Content/Images/in.png");
                        ns.ClientSideEvents.Click = "btn_sua_Click";
                    });
                });
                gi.Items.Add(i =>
                {
                    i.ShowCaption = DefaultBoolean.False;
                    i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
                    i.Name = "btnPrint";
                    i.Height = 30;
                    i.NestedExtension().Button(ns =>
                    {
                        ns.Width = Unit.Pixel(120);
                        ns.Text = "In Ấn";
                        ns.Height = 30;
                        ns.Images.Image.Url = Url.Content("~/Content/Images/in.png");
                        ns.ClientSideEvents.Click = "btnPrint_Click";
                    });
                });
            });
        }).GetHtml()
    </div>
</div>
@Html.Partial("LoadingPanel")
@Html.Partial("_Message")
@Html.Partial("_MessageSuccess")
<div id="report"></div>