﻿@using QLQ.Core.Domain


@{
    ViewBag.Title = "Danh sách người dùng hệ thống";
    Layout = "~/Views/Shared/_mainLayout.cshtml";


    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

}
@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}
<style>
    #gvDVQL_DXMainTable {
        border-right: 1px solid #c0c0c0;
        border-bottom: 1px solid #c0c0c0;
    }

    .Font-weight-bold {
        font-weight: bold !important;
    }

    .Read-Only {
        background: azure;
        color: gray;
        font-weight: bold !important;
    }

    .formLayout {
        max-width: 1300px;
        margin: auto;
    }

    .checkboxclass {
        color: blue;
        width: 16px;
        height: 16px;
    }
</style>
<script type="text/javascript">
    var IsEnAble = false;
    var DVQL_Focus = "";
    var userid = null;
    $(document).ready(function () {
        $("#editMode").change(function () {
            window.gvDSND.PerformCallback({ editMode: $("#editMode").val() });
        });
    });

    function Filter() {
        window.gvDSND.PerformCallback();
    }

    function OnInit() {
        AdjustSize();
        window.ASPxClientUtils.AttachEventToElement(window, "resize", function () {
            AdjustSize();
        });
    }

    function OnEndCallback() {
        gvDSND_FocusedRowChanged();
        AdjustSize();
    }

    function AdjustSize() {
        var height = document.documentElement.clientHeight * 0.6;
        window.gvDSND.SetHeight(height);
    }

    function OnTextBoxKeyDown(s, e) {
        if (e.htmlEvent.keyCode == 13)
            Filter();
    }

    function gvDSND_BeginCallBack(s, e) {
        e.customArgs["TenTK"] = window.str_TimKiem.GetValue();
        e.customArgs["IsEnabled"] = IsEnAble ? "false" : "true";
        e.customArgs["DVQL_Focus"] = DVQL_Focus;
    }

    function gvDVQLcbSelectPage_Click(s, e) {

        if (s.GetChecked()) {
            gvDVQL.SelectAllRowsOnPage(true);
        } else {
            gvDVQL.SelectAllRowsOnPage(false);
        }
    }

    function gvDVQL_BeginCallback(s, e) {
        e.customArgs["IsEnabled"] = IsEnAble ? "true" : "false";
        e.customArgs["DVQL_Focus"] = DVQL_Focus;
    }

    function UpdateStatus(bool) {
        IsEnAble = bool;
        gvDSND.PerformCallback();
        frm_NguoiDung.SetEnabled(IsEnAble);
        formLayoutFilter.SetEnabled(!IsEnAble);
        //gvDVQL.PerformCallback();
        gvDSND_FocusedRowChanged();
    }

    function btn_SuaUser_Click(s, e) {
        var index = window.gvDSND.GetFocusedRowIndex();
        if (index == null || index == -1) {
            showMessage(false, "vui lòng chọn User!");
            return;
        }
        UpdateStatus(true);
        var index = window.gvDSND.GetFocusedRowIndex();
        if (index == null || index == -1) {
            showMessage(false, "vui lòng chọn User!");
            return;
        }
        var position = index - gvDSND.cpVisibleStartIndex;
        var userid = window.gvDSND.cpuserids[position];
        ShowprogressRing();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ThongTinNguoiDungPartial", "QuanLyNguoiDung")',
            data: { userId: userid },
            success: function (data) {
                HideprogressRing();
                $("#NguoiDungContent").html(data);
                UpdateStatus(true);
                //MA_DVQL.Focus();
                //if (gvDVQL != null) {
                //    var listitem = gvDVQL.cpDFSelectedIndex;

                //    for (i = 0; i < listitem.length; ++i) {
                //        gvDVQL.SelectRowOnPage(listitem[i]);
                //    }
                //}
            }
        });
    }

    function btnKetThuc_PhanQuyen_Click(s, e) {
        window.location.href = '@Url.Action("Index", "Home")';
    }

    function PhanQuyen_Click(s, e) {
        CapNhatDuLieuNguoiDung(true);
    }

    function CapNhatDuLieuNguoiDung() {

        var list_role = $("#hidden_Roles").val();
        var MA_CO_QUAN = document.getElementById("MA_CQ_BHXH_I").value;
        var TEN_CO_QUAN = document.getElementById("TEN_CQ_BHXH_I").value;
        var NAME = document.getElementById("FULL_NAME_I").value;
        if ($("#ACTIVE").is(":checked"))
            var active = 1;
        else
            var active = 1;
        var formNewUser = $("#form_createNewUser");
        if (formNewUser.valid()) {
            ShowprogressRing();
            console.log(formNewUser.serialize());
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '@Url.Action("SaveUser", "QuanLyNguoiDung")',
                data: { accountId: userid, maCoQuanBhxh: MA_CO_QUAN, tenCoQuanBhxh: TEN_CO_QUAN, fullName: NAME, active: active, role: list_role },
                success: function (data) {
                    HideprogressRing();
                    switch (data) {
                        case "Success":
                            showMessage(true, "Cập nhật thành công!");
                            UpdateStatus(false);
                            return;
                        case "Exception":
                            showMessage(false, "Có lỗi trong quá trình xử lý dữ liệu");
                            return;
                        case "NotValid":
                            showMessage(false, "Vui lòng nhập chính xác thông tin người dùng");
                            return;
                        default:
                            showMessage(false, data);
                            return;
                    }
                },
                failure: function () {
                    HideprogressRing();
                    showMessage(false, "Lỗi trong quá trình xử lý");
                }
            });
        }
    }

    function CreateNewUser_Click(s, e) {
        CapNhatDuLieuNguoiDung();
    }

    function ShowprogressRing() {
        LoadingPanel.Show();
    }

    function HideprogressRing() {
        LoadingPanel.Hide();
    }

    function showMessage(isSucess, text) {
        console.log(("Kết quả thông báo", text));
        if (isSucess) {
            $('#noidung_success').text(text.toString());
            window.Message_Success.Show();
            setTimeout(function () { Message_Success.Hide(); }, 2000);
        } else {
            $('#noidung').text(text.toString());
            window.Message.Show();
        }

    }

    function FullPermissionCB_CheckedChanged(s, e) {

        if (s.GetChecked()) {
            window.selectedRoles.SelectAll();
            StoreRole();

        } else {
            window.selectedRoles.UnselectAll();
            StoreRole();
        }
    }

    function frm_NguoiDung_Init() {
        frm_NguoiDung.SetEnabled(IsEnAble);
    }

    function bt_HuyUpdateND_Click(s, e) {
        UpdateStatus(false);
    }

    function gvDSND_FocusedRowChanged() {
        if (IsEnAble) return;
        var index = window.gvDSND.GetFocusedRowIndex();
        if (index == null || index == -1) {
            return;
        }
        var position = index - gvDSND.cpVisibleStartIndex;
        console.log(position + "-" + index);
        userid = window.gvDSND.cpuserids[position];
        if (userid == null) return;
        ShowprogressRing();
        $.ajax({
            type: "POST",
            data: { userId: userid },
            url: '@Url.Action("ThongTinNguoiDungPartial", "QuanLyNguoiDung")'
        }).done(function (data) {
            HideprogressRing();
            $("#NguoiDungContent").html(data);

        });
    }

    function StoreRole() {
        var roleChecked = window.selectedRoles.GetSelectedValues();
        $("#hidden_Roles").val(roleChecked);
        //var allrolecount = document.getElementById("hdnRole_QLPQ").value;
        //console.log(roleChecked.length);
        //console.log(allrolecount);
        //FullPermissionCB.SetChecked(roleChecked.length == allrolecount);
    }

    function OnSelectionChanged(s, e) {
        window.gvDVQLcbSelectPage.SetChecked(s.GetSelectedRowCount() == s.cpVisibleRowCount);
        if (IsEnAble == false) e.cancel = true;
        s.GetSelectedFieldValues("MA_DVQL;TEN_DVQL", GetSelectedFieldValuesCallback);
    }

    function gvDVQL_CustomButtonClick(s, e) {
        console.log(IsEnAble);
        if (IsEnAble == false) e.cancel = true;
    }

    function DoubleClick(s, e) {
        var id = s.GetValue();
        window.SelectedRows.RemoveItem(s.GetSelectedIndex());
        window.gvDVQL.UnselectRowsByKey(id);
    }

    function BackPage() {
        window.location.href = '@Url.Action("Index", "QuanLyNguoiDung")';
    }

    function DVQLInit(s, e) {
        var height = window.gvDVQL.GetHeight();
        window.SelectedRows.SetHeight(height);
    }

    function ChuyenhuongAddRolePms() {
        window.location.href = '@Url.Action("Index", "RolePermission")';
    }

    //function Dvql_KeyDown(s, e) {

    //    if (e.htmlEvent.keyCode == 13) {
    //        if ($("#hidden_ID").val() != 0) {
    //            Ten.Focus();
    //        }
    //        else {
    //            UserName.Focus();

    //        }
    //    }
    //}
    //function UserName_KeyDown(s, e) {
    //    if (e.htmlEvent.keyCode == 13) {
    //        Ten.Focus();
    //    }
    //}
    function Ten_KeyDown(s, e) {
        if (e.htmlEvent.keyCode == 13) {
            Password.Focus();
        }
    }

    function Password_KeyDown(s, e) {
        if (e.htmlEvent.keyCode == 13) {
            PasswordRe.Focus();
        }
    }

    function PasswordRe_KeyDown(s, e) {
        if (e.htmlEvent.keyCode == 13) {
            bt_CapNhat.Focus();
            //Email.Focus();
        }
    }

    function Email_KeyDown(s, e) {
        if (e.htmlEvent.keyCode == 13) {
            SDT.Focus();
        }
    }

    function SDT_KeyDown(s, e) {
        if (e.htmlEvent.keyCode == 13) {
            SoCMND.Focus();
        }
    }

    function SoCMND_KeyDown(s, e) {
        if (e.htmlEvent.keyCode == 13) {
            DiaChi.Focus();
        }
    }

    function DiaChi_KeyDown(s, e) {
        if (e.htmlEvent.keyCode == 13) {
            selectedRoles.Focus();
            // VaiTro_ID.Focus();

        }
    }

    function VaiTro_ID_KeyDown(s, e) {
        if (e.htmlEvent.keyCode == 13) {
            bt_CapNhat.Focus();
        }
    }

    function ucTextChanged(s, e) {

        // window.ctrlUpload.Upload();
        var x = s.GetText();

        if (x !== "") {
            console.log(x);
            if (x.indexOf(".xlsx") < 0 && x.indexOf(".xls") < 0) {

                s.ClearText();
                showMessage(false, "Mời chọn văn bản định dạng .xls hoặc .xlsx!");
            } else {
                console.log(x);
                s.Upload();
            }

        }
    }

    function onFileUploadComplete(s, e) {
        console.log(e.callbackData);
        HideprogressRing();
        if (e.callbackData) {
            var result = e.callbackData;
            if (result !== "OK") {
                showMessage(false, "Mời chọn văn bản đúng định dạng!");
            } else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PopupSheetSelectionPartial", "QuanLyNguoiDung")',
                    success: function (data) {
                        $('#divPopupSheetSelection').html(data);
                    }
                });
            }
        } else {

            showMessage(false, "Mời chọn văn bản đúng định dạng!");
            setTimeout(function () { window.popup_message.Hide(); }, 3000);
        }
    }

    function clickChon() {

        window.popupSheetSelection.Hide();
        ShowprogressRing();
        var stt = window.cbbSheetNames.GetValue();
        $.ajax({
            type: "POST",
            url: '@Url.Action("chonFileExcel", "QuanLyNguoiDung")',
            data: { 'stt': stt },
            success: function (data) {
                HideprogressRing();
                if (data == "Success") {
                    Filter();
                    return;
                } else {
                    showMessage(false, data);
                    return;

                }
            }
        });
    }

    function gvDSND_OnContextMenu(s, e) {
        if (e.objectType != "row") {
            try {
                var menuItemResetPassword = e.menu.GetItemByName("ResetPassword");
                var menuItemUyQuyen = e.menu.GetItemByName("UyQuyen");
                menuItemResetPassword.SetVisible(false);
                menuItemUyQuyen.SetVisible(false);
            } catch (e) {
            }
        }
    }

    function gvDSND_MenuItemClicked(s, e) {
        if (e.elementIndex < -1) {
            showMessage(false, "Vui lòng chọn giá trị!");
            return;
        }
        if (e.item.name == "ResetPassword") {
            var index = window.gvDSND.GetFocusedRowIndex();
            if (index == null || index == -1) {
                return;
            }
            var position = index - gvDSND.cpVisibleStartIndex;
            var userid = window.gvDSND.cpuserids[position];
            ShowprogressRing();
            $.ajax({
                type: "POST",
                data: { UserID: userid },
                url: '@Url.Action("ResetPassWord", "QuanLyNguoiDung")',
                success: function (data) {
                    HideprogressRing();;
                    if (data == "Success") {
                        showMessage(true, "Cập nhật thành công!");
                    } else {
                        showMessage(false, "Cập nhật thất bại");
                    }

                }
            });
        }
        if (e.item.name == "UyQuyen") {
            var index = window.gvDSND.GetFocusedRowIndex();
            if (index == null || index == -1) {
                return;
            }
            var position = index - gvDSND.cpVisibleStartIndex;
            var userid = window.gvDSND.cpuserids[position];
            var userUyQuyenId = ComboBoxUyQuyenUser.GetValue();
            if (userUyQuyenId == null || userUyQuyenId == "") {
                showMessage(false, "Vui lòng chọn User ủy quyền quản lý");
                return;
            }
            ShowprogressRing();
            $.ajax({
                type: "POST",
                data: {
                    UserID: userid,
                    userUyQuyenId: userUyQuyenId
                },
                url: '@Url.Action("UyQuyen", "QuanLyNguoiDung")',
                success: function (data) {
                    HideprogressRing();;
                    if (data == "Success") {
                        gvDSND.PerformCallback();
                        showMessage(true, "Cập nhật thành công!");
                    } else if (data == "VuotCap") {
                        showMessage(false, "Không thể ủy quyền vượt cấp!");
                    } else {
                        showMessage(false, "Cập nhật thất bại");
                    }
                }
            });
        }
    }
</script>
@using (Html.BeginForm())
{
    <div>
        <div>
            <ul class="ul-tieude">
                <li>
                    <span>Người dùng hệ thống</span>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 text-right btn-span" id="demo">
                <div class="img-span" style="padding-bottom:18px"><img src="~/Content/Images/icon_mo_rong.png" /></div>
            </div>
        <div class="col-sm-12 none-padding chitiet" style="padding-bottom:15px">
            @Html.Partial("FilterView")
        </div>
    </div>
    <table>
        <tr>
            <td style="width: 40%; vertical-align: top">
                @Html.Partial("DS_NguoiDungPartial");
            </td>
            <td style="width: 69%; vertical-align: top">
                <div id="NguoiDungContent">
                    @Html.Partial("ThongTinNguoiDungPartial", new QLQ_ACCOUNT());
                </div>
            </td>
        </tr>
    </table>
        <div id="divPopupSheetSelection" style="width: 99%"></div>
        @*<div class="col-sm-12 none-padding footer">
                <div class="btm-toolbar">
                    @Html.Partial("Footer")
                </div>
            </div>*@
}
@*@Html.DevExpress().RoundPanel(settings =>
           {
               settings.Name = "roundPanel";
               settings.AllowCollapsingByHeaderClick = true;

               settings.ShowCollapseButton = true;
               settings.EnableAnimation = true;
               settings.Width = Unit.Percentage(98);
               settings.HeaderText = "NGƯỜI DÙNG HỆ THỐNG";
               settings.SetContent(() => Html.RenderPartial("FilterView"));
           }).GetHtml()
    <table>
        <tr>
            <td style="width: 40%; vertical-align: top">
                @Html.Partial("DS_NguoiDungPartial");
            </td>
            <td style="width: 69%; vertical-align: top">
                <div id="NguoiDungContent">
                    @Html.Partial("ThongTinNguoiDungPartial", new QLQ_ACCOUNT());
                </div>
            </td>
        </tr>
    </table>
    <div id="divPopupSheetSelection" style="width: 99%"></div>*@
@Html.Partial("_Message")
@Html.Partial("_MessageSuccess")
@Html.Partial("PopupConfirmDelete")
@Html.Partial("LoadingPanel")