﻿@using System.Diagnostics
@model QLQ.Core.Domain.QLQ_ACCOUNT
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Debug.Assert(Request.RequestContext.HttpContext.Session != null, "Request.RequestContext.HttpContext.Session != null");
    bool ShowPhamVi = @ViewBag.ShowPhamVi == null ? true : Convert.ToBoolean(@ViewBag.ShowPhamVi);
}

@using (Ajax.BeginForm(null, null, FormMethod.Post, new AjaxOptions() {},
    new {@id = "form_createNewUser"}))
{
    <div style="width: 100%; margin: 0 auto">
    @Html.DevExpress().FormLayout(settings =>
{
    settings.Name = "frm_NguoiDung";
    settings.EncodeHtml = false;
    settings.RequiredMarkDisplayMode = RequiredMarkMode.None;
    settings.Width = Unit.Percentage(98);
    settings.ClientSideEvents.Init = "frm_NguoiDung_Init";
    settings.Items.AddGroupItem(g =>
    {
        g.Caption = "Thông tin người dùng";
        g.ColCount = 2;
        g.Items.Add(m => m.MA_CQ_BHXH, item =>
        {
            item.Caption = @"Mã cơ quan BHXH <span style='color:red;'>*</span>";
            item.ColSpan = 2;
            item.FieldName = @"MA_CQ_BHXH";
            item.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
            item.NestedExtension().TextBox(x =>
            {
                x.Width = Unit.Percentage(100);
                x.ShowModelErrors = true;
                x.Properties.ClientSideEvents.KeyDown = "Ten_KeyDown";
                x.Properties.ValidationSettings.Display = Display.Dynamic;
                x.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
            });
        });
        g.Items.Add(m => m.TEN_CQ_BHXH, item =>
        {
            item.Caption = @"Tên quan BHXH <span style='color:red;'>*</span>";
            item.ColSpan = 2;
            item.FieldName = @"TEN_CQ_BHXH";
            item.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
            item.NestedExtension().TextBox(x =>
            {
                x.Width = Unit.Percentage(100);
                x.ShowModelErrors = true;
                x.Properties.ClientSideEvents.KeyDown = "Ten_KeyDown";
                x.Properties.ValidationSettings.Display = Display.Dynamic;
                x.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
            });
        });
        g.Items.Add(m => m.FULL_NAME, item =>
        {
            item.Caption = @"Họ vào tên <span style='color:red;'>*</span>";
            item.ColSpan = 2;
            item.FieldName = @"FULL_NAME";
            item.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
            item.NestedExtension().TextBox(x =>
            {
                x.Width = Unit.Percentage(100);
                x.ShowModelErrors = true;
                x.Properties.ClientSideEvents.KeyDown = "Ten_KeyDown";
                x.Properties.ValidationSettings.Display = Display.Dynamic;
                x.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
            });
        });
        g.Items.Add(m => m.ACTIVE, item =>
        {
            item.ColSpan = 1;
            item.Caption = @"Kích hoạt";
            item.FieldName = @"ACTIVE";
            item.NestedExtensionType = FormLayoutNestedExtensionItemType.CheckBox;
        });
    });
    settings.Items.AddGroupItem(g => {
        g.Caption = "Phân quyền người dùng";
        g.ColCount = 1;
        g.Items.Add(item =>
        {
            item.ColSpan = 1;
            item.Caption = @"Quyền truy cập";
            item.Width = Unit.Percentage(100);
            item.FieldName = @"Roles";
            item.SetNestedContent(() =>
            {
                ViewContext.Writer.Write("<div id ='RolesContent'>");
                Html.RenderPartial("RolesPartial");
                ViewContext.Writer.Write("</div>");
            });
        });        
    });
    settings.Items.AddGroupItem(x =>
    {
        x.ColCount = 2;
        x.Name = "bt_group";
        x.HorizontalAlign = FormLayoutHorizontalAlign.Center;
        x.GroupBoxDecoration = GroupBoxDecoration.None;
        x.Items.Add(item =>
        {
            item.NestedExtensionType = FormLayoutNestedExtensionItemType.Button;
            item.HorizontalAlign = FormLayoutHorizontalAlign.Right;
            item.Caption = @"";
            item.NestedExtension().Button(s =>
            {
                // s.UseSubmitBehavior = true;
                s.ClientSideEvents.Click = "CreateNewUser_Click";
                s.ControlStyle.CssClass = "button";
                s.Name = "bt_CapNhat";
                s.Text = "Cập nhật";
                s.Width = Unit.Pixel(120);
                s.Images.Image.Url = Url.Content("~/Content/Images/Save-16.png");
            });
        });
        x.Items.Add(item =>
        {
            item.NestedExtensionType = FormLayoutNestedExtensionItemType.Button;
            item.HorizontalAlign = FormLayoutHorizontalAlign.Left;
            item.Caption = @" ";
            item.NestedExtension().Button(s =>
            {
                s.Name = "bt_HuyUpdateND";
                s.Text = "Hủy";
                s.ClientSideEvents.Click = "bt_HuyUpdateND_Click";
                s.Width = Unit.Pixel(120);
                // s.ControlStyle.CssClass = "button";
                s.Images.Image.Url = Url.Content("~/Content/Images/Refresh-16.png");
            });
        });
    });

}).Bind(Model).GetHtml()

    </div>
    @Html.HiddenFor(x => x.ACCOUNT_ID, new {id = "hidden_ID"})
    <input type="hidden" id="hidden_Roles" />
    @*@Html.HiddenFor(x => x.NguoiDungId)
    @Html.HiddenFor(x => x.IsAdmin)
    @Html.HiddenFor(x => x.isUpdate, new {id = "hidden_IsUpdate"})
    @Html.HiddenFor(x => x.PHAM_VI_DVQL, new { id = "hidden_PhamViDvql" })*@
    <input type="hidden" id="hdnRole_QLPQ" />
}

