﻿@{
    ViewBag.Title = "Danh mục kỳ hạn";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#editMode").change(function () {
            GridKYHAN.PerformCallback({ editMode: $("#editMode").val() });
        });
    });
    function onTokensChanged(s, e) {
        //thay đổi giá trị txt_timkiem tự động gọi hàm Search()
        Search();
    }
    function Search() {
        var timkiem = "";
        //gán chuỗi tìm kiếm khi chuỗi có giá trị
        if (window.txt_timkiem.GetValue() != null) {
            timkiem = window.txt_timkiem.GetValue();
        }
        gvKyHan.PerformCallback({ timkiem: timkiem });
    }

    function gvKyHan_CallbackError(s, e) {
        console.log(e.message);
    };

    function OnComboBoxKeyDown(s, e) {
        //hành động thì ấn backspace hoặc enter
        if (e.htmlEvent.keyCode == 46)
            s.SetSelectedIndex(-1);
        if (e.htmlEvent.keyCode == 13)
            Search();
    }

    function OnNewClick(s, e) {
        //mở form thêm mới
        gvKyHan.AddNewRow();
    }
    function OnEditClick(s, e) {
        var index = gvKyHan.GetFocusedRowIndex();
        //kiểm tra chọn bản ghi trước khi mở form sửa
        if (index == null || index == -1) {
            showMessage(false, "vui lòng chọn 1 bản ghi !");
            return;
        }
        gvKyHan.StartEditRow(index);
    }
    function OnDeleteClick(s, e) {
        var index = gvKyHan.GetFocusedRowIndex();
        //kiểm tra chọn bản ghi trước khi xóa
        if (index == null || index == -1) {
            showMessage(false, "vui lòng chọn 1 bản ghi !");
            return;
        }
        $("#popup_Delete_Confirm").val('ConfirmDeleteDM_KYHAN');
        window.popup_Delete.Show();
    }
    function ConfirmDeleteDM_KYHAN() {
        //gọi hàm xóa bản ghi
        var index = gvKyHan.GetFocusedRowIndex();
        gvKyHan.DeleteRow(index);
    }
    function showMessage(isSucess, text) {
        if (isSucess) {
            $('#noidung_success').text(text.toString());
            window.Message_Success.Show();
            setTimeout(function () { Message_Success.Hide(); }, 2000);
        }
        else {
            $('#noidung').text(text.toString());
            window.Message.Show();
        }
    }

    function OnBeginCallback(s, e) {
        //thay đổi pagesize
        var pagesize = parseInt($("#gvKyHan_DXPagerBottom_PSI").val());
        e.customArgs["gvKyHan_PageSize"] = pagesize;
    }

    function OnEndCallback(s, e) {
        if (s.IsNewRowEditing()) {
            var form = s.GetPopupEditForm();
            form.PopUp.AddHandler(function (s, e) {
                var editor = gvKyHan.GetEditor('ten_kyhan');
                editor.Focus();
            });
        }
        if (s.cpMessage != null) {
            showMessage(true, s.cpMessage);
            delete s.cpMessage;
        }

        //script ấn enter thì chuyển focus sang trường bên cạnh
        $("#gvKyHan_DXPEForm_DXEFL").find(".dxeEditAreaSys,.dxichSys,.dxbButtonSys").each(function (i, obj) {
            $(this).keypress(function (event) {
                if (event.which == 13) {
                    $("#gvKyHan_DXPEForm_DXEFL").find(".dxeEditAreaSys,.dxichSys,.dxbButtonSys").each(function (j, obj) {
                        if (j == (i + 1)) {
                            ////j nhỏ nhất bằng trường textbox cuối cùng trước khi tới checkbox
                            //if (j == 14 || j == 15 || j == 16 || j == 17) { // index checkbox
                            //    $("#gvDauTu_DXPEForm_DXEFL_DXEditor" + j + "_S").focus();
                            //} else
                            if (j == 3) { // button cập nhật
                                $("#gvKyHan_DXPEForm_DXEFL_DXCBtn0").focus();
                            } else {
                                $(this).focus();
                            }
                        }
                    });
                }
            });
        });
    }
</script>
@using (Html.BeginForm())
{
    <div>
        <div>
            <ul class="ul-tieude">
                <li>
                    <span>Danh mục kỳ hạn</span>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 text-right btn-span" id="demo">
            <div class="img-span" style="padding-bottom:18px"><img src="~/Content/Images/icon_mo_rong.png" /></div>
        </div>
        <div class="col-sm-12 none-padding chitiet" style="padding-bottom:15px">
            @Html.Partial("FilterView")
        </div>
    </div>
    <div>
        @Html.Action("DMKYHANPartial")
    </div>
    <div class="col-sm-12 none-padding footer">
        <div class="btm-toolbar">
            @Html.Partial("Footer")
        </div>
    </div>
}
@Html.Partial("_Message")
@Html.Partial("_MessageSuccess")
@Html.Partial("PopupConfirmDelete")