﻿@{
    ViewBag.Title = "Theo dõi lãi (tổng hợp)";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
}

<style>
    /*style lại popup edit gridview*/
    .dxgvPopupEditForm_EIS .dxeEditArea_EIS.dxeEditAreaSys {
        height: 18px;
    }

    .dxgvPopupEditForm_EIS .dxflHALSys.dxflVATSys.dxflCaptionCell_EIS.dxflCaptionCellSys {
        vertical-align: middle;
    }

    .dxgvPopupEditForm_EIS .dxflHARSys.dxflGroupCell_EIS {
        height: 30px;
    }
    /*--------------*/
</style>

<script type="text/javascript">

    $(document).ready(function () {
    });

</script>

<div>
    <div>
        <ul class="ul-tieude">
            <li>
                <span>Theo dõi lãi (tổng hợp)</span>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 text-right btn-span" id="demo">
        <div class="img-span" style="padding-bottom:18px"><img src="~/Content/Images/icon_mo_rong.png" /></div>
    </div>
    <div class="col-sm-12 none-padding chitiet" style="padding-bottom:15px">
        @Html.Partial("FilterView")
    </div>
</div>
<div id="">
    @Html.Action("TheoDoiLaiTongHopPartial")
</div>
