﻿@model System.Collections.IEnumerable

@{
    ViewBag.Title = "Quản lý hợp đồng";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@section HeadResources{
    @Html.Partial("HeadResourcesPartial")
<script type="text/javascript">
    function OnDeleteClick(s, e) {
        trangthai = false;
        var index = gvHDQH.GetFocusedRowIndex();
        //kiểm tra chọn bản ghi trước khi xóa
        if (index == null || index == -1) {
            showMessage(false, "vui lòng chọn 1 bản ghi !");
            return;
        }
        $("#popup_Delete_Confirm").val('ConfirmDeleteDM_NGANHANG');
        window.popup_Delete.Show();
    }
    function ConfirmDeleteDM_NGANHANG() {
        //gọi hàm xóa bản ghi
        var index = gvHDQH.GetFocusedRowIndex();
        gvHDQH.DeleteRow(index);
    }
    function showMessage(isSucess, text) {
        if (isSucess) {
            $('#noidung_success').text(text.toString());
            window.Message_Success.Show();
            setTimeout(function () { Message_Success.Hide(); }, 2000);
        }
        else {
            $('#noidung').text(text.toString());
            window.Message.Show();
        }
    }
    function fn_Timkiem() {
        var date = cbDenNgay.GetValue();
        var queryData = {
            gocLai: cbGocLai.GetValue(),
            dauTuId: cbDauTu.GetValue(),
            hopDongId: cbTenHD.GetValue(),
            denNgay: (date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear()
        };
        LoadingPanel.Show();
        $.ajax({
            type: "GET",
            url: '@Url.Action("HDQuaHanPartial", "HDQuaHan")',
            data: queryData,
            success: function (result) {
                LoadingPanel.Hide();
                if (result == "") {
                    showMessage(false, "Không tìm được dữ liệu khớp điều kiện tìm kiếm!");
                }
                else if (result == "TSNull") {
                    showMessage(false, "Chưa chọn điều kiện tìm kiếm!");
                }
                else
                    $('#gvDSHD').html(result);
            },
            failure: function () { showMessage(false, "Có lỗi xảy ra trong quá trình lấy dữ liệu!"); }
        });
    }
</script>
}
@using (Html.BeginForm())
{
    <div>
        @Html.DevExpress().RoundPanel(settings =>
       {
           settings.Name = "roundPanel";
           settings.AllowCollapsingByHeaderClick = true;
           settings.ShowCollapseButton = true;
           settings.EnableAnimation = true;
           settings.Width = Unit.Percentage(98);
           settings.HeaderText = "Quản lý hợp đồng";
           settings.Height = Unit.Pixel(25);
           settings.SetContent(() => Html.RenderPartial("FilterView"));
       }).GetHtml()
    </div>
    <div id="gvDSHD">
        @Html.Action("HDQuaHanPartial")
    </div>

    <div style="margin: auto; width: 480px">
        @Html.Partial("Footer")
    </div>
}
@Html.Partial("LoadingPanel")
@Html.Partial("_Message")
@Html.Partial("_MessageSuccess")
@Html.Partial("PopupConfirmDelete")
<div id="Report_Result1"></div>